/*
*-----------------------------------
商品管理页面 goods.html  李鸿文 2015-05-21
*-----------------------------------
*/
html,body{height: 100%;width: 100%;background-color: #f0f0f0;}
body{font:400 16px/28px "microsoft yahei",Arial; color:#434343;}
ul,li{list-style: none;}
a{outline: none; color:#404089;}
a:hover{text-decoration: none; }
.h-fl{float: left;}
.h-fr{float: right;}
.h-block{display:block;}
.h-iblock{display: inline-block;}
.h-margin10{margin:10px auto;}
.color666{color:#666;}
.red-txt{color:#b83126;}
.blue-txt{color:#404089;}

.h_goodsQuery{height:auto; position: relative; overflow: hidden; clear:both;}
.h-prod-title{height: 45px; line-height: 45px; text-align:center; border-bottom: 1px solid #ddd;}
#prod-form label.color666{font-weight: normal;}
#h-item-title{position: relative;height: 50px; line-height: 50px; margin-bottom: 10px; box-shadow: 1px 1px 1px 1px #e2e2e4; background-color: #fff; text-align: center;} 
.h-item-list-10{width: 10%;}
.h-item-list-12{width: 12%;}
.h-item-list-14{width: 14%;}
.h-item-list-25{width: 25%;}
.h-item-list-5{width: 5%;}
.h-item-list-5,.h-item-list-10,.h-item-list-12,.h-item-list-14,.h-item-list-25{position: relative;}

.isnoquery{height:400px; background:#fff url(../img/no_query.png) no-repeat 200px 100px;}
.innoquery{background-image:none;}

#h-productWrap{font-size:14px; text-align: center; background-color: #fff;}
#h-productWrap .h-product-box{height: 50px; line-height: 50px; border-bottom: 1px solid #ddd; text-align: left; padding: 0 10px;}
#h-productWrap .h-product-ul{margin:0; padding:0; clear: both; position: relative; padding-bottom:80px;}
#h-productWrap .h-list-checkbox{position: absolute; top: 35%; left:8px;}
#h-productWrap .h-product-name{margin-left: 30px; padding-left: 88px; position: relative;}
#h-productWrap .h-product-name img{position: absolute; left: 0; top: 0; width: 80px; height: 80px;}
#h-productWrap a.blue-txt:hover{color:#404089;}
#h-productWrap a.red-txt:hover{color:#b83126;}
.h-product-name p{line-height: 20px;}
#h-productWrap .h-product-ul li{clear: both; padding:10px 0; min-height:100px; border-bottom: 1px dashed #ddd; overflow: hidden; position: relative;}
.goods-btnAdd{display: block; position: absolute; right: 20px; top: 0;}

/*
*----------------------------------------------
添加商品页面 goodsAdd.html  李鸿文 2015-05-27
*----------------------------------------------
*/
.goodsAdd-content label{font-weight: normal; color: #666; font-size: 16px;}

/*图片上传*/
#goodsAdd-imgUl{margin: 0 auto; padding: 0;}
#goodsAdd-imgUl .goodsAdd-imgLi{width: 130px; height: 130px; border:1px solid #ddd; margin-right:20px;margin-bottom: 25px; float: left; position:relative; }
.goodsAdd-img{height:115px;}
.goodsAdd-imgLi img{width:100%;max-width: 100%; height:115px;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi{cursor:pointer; border-style:dashed;position:relative;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi:hover{border-color:red;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi span.glyphicon.glyphicon-plus{color:#E6E6EA; font-size:70px; position:absolute; left:30px; top:20px;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi em{font-size:12px;padding:5px; color:#999; position:absolute; left:20px; bottom:0; font-style:normal;}
#goodsAdd-imgUl .goodsAdd-imgaction{display:none;position:absolute; left:0;  bottom:24px; height:24px; line-height:24px; width:100%; background-color:rgba(128, 128, 128, 0.8);}
.goodsAdd-imgaction a.imgaction-item{padding-left:20px; font-size:14px; color:#fff;}
.h-img-update{background:url(../img/icon_update.png) no-repeat 0 0; background-size:18px;}
.h-img-del{background:url(../img/icon_del2.png) no-repeat 0 0; background-size:25px;}
.goodsAdd-imgaction a.imgaction-item.h-img-del{margin-left:10px;}
.goodsAdd-iconAdd {position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;color: #be0c0c;background:#eee; opacity:0.8; font-size: 14px;line-height: 24px; height:24px;}
a.goodsAdd-iconAdd{outline:none;color:red;}
a.goodsAdd-iconAdd:hover{color:red; text-decoration:none;}
/*商品属性*/ /*商品分类*/
div.h-categorySelect{display:inline-block; margin:10px 10px 10px 0;}
#h-goodsAddSx,#h-goodsAddClassBox{padding:10px;border:1px solid #ddd; min-height:70px; background-color:#fff;  border-radius:4px; position:relative; clear:both; overflow:hidden;}
#h-goodsAddSx span.fl,#h-goodsAddClassBox span.fl{float:left; display:block; width:120px; text-align:right; }
#h-goodsAddSx span.fl label,#h-goodsAddClassBox span.fl label{font-size:14px; padding-right:10px;}
#h-goodsAddSx li,#h-goodsAddClassBox li{list-style:none; margin:10px auto; overflow:hidden; clear:both;}
.fl{float:left;}

#h-categorySKUAttrib{font-size:12px;border:1px solid #ddd; background-color:#fff;  border-radius:4px; position:relative; clear:both; overflow:hidden; padding-bottom:10px;}
#h-categorySKUAttrib .h-categorySKUAttrib-btn{padding:5px 0; border-top:1px solid #dde9f5; border-bottom:1px solid #dde9f5; position:relative;}
#h-categorySKUAttrib .h-categorySKUAttrib-btn button{height:28px!important; line-height:15px; font-size:12px; margin-left:20px;}
#h-categorySKUAttrib h3.h-categorySKUAttrib-title{background:#f1f8ff; margin:0; padding:8px 5px; font-size:14px; border-bottom:1px solid #dde9f5;}
#h-categorySKUAttrib .h-categorySKUAttrib-ul{margin:8px; border:1px solid #ddd; overflow:hidden; clear:both; padding-left:12px;}
#h-categorySKUAttrib .h-categorySKUAttrib-ul li{list-style:none; height:30px; padding:2px; float:left; display:inline-block;  margin-right:50px;}
#h-categorySKUAttrib .h-categorySKUAttrib-ul label{font-size:14px;}


/*商品分类*/

.h-goodsAddClass{width:220px;position:relative;}
.h-goodsAddClass span.h-ng-inputSelect{position:absolute;top:2px;left:2px;}
.h-ng-inputSelect input{border:0; height:28px; line-height:28px; width:200px; font-size:14px; outline:none; padding-left:12px;}

#h-categorySKUAttrib .h-goodsAddClass{width:auto;min-width:120px;position:relative;}
#h-categorySKUAttrib .h-goodsAddClass select.form-control,#h-categorySKUAttrib .h-goodsAddClass input.form-control{/* height:28px!important; line-height:28px!important; */ padding:0!important;}
#h-categorySKUAttrib .h-goodsAddClass span.h-ng-inputSelect{position:absolute;top:2px;left:2px; width:85%;}
#h-categorySKUAttrib .h-ng-inputSelect input{border:0; height:25px; line-height:25px; width:90%; font-size:14px; outline:none; padding-left:0;}
.h-formInput{/* height:25px!important; line-height:25px!important; */ padding-left:2px!important;}

.masget-top{
    position: fixed;
    top:40%;
    left:40%;
}

#h_goodsunit-select span.btn.btn-default.form-control.ui-select-toggle{border-bottom-left-radius:4px;border-top-left-radius:4px;}
.h_border-left-radius0{border-bottom-left-radius:0!important;border-top-left-radius:0!important;}
.h_border-right-radius0{border-bottom-right-radius:0!important; border-top-right-radius:0!important;}

a.red-txt,a.red-txt:hover{font-size:14px; color:#b83126; line-height:32px;}

/*验证错误样式*/
.haserror .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.haserror .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.ng-messages-error{font-size:12px; color:red;}
span.glyphicon{padding-right:3px;}

.h_btn_disabled{cursor:not-allowed;border:none; padding:0;}
.green{color: #69AA46 !important;}
.blue{color: #478FCA !important;}
.red{color:#DD5A43 !important}
