<div class="col-md-12 column" ng-controller="deliverygoodsAddController">
	<form class="form-inline" name="deliverygoodsForm">
		<div class="col-md-12 text-center" style="font-size: 20px;padding: 0px">
			<label>发货单</label>
		</div>
		<div class="col-md-12" style="border: 1px solid #DDDDDD;padding: 10px 10px 10px 0px">
			<div class="col-md-1" style="font-size: 17px;height: 150px;display: table;padding: 0px;">
				<div style="height: 100px;vertical-align: middle;display: table-cell;text-align: center ;border-radius:20px;width: 10px"><label>发货<br>信息</label></div>
			</div>
			<div class="col-md-11" style="border: 1px #DDDDDD solid;padding: 0px;background-color: gray1">
				<div class="col-md-12 marginTop13px" style="padding: 0px">
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;font-size: 15px;">
						<label>发货单号：</label>
					</div>
					<div class="col-sm-2 text-left" style="padding: 0px;">
						<input type="text" name="deliverynum " ng-model="formData.deliverynum" readonly="readonly" class="form-control input-sm" style="width: 90%">
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>仓库：</label> 
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:deliverygoodsForm.storehouse.$invalid&&formData.isCommitted}" style="padding: 0px;vertical-align:middle;">
						<comboxtable name="storehouse" ng-model="formData.storehouse" column-names="['站点','地址']" column-fields="['stationname','address']" 
                     		    text-field="stationname" datas="storehouses" on-change="queryStorehouse()" key-word="queryFormData.storehouseKeyword" is-required="true" is-disabled="formData.isStorehouseKeywordDisabled" is-show-index="true"
                     			content-style="width: 90%;" input-style="font-size:13px" input-class="form-control">
                     	</comboxtable>
						<div ng-messages="deliverygoodsForm.storehouse.$error" ng-show="deliverygoodsForm.storehouse.$invalid&&formData.isCommitted"  class="ng-messages-error">
							<span ng-message="required">仓库不能为空</span>
						</div>
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>物流：</label>
					</div>
					<div class="col-sm-4 text-left" ng-class="{haserror:deliverygoodsForm.logistic.$invalid&&formData.isCommitted}" style="padding: 0px;">
						<comboxtable name="logistic" ng-model="formData.logistic" column-names="['负责人','物流公司','站点','地址','联系电话']" column-fields="['staffname','companyname','stationname','address','mobilephone']" 
                     		    text-field="companyname" datas="logistics.data.rows" on-change="queryLogistic()" key-word="queryFormData.logisticKeyword" is-required="true" is-disabled="formData.logisticDisabled||isView" is-show-index="true"
                     			content-style="width: 50%;" input-style="font-size:13px" input-class="form-control"
                     			is-show-pagination="true" recordcount="{{logistics.data.total}}" pagenum="queryLogisticFormData.pageNum" pagesize="queryLogisticFormData.pageSize">
                     	</comboxtable>
						<div ng-messages="deliverygoodsForm.logistic.$error" ng-show="deliverygoodsForm.logistic.$invalid&&formData.isCommitted" class="ng-messages-error">
							<span ng-message="required">物流不能为空</span>
						</div>
						<button type="button" class="btn btn-primary btn-sm" ng-click="showDatasourceModal()" ng-if="isShowImportDataLink" style="margin-left: 20px;">
							<span class="glyphicon glyphicon-import" aria-hidden="true">导入数据</span>
						</button>
					</div>
				</div>
				<div class="col-md-12 marginTop13px" style="padding: 0px;">
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>发货人：</label>
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:deliverygoodsForm.enterprise.$invalid&&formData.isCommitted}" style="padding: 0px;">
						<comboxtable name="enterprise" ng-model="formData.enterprise" column-names="['员工','站点','联系电话']" column-fields="['staffname','stationname','mobilephone']" 
                     		    text-field="staffname" datas="enterprises.data.rows" on-change="queryEnterprise()" on-reset="resetActionWithEnterprise()" key-word="queryFormData.enterpriseKeyword" is-required="true" is-disabled="formData.isEnterpriseDisabled" is-show-index="true"
                     			content-style="width: 90%;" input-style="font-size:13px" input-class="form-control"
                     			is-show-pagination="true" recordcount="{{enterprises.data.total}}" pagenum="queryEnterpriseFormData.pagenum" pagesize="queryEnterpriseFormData.pagesize">
                     	</comboxtable>
						<div ng-messages="deliverygoodsForm.enterprise.$error" ng-show="deliverygoodsForm.enterprise.$invalid&&formData.isCommitted" class="ng-messages-error">
							<span ng-message="required">发货人不能为空</span>
						</div>
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>联系电话：</label> 
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:deliverygoodsForm.enlinkerphone.$invalid&&formData.isCommitted}" style="padding: 0px;">
						<input type="text" name="enlinkerphone" ng-model="formData.enlinkerphone" ng-readonly="isView" required ng-pattern="/^(0[0-9]{2,3}\-)?([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$|1[0-9]{2}[0-9]{8}$/" placeholder="请输入联系电话" class="form-control input-sm" style="width: 90%;">
						<div ng-messages="deliverygoodsForm.enlinkerphone.$error" ng-show="deliverygoodsForm.enlinkerphone.$invalid&&formData.isCommitted"  class="ng-messages-error">
							<span ng-message="required">联系电话不能为空</span>
							<span ng-message="pattern">请输入正确格式的手机号码</span>
						</div>
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>发货地址：</label> 
					</div>
					<div class="col-sm-4 text-left" ng-class="{haserror:deliverygoodsForm.sendaddress.$invalid&&formData.isCommitted}" style="padding: 0px;">
						<input name="sendaddress" select-address ng-model="formData.sendaddress" ng-disabled="formData.isSendaddressDisabled||isView" required placeholder="点击选择地区信息" class="form-control input-sm" type="text" style="width: 50%;" />
						<input name="sendaddressExtra" ng-model="formData.sendaddressExtra" ng-disabled="formData.isSendaddressDisabled||isView" placeholder="请输入详细地址"  class="form-control input-sm" type="text" style="width: 40%;" />
						<div ng-messages="deliverygoodsForm.sendaddress.$error" ng-show="deliverygoodsForm.sendaddress.$invalid&&formData.isCommitted"  class="ng-messages-error">
							<span ng-message="required">发货地址不能为空</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 marginTop13px" style="padding: 0px;">
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>收货人：</label> 
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:deliverygoodsForm.recvcompany.$invalid&&formData.isCommitted}" style="padding: 0px;">
						<comboxtable name="recvcompany" ng-model="formData.recvcompany" column-names="['收货人','客户名称','联系电话','地址']" column-fields="['staffname','companyname','mobilephone','address']" 
                     		    text-field="staffname" datas="recvcompanys.data.rows" on-change="queryRecvcompany()" on-reset="resetActionWithRecvcompany()" key-word="queryFormData.recvcompanyKeyword" is-required="true" is-disabled="formData.isRecvcompanyDisabled" is-show-index="true"
                     			content-style="width: 90%;" input-style="font-size:13px" input-class="form-control"
                     			is-show-pagination="true" recordcount="{{recvcompanys.data.total}}" pagenum="queryRecvcompanyFormData.pageNum" pagesize="queryRecvcompanyFormData.pageSize">
                     	</comboxtable>
                     	<a href="javascript:;" ng-click="showContractorModal('recvcompany')" style="float:right;margin-top: 5px;"><span class="glyphicon glyphicon-plus"></span></a>
						<div ng-messages="deliverygoodsForm.recvcompany.$error" ng-show="deliverygoodsForm.recvcompany.$invalid&&formData.isCommitted" class="ng-messages-error">
							<span ng-message="required">收货人不能为空</span>
						</div>
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>联系电话：</label>
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:deliverygoodsForm.recvlinkerphone.$invalid&&formData.isCommitted}" style="padding: 0px;vertical-align:middle;">
						<input type="text" name="recvlinkerphone" ng-model="formData.recvlinkerphone" ng-readonly="isView" required ng-pattern="/^(0[0-9]{2,3}\-)?([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$|1[0-9]{2}[0-9]{8}$/" placeholder="请输入联系电话" class="form-control input-sm" style="width: 90%;">
						<div ng-messages="deliverygoodsForm.recvlinkerphone.$error" ng-show="deliverygoodsForm.recvlinkerphone.$invalid&&formData.isCommitted" class="ng-messages-error">
							<span ng-message="required">联系电话不能为空</span>
							<span ng-message="pattern">请输入正确格式的手机号码</span>
						</div>
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>收货地址：</label> 
					</div>
					<div class="col-sm-4 text-left" ng-class="{haserror:deliverygoodsForm.recvaddress.$invalid&&formData.isCommitted}" style="padding: 0px;">
						<input name="recvaddress" select-address ng-model="formData.recvaddress" ng-disabled="formData.isRecvaddressDisabled||isView" required placeholder="点击选择地区信息" class="form-control input-sm" type="text" style="width: 50%;" />
						<input name="recvaddressExtra" ng-model="formData.recvaddressExtra" ng-disabled="formData.isRecvaddressDisabled||isView" placeholder="请输入详细地址"  class="form-control input-sm" type="text" style="width: 40%;" />
						<div ng-messages="deliverygoodsForm.recvaddress.$error" ng-show="deliverygoodsForm.recvaddress.$invalid&&formData.isCommitted"  class="ng-messages-error">
							<span ng-message="required">收货地址不能为空</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 marginTop13px marginBottom12px" style="padding: 0px">	
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>备注：</label>
					</div>
					<div class="col-sm-2 text-left" style="padding: 0px;">
						<input type="text" name="remark1" ng-model="formData.remark1" ng-readonly="isView" class="form-control input-sm" placeholder="{{isView==true?'':'请输入发货单说明或注意事项'}}" style="width: 90%">
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>提货方式：</label> 
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:deliverygoodsForm.consignmentType.$invalid&&formData.isCommitted}" style="padding: 0px;vertical-align:middle;">
						<select name="consignmentType" ng-model="formData.consignmentType" ng-disabled="isView" required class="form-control" style="width: 90%;height: 31px">
							<option ng-repeat="consignmentType in consignmentTypes" value="{{consignmentType.value}}">{{consignmentType.name}}</option>
						</select>
						<div ng-messages="deliverygoodsForm.consignmentType.$error" ng-show="deliverygoodsForm.consignmentType.$invalid&&formData.isCommitted"  class="ng-messages-error">
							<span ng-message="required">提货方式不能为空</span>
						</div>
					</div>
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>送货方式：</label> 
					</div>
					<div class="col-sm-4 text-left" ng-class="{haserror:deliverygoodsForm.deliveryType.$invalid&&formData.isCommitted}" style="padding: 0px;vertical-align:middle;">
						<select name="deliveryType" ng-model="formData.deliveryType" ng-disabled="isView" required class="form-control" style="width: 50%;height: 31px">
							<option ng-repeat="deliveryType in deliveryTypes" value="{{deliveryType.value}}">{{deliveryType.name}}</option>
						</select>
						<label><input type="checkbox" ng-model="formData.receiptflag" ng-disabled="isView" ng-true-value="2" ng-false-value="1">要求回单</label>
						<div ng-messages="deliverygoodsForm.deliveryType.$error" ng-show="deliverygoodsForm.deliveryType.$invalid&&formData.isCommitted" class="ng-messages-error">
							<span ng-message="required">送货方式不能为空</span>
						</div>
					</div>
					
					
				</div>

			</div>
			<div class="col-md-1" style="font-size: 17px;height: 180px;margin:10px auto 0px auto;display: table;padding: 0px;background-color: gray1">
				<div style="height: 180px;vertical-align: middle;display: table-cell;text-align: center;"><label>货物<br>明细</label></div>
			</div>
			<div class="col-md-11" style="height:180px;overflow:auto;margin:10px auto 0px auto;padding: 0px;background-color: gray1">
				<div ui-view="commodityList"></div>
			</div>
			<div class="col-md-1" style="display: none"></div>
			<div class="col-md-11" style="overflow:auto;display: none;">
				<table class="table" style="border: 0px">
					<tbody>
						<tr>
							<td style="width: 60px"></td>
							<td style="width: 220px"></td>
							<td style="width: 150px"></td>
							<td style="width: 100px">135</td>
							<td style="width: 100px">25.00</td>
							<td style="width: 100px">35.00</td>
							<td style="width: 100px">25.00</td>
							<td style="width: 120px">运费合计</td>
							<td style="width: 160px" colspan="2">25.00</td>
						<tr>
					</tbody>
				</table>
			</div>				
			<div class="col-md-1" style="font-size: 17px;height: 50px;display: table;padding: 0px;margin-top: 10px;">
				<div style="height: 50px;vertical-align: middle;display: table-cell;text-align: center;"><label>货款</label></div>
			</div>
			<div class="col-md-11" style="border: 1px #DDDDDD solid;margin-top: 10px;">
				<div class="col-md-12 marginTop13px marginBottom15px" style="padding: 0px">	
					<div class="form-group col-sm-1" style="padding: 3px 0px 0px 0px;">
						<label>总金额：</label> 
					</div>
					<div class="col-sm-2 text-left"  style="padding: 0px;">
						<input type="text" name="sumGoodsPrice" ng-model="formData.sumGoodsPrice" decimal disabled="disabled" placeholder="￥0.00" class="form-control input-sm" style="width: 90%">
					</div>
					<div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
						<label>物流代收金额：</label> 
					</div>
					<div class="col-sm-2 text-left" ng-class="{haserror:(deliverygoodsForm.sumCodPrice.$invalid&&formData.isCommitted)||(isSumCodPriceCorrect()==false&&formData.isCommitted)}" style="padding: 0px;">
						<input type="text" name="sumCodPrice" ng-model="formData.sumCodPrice" decimal ng-pattern="/^[0-9]+\.{0,1}[0-9]{0,}$/" ng-change="isSumCodPriceCorrect()" ng-disabled="isView||operaType=='insertByImport'||(formData.datasource!=1&&operaType=='update')||formData.codflag==2" placeholder="￥0.00" class="form-control input-sm" style="width: 70%">
						<label><input type="checkbox" ng-model="formData.codflag" ng-change="codflagChange()" ng-disabled="isView||operaType=='insertByImport'||(formData.datasource!=1&&operaType=='update')" ng-true-value="1" ng-false-value="2">代收</label>
						<div ng-messages="deliverygoodsForm.sumCodPrice.$error" ng-show="deliverygoodsForm.sumCodPrice.$invalid&&formData.isCommitted" class="ng-messages-error">
							<span ng-message="pattern">物流代收金额只能为数字</span>
						</div>
						<div ng-show="isSumCodPriceCorrect()==false&&formData.isCommitted" class="ng-messages-error">
							<span>物流代收金额不能大于货物总金额</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-12 column padding0px margin0px">
			<div class="col-md-12 column marginTop10px text-center" ng-if="!isView">
				<button type="button" class="btn btn-default" ng-click="clear()">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true">清空</span>
				</button>
				<div class="btn-group dropup">
					<button type="button"  ng-disabled="isPrintDisabled" ng-click="createPrint(template)" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="选择打印模板">
						<span class="glyphicon glyphicon-print" aria-hidden="true"></span> 打印
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="template in templates" ng-class="{active:template.isActive}"><a href="javascript:;" ng-click="createPrint(template)">{{template.tempname}}</a></li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary" ng-click="createOrder()" ng-disabled="isCreateOrderDisabled">
					<span class="glyphicon glyphicon-saved" aria-hidden="true" ng-show="{{operaType=='update'}}"></span>
					<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-show="{{operaType!='update'}}"></span>
					{{operaType=='update'?'保存':'开单'}}
				</button>
			</div>
			<div class="col-md-12 column marginTop10px text-center" ng-if="isView">
				<button type="button" class="btn btn-default"  ui-sref="list">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true">返回</span>
				</button>
			</div>
		</div>
	</form>
	<div class="col-md-12 column padding0px margin0px">
		<div ui-view="datasourceModal"></div>
	</div> 
	<div class="col-md-12 column padding0px margin0px">
		<div ui-view="contractorModal"></div>
	</div>
</div>