<!-- 模态框（Modal） -->
<div class="modal fade" id="contractorModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog"  style="width: 550px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
				<h4 class="modal-title"> 添加{{contractor_modal_title}}</h4>
			</div>
			<div class="modal-body" style="height: 400px">
				<form name="contractorForm" class="form-inline">
					<div class="col-sm-12" ng-class="{haserror:contractorForm.companyname.$invalid&&contractor.isCommitted}" style="padding:0px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">公司名称：</div>
						<div class="col-sm-10">
							<input type="text" name="companyname" ng-model="contractor.companyname" required placeholder="输入公司名称" class="form-control input-sm" style="width: 75%">
							<span style="color: red;">*必填</span>
						</div>
					</div>
					<div class="col-sm-12" style="padding:0px;margin-top: 13px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">公司简介：</div>
						<div class="col-sm-10">
							<textarea  name="profile" ng-model="contractor.profile"  placeholder="输入公司简介" class="form-control input-sm" style="width: 75%"></textarea>
						</div>
					</div>
					<div class="col-sm-12" ng-class="{haserror:contractorForm.contactname.$invalid&&contractor.isCommitted}" style="padding:0px;margin-top: 13px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">联系人：</div>
						<div class="col-sm-10">
							<input type="text" name="contactname" ng-model="contractor.contactname" required placeholder="输入联系人名称" class="form-control input-sm" style="width: 75%">	
							<span style="color: red;">*必填</span>
						</div>
					</div>
					<div class="col-sm-12" ng-class="{haserror:contractorForm.mobilephone.$invalid&&contractor.isCommitted}" style="padding:0px;margin-top: 13px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">联系电话：</div>
						<div class="col-sm-10">
							<input type="text" name="mobilephone" ng-model="contractor.mobilephone" required ng-pattern="/^(0[0-9]{2,3}\-)?([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$|1[0-9]{2}[0-9]{8}$/" placeholder="输入联系电话" class="form-control input-sm" style="width: 75%">	
							<span style="color: red;">*必填</span>
							<div ng-messages="contractorForm.mobilephone.$error" ng-show="contractorForm.mobilephone.$invalid&&contractor.isCommitted" class="ng-messages-error">
								<span ng-message="pattern" style="color: red;">请输入正确的联系电话</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12" style="padding:0px;margin-top: 15px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">传真号：</div>
						<div class="col-sm-10">
							<input type="text" name="faxnumber" ng-model="contractor.faxnumber"  placeholder="输入传真号" class="form-control input-sm" style="width: 75%">	
						</div>
					</div>
					<div class="col-sm-12" ng-class="{haserror:contractorForm.pca.$invalid&&contractor.isCommitted}" style="padding:0px;margin-top: 13px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">地址：</div>
						<div class="col-sm-10">
							<input type="text" name="pca" select-address ng-model="contractor.pca" required pca-ids="contractor.pcaids"  placeholder="点击选择地区信息" class="form-control input-sm" style="width: 75%">	
							<span style="color: red;">*必填</span>
						</div>
					</div>
					<div class="col-sm-12" ng-class="{haserror:contractorForm.address.$invalid&&contractor.isCommitted}" style="padding:0px;margin-top: 13px;">
						<div class="col-sm-2 text-right" style="padding: 5px;"></div>
						<div class="col-sm-10">
							<input type="text" name="address" ng-model="contractor.address" required placeholder="输入详细地址" class="form-control input-sm" style="width: 75%">	
							<span style="color: red;">*必选</span>
						</div>
					</div>
					<div class="col-sm-12" ng-class="{haserror:contractorForm.addressgroupid.$invalid&&contractor.isCommitted}" style="padding:0px;margin-top: 13px;">
						<div class="col-sm-2 text-right" style="padding: 5px;">分组：</div>
						<div class="col-sm-10">
							<select name="addressgroupid" ng-model="contractor.addressgroupid" required ng-options="item.addressgroupid as item.addressgroupname for item in addressGroups" style="width:75%;height: 30px;padding: 0px" class="form-control">
								<option value="">--请选择--</option>
							</select>
							<span style="color: red;">*必选</span>	
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			 	<button type="button" class="btn btn-primary" ng-click="addContractor(contractorForm)">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 模态框（Modal）结束-->