<form class="form-inline">
	<div class="col-sm-1 text-right" style="padding: 5px 0px 0px 0px;">
		<label>单号：</label>
	</div>
	<div class="col-sm-3 text-left" style="padding: 0px;">
		<input type="text" name="deliverynum" ng-model="formData.deliverynum"  placeholder="输入单号查询" class="form-control input-sm" style="width: 80%">					
	</div>
	
	<div class="col-sm-1 text-right" style="padding: 5px 0px 0px 0px;">
		<label>状态 ：</label>
	</div>
	<div class="col-sm-3 text-left" style="padding: 0px;">
		<select name="state" ng-model="formData.state" class="form-control input-sm" style="width:80%;height: 30px">
			<option value="" >全部</option>
			<option value="1">待审核</option>
			<option value="2">审核</option>
			<option value="3">已交寄</option>
			<option value="4">物流受理</option>
			<option value="5">物流拒单</option>
			<option value="6">物流已收货</option>
			<option value="7">收货方已收货</option>
			<option value="8">已部分退回</option>
			<option value="9">全部退回</option>
			<option value="10">丢失</option>
			<option value="11">取消</option>
		</select>					
	</div>
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary btn-sm" style="width: 100px" ng-click="queryForm(1)">查找</button>
	</div>
	<br><br>
	
	<div class="col-sm-1 text-right" style="padding: 5px 0px 0px 0px;">
		<label>开始日期 ：</label>
	</div>
	<div class="col-sm-3 text-left" style="padding: 0px;">
		<input name="screatedtime" type="text" ng-model="formData.screatedtime"  required class="form-control" data-max-date="{{formData.ecreatedtime}}"  data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;width:80%">
	</div>
	
	<div class="col-sm-1 text-right" style="padding: 5px 0px 0px 0px;">
		<label>结束日期 ：</label>
	</div>
	<div class="col-sm-3 text-left" style="padding: 0px;">
		<input name="ecreatedtime" type="text" ng-model="formData.ecreatedtime"  required class="form-control" data-min-date="{{formData.screatedtime}}"  data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;width:80%">			
	</div>
	<br><br>
</form>			
