<div class="col-md-12 column" ng-controller="staffstationController">
	<form class="form-inline consignnoteForm" name="consignnoteForm">
		<div class="col-md-12 text-right" style="font-size: 20px;padding: 0px">
			<a ui-sref="list"class="btn btn-primary btn-sm" style="width: 100px" ng-if="isShowList">查询</a>
		</div>
		<div class="col-md-12 text-center" style="font-size: 20px;padding: 0px">
			<label>员工工作站点配置</label>
		</div>
		<div class="col-md-12" style="border: 1px solid #DDDDDD;padding: 10px 10px 10px 0px;">
			<div class="col-md-12 marginTop14px" style="padding: 0px;">
				<div class="form-group col-sm-4" style="padding: 3px 0px 0px 0px;">
					<label>被分配员工：</label> 
				</div>
				<div class="col-sm-2 text-left" ng-class="{haserror:consignnoteForm.recvcompany.$invalid&&formData.isCommitted}" style="padding: 0px;">
					<comboxtable name="recvcompany" ng-model="formData.recvcompany" column-names="['员工姓名','所属站点','联系电话']" column-fields="['staffname','stationname','mobilephone']" 
                    		    text-field="staffname" datas="recvcompanys.data.rows" on-change="queryRecvcompany()" on-reset="resetActionWithRecvcompany()" key-word="queryFormData.recvcompanyKeyword" is-required="true" is-disabled="formData.isRecvcompanyDisabled" is-show-index="true"
                    			content-style="width: 90%;" input-style="font-size:13px" input-class="form-control" readonly="readonly"
                    			is-show-pagination="true" recordcount="{{recvcompanys.data.total}}" pagenum="queryRecvcompanyFormData.pageNum" pagesize="queryRecvcompanyFormData.pageSize">
                    	</comboxtable>
					<div ng-messages="consignnoteForm.recvcompany.$error" ng-show="consignnoteForm.recvcompany.$invalid&&formData.isCommitted" class="ng-messages-error">
						<span ng-message="required">请选择员工</span>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="clearfix" style="padding: 0px;width: 700px;margin:0 auto;padding-top:20px;">
				<div style="float:left;border: 1px solid #DDDDDD">
					<div style="padding: 5px;border-bottom: 1px solid #DDDDDD;background: transparent -moz-linear-gradient(center bottom, #EEE 0%, #FFF 100%) repeat scroll 0% 0%;">可分配站点：</div> 
					<div class="zTreeDemoBackground left" style="padding: 5px 0px 0px 0px;">
					  <ul id="stationTree" class="ztree"></ul>
				  	</div>
				</div>
				<div style="width:120px;text-align:center;float:left;padding-top: 60px;">
					<input type="button" value=">>" style="width: 60px;" ng-click="clickRight()"><br><br>
					<input type="button" value="<<" style="width: 60px;" ng-click="clickLeft()">
				</div>
				<div style="float:left;border: 1px solid #DDDDDD">
					<div style="padding: 5px;border-bottom: 1px solid #DDDDDD;background: transparent -moz-linear-gradient(center bottom, #EEE 0%, #FFF 100%) repeat scroll 0% 0%;">已分配站点：</div>
					<div class="zTreeDemoBackground left">
					  <ul id="hasStationTree" class="ztree"></ul>
				  	</div>
				</div>
				
			</div>
		</div>
		<div class="col-md-12 column padding0px margin0px">
			<div class="col-md-12 column marginTop10px text-center">
				<button type="button" class="btn btn-default masget-btn-default" ng-click="clear()">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true">清空</span>
				</button>
				<button type="button" class="btn btn-primary" ng-click="assignStation()" ng-disabled="isCreateOrderDisabled">
					保存
				</button>
			</div>
		</div>
	</form>
</div>