<div class="col-md-12 column"  style="padding: 10px 0 0 0;margin: 0px">
	<div class="col-md-12 column">
		<form class="form-inline">
			<div class="col-md-12 column" style="padding: 0 0 10px 0;">
				<div class="col-sm-1 text-right" style="padding: 5px 0px 0px 0px;">
					<label>资源主码：</label>
				</div>
				<div class="col-sm-3 text-left width200" style="padding: 0px;">
					<input type="text" name="resourceid" ng-model="resourceModel.resourceid"  placeholder="输入资源主码查询" class="form-control input-sm" >					
				</div>
				
				<div class="col-sm-1 text-right" style="padding: 5px 0px 0px 0px;">
					<label>资源名称：</label>
				</div>
				<div class="col-sm-3 text-left width200"  style="padding: 0px;">
	                <input type="text" name="resourcename" ng-model="resourceModel.resourcename"  placeholder="输入资源名称查询" class="form-control input-sm" >									
				</div>
				<div class="col-sm-3 text-center" >
					<button type="button" class="btn btn-primary btn-sm" style="width: 100px" ng-click="check()">查询</button>
					<button type="button" class="btn btn-primary btn-sm" style="width: 100px" ng-click="addModel()">新增</button>
				</div>
			</div>
		</form>			
	</div>
	<div class="col-sm-12" style="overflow: auto;height: 550px;width: 100%;padding: 0px">
		<div ui-view="resource_checkList" style="  overflow: auto;height:520px;"></div>
	</div>
	<div class="col-md-12 column">
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height: 40px;">
			<pagination recordcount="{{total}}" pagenum="resourceModel.pageNum" pagesize="resourceModel.pageSize" onselect="check()"></pagination>
		</nav>
	</div>
</div>
<div ng-if="iconFlag == 'add'" style="width:100%;height:100%;position: absolute;background: #D5D5D5;opacity:0.5;z-index:1132;  margin-left: -10px;">
</div>
<div ng-if="iconFlag == 'add'" style="width:100px;height:100px;z-index:1133;  position: fixed;top: 40%;left: 50%;">
	<span class="icon-spinner icon-spin" style="font-size:50px;opacity:1"></span>
	<div style="margin-left: -16px;">{{context}}</div>
</div>