@CHARSET "UTF-8";
.well {
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
}

form label {
	font-weight: normal;
}

.ui-grid-cell-contents{
	text-align:center;
}
.ui-grid-render-container-body>.ui-grid-viewport{
	width: auto !important;
}
.grid {
	width: 100%;
}

.ng-messages-error{
	margin-left: 110px;
}
.ng-messages-error div {
	position: absolute;
	z-index: 100;
	font-size: 12px;
	color: red
}
.form-control[readonly],.btn[disabled]{
	cursor: not-allowed;
	background-color: #eee;
}
.btn[disabled]{
	pointer-events: all;
	background-color: #E2E2E2;
}
.col-sm-5{
	padding-right: 0;
}

.haserror .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.haserror .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.queryForm .Wdate{
	height: 30px;
}

.modal-footer{
	text-align: center;
}

.form_staff .form-control{
	width: 190px;
}

.form_staff .marginTop{
	margin-top: 18px;
}

.form_staff .valid_error{
	font-size: 12px;
  	color: red;
  	position: absolute;
  	z-index: 100;
  	margin-left:80px;
}
.width330{
	width:330px;
}
.textbox-invalid {
  border-color: #ccc !important;
  background-color: #fff !important;
}
.validatebox-invalid {
  border-color: #ccc !important;
  background-color: #fff !important;
}

.masget-top{
    position: absolute;
    top:40%;
    left:40%;
	z-index: 100000;
}
.height420{
	min-height: 365px !important;
	margin:1% auto;
 	width: 715px;
}
#autowith{
	width:auto
}
/*图片上传*/
#goodsAdd-imgUl{margin: 0 auto; padding: 0;list-style-type: none;}
#goodsAdd-imgUl .goodsAdd-imgLi{width: 100px; height: 100px; border:1px solid #ddd;float: left; position:relative; }
.goodsAdd-imgLi img{width:100px;height: 100px;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi{cursor:pointer; border-style:dashed;position:relative;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi:hover{border-color:red;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi span.glyphicon.glyphicon-plus{color:#E6E6EA; font-size:70px; position:absolute; left:15px; top:0;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi em{font-size:12px; color:#999; position:absolute; left:15px; bottom:0; font-style:normal;}
#goodsAdd-imgUl .goodsAdd-imgaction{position:absolute; left:0;  bottom:0; height:24px; line-height:24px; width:99px; background-color:rgba(128, 128, 128, 0.8);}
.goodsAdd-imgaction a.imgaction-item{padding-left:10px; font-size:14px; color:#fff;}
.h-img-update{background:url(../img/icon_update.png) no-repeat 0 0; background-size:18px;}
.h-img-del{background:url(../img/icon_del2.png) no-repeat 0 0; background-size:25px;}
.goodsAdd-imgaction a.imgaction-item.h-img-del{margin-left:10px;}
.goodsAdd-iconAdd {position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;color: #be0c0c;background:#eee; opacity:0.8; font-size: 14px;line-height: 24px; height:24px;}


@media all  and (min-width:481px) {
	.col-sm-6{
		width: 50%;
		float: left;
	}
	#stationForm .form-control{
		display: inline-block;
	}
}

@media all  and (max-width:480px) {
	.col-sm-6{
		width: 100%;
		float: left;
	}
	#stationForm .form-control{
		display: inline-block;
	}
}

@media ( max-width : 992px) {
	.modal-dialog{
		width: 600px !important;
	}
	.modal-body .width330 {
		width: 280px;
	}
	.modal-body .form-control {
		width: 170px !important;
	}
	.modal-body .col-sm-6,.modal-body .col-sm-5{
		width: 280px !important;
	}
	.modal-body .col-sm-5 button{
		width: 170px !important;
	}
	.col-sm-offset-1 {
		 margin-left: 0;
	}
	.modal-body #form_staff{
		height: 315px;
	}
}