<div class="container well well-lg"	>
   	<div class="row clearfix">
		<div class="column col-md-12"  style="margin-top:10px;">
	        <form class="form-inline" role="form">
	            <div class="column col-md-12 col-sm-12">
	            	<div class="form-group column col-md-4 col-sm-4">
        		        <label style="padding-top:5px;">关键字：</label>
			            <input class="form-control" ng-model="formData.keywords" placeholder="请输入订单号、商品信息"/>
		            </div>
                    <div class="form-group column col-md-4 col-sm-4">
                        <label style="padding-top:5px;">分期数：</label>
			            <input class="form-control" ng-model="formData.options" placeholder="请输入分期数"/>
                    </div>
                    <div class="form-group column col-md-4 col-sm-4">
                    	<label for="" style="padding-top:5px;">状态：</label>
	    				 <span  class="nullable">
							 <select name="state" class="form-control" ng-model="formData.state" ng-options="item.id as item.value for item in formData.stateList">
							    
							 </select>
					     </span> 
                    </div>
	            </div>
	            <div class="column col-md-12 col-sm-12" style="margin-top:8px;">
	            	<div class="form-group column col-md-5 col-sm-5">
					    <label for="" style="padding-top:5px;padding-right:13px;">客户：</label>
	                    <div class="input-group">
				            <comboxtable ng-model="formData.selectedAcontact" column-names="['客户','联系人']" column-fields="['companyname','staffname']"
				                         text-field="companyname" datas="contacts" on-change="getContact()" key-word="formData.contactkeyword" is-required="false" is-show-index="true"  input-placeholder="请选择经销商"
				                         content-style="width: 248px;" input-style="font-size:13px" input-class="form-control">
				            </comboxtable>
	                    </div>
				    </div>
			        <div class="column col-md-1 col-sm-1">
			            <Button class="btn btn-primary" style="width:100%;background-color:#1596ad !important;border-color:#1596ad;border-radius:0px;" ng-click="getPage(1,100)">
			                查询
			            </Button>
			        </div>	
	            </div>
	        </form>
		    <!-- ui-grid of Tree View  -->
			<div id="grid" ui-grid="gridOption" ui-grid-expandable ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination ui-grid-auto-resize class="grid" style="margin-top:95px;padding-left:0px;height:550px;"></div>
		</div>
	</div>
</div>
<style type="text/css">
.well{
    padding-left:20px;
    padding-right:20px;
}
</style>