<div class="row"
	style="padding: 0px;margin: 0px; padding-top: 10px;height: 100%;">
	<!--start form  -->
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-1 control-label"> 数据来源 </label>
			<div class=" col-md-2 col-sm-2 ">
				<select class="form-control input-sm" ng-model="formData.sourceflag" ng-options="item.sourceflag as item.sourceflagname for item in sourceflagList">
					
				</select>
			</div>
			<label class="col-md-1 control-label"> 单号 </label>
			<div class="col-md-2">
				<input type="text" class="form-control  col-md-12" ng-model="formData.warehouseinnum" style="height:30px;" placeholder="请输入单号..."/>
			</div>
			<!-- <label class="col-md-1 control-label"> 时段从 </label>
			<div class="col-md-2">
				<input type="text" class="form-control  col-md-12 input-sm"
					ng-model="formData.begincreatedtime" data-date-format="yyyy-MM-dd"
					data-date-type="string" data-autoclose="1" bs-datepicker
					style="height:30px;">
			</div>
			<label class="col-md-1 control-label"> 到 </label>
			<div class="col-md-2">
				<input type="text" class="form-control  col-md-12 input-sm"
					ng-model="formData.endcreatedtime" data-date-format="yyyy-MM-dd"
					data-date-type="string" data-autoclose="1" bs-datepicker
					style="height:30px;">
			</div> -->

			<div class="column col-md-2">
				<button type="button" class="btn btn-primary" ng-click="queryForm()">查询</button>
			</div>
			<div class="column col-md-2">
   				<button type="button" class="btn btn-primary" ui-sref="warehousein_add">新增</button>
				<!-- <button type="button" class="btn" ui-sref="warehousein_import">导入</button> -->
			</div>
		</div>
		
	</form>
	<!--end form  -->
	<!--start-->
	<div id="grid" ui-grid="gridOption" ui-grid-cellNav ui-grid-expandable
		ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
		ui-grid-auto-resize class="grid" style="margin-top:25px;height:550px;"></div>
	<!--start-->
</div>
<div class="col-md-12 column padding0px margin0px" >
       <div  ui-view=auditModal></div>
</div>
