<div class="row"
	style="padding: 0px;margin: 0px; padding-top: 10px;height: 100%;">
	<!--start form  -->
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<div class=" col-md-2 col-sm-4 ">
				<select class="form-control input-sm" ng-model="formData.sourceflag">
					<option value="">全部类型</option>
					<option ng-repeat="item in sourceflag" value="{{item.sourceflag}}">{{item.sourceflagname}}</option>
				</select>
			</div>
			<label class="col-md-1 control-label"> 时段从 </label>
			<div class="col-md-2">
				<input  type="text"   class="form-control  col-md-12 input-sm"  ng-model="formData.begincreatedtime"
				 data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;">
			</div>
			<label class="col-md-1 control-label"> 到 </label>
			<div class="col-md-2">
<input  type="text"   class="form-control  col-md-12 input-sm"  ng-model="formData.endcreatedtime" 
data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;">
			</div>

			<div class=" col-md-2">
				<button type="button" class="btn" ng-click="queryForm()">
					查 询</button>
			</div>
		</div>
		<div class="form-group">
			<div class=" col-md-2">
				<button type="button" class="btn" ui-sref="warehousein_import">导 入</button>
			</div>
			<div class=" col-md-2">
				<button type="button" class="btn"  ui-sref="warehousein_add">新 增</button>
			</div>
		</div>
	</form>
	<!--end form  -->
	<!--start-->
	<div id="grid" ui-grid="gridOption" ui-grid-cellNav
		ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
		ui-grid-auto-resize class="grid" style="margin-top:15px;height:100%;"></div>
	<!--start-->
</div>

