<div class="container well well-lg"	>
   	<div class="row clearfix">
		<div class="column col-md-12"  style="margin-top:10px;">
			<form class="form-horizontal" role="form">
			    <div class="form-group">
			        <label class="col-md-2 col-sm-2 control-label">
			            <span style="padding-right:35px;font-size:23px;">基本信息</span>
			        </label>
			        <div class="col-md-7 col-sm-7">
			        </div>
			    </div>
			    <div class="form-group col-md-12 col-sm-12" style="margin-left:55px;">
			        入库单号:{{viewData.warehouseinnum}}&nbsp;&nbsp;&nbsp;&nbsp;
			        入库类型:{{viewData.sourceflagName}}&nbsp;&nbsp;&nbsp;&nbsp;
			        状态:{{viewData.stateName}}&nbsp;&nbsp;&nbsp;&nbsp;
			        供应商:{{viewData.suppliername}}
			    </div>
			    <div class="form-group col-md-12 col-sm-12" style="margin-left:55px;">
			        入库数量:{{viewData.totgoodsqty}}&nbsp;&nbsp;&nbsp;&nbsp;
			        总金额:{{viewData.totgoodsmoney}}&nbsp;&nbsp;&nbsp;&nbsp;
			        入库时间:{{viewData.createdtime | limitTo:10}}&nbsp;&nbsp;&nbsp;&nbsp;
			    </div>
				<!-- <div class="form-group">
				    <label for="" class="col-md-2 col-sm-2 control-label">入库单号</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.warehouseinnum}}</span>	
					</div>
					<label for="" class="col-md-2 col-sm-2 control-label">入库类型</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.sourceflagName}}</span>	
					</div>
					<label for="" class="col-md-2 col-sm-2 control-label">状态</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.stateName}}</span>	
					</div>
				</div>	
				<div class="form-group">
				    <label for="" class="col-md-2 col-sm-2 control-label">供应商</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.suppliername}}</span>	
					</div>
					<label for="" class="col-md-2 col-sm-2 control-label">入库数量</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.totgoodsqty}}</span>	
					</div>
				    <label for="" class="col-md-2 col-sm-2 control-label">总金额</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.totgoodsmoney}}</span>	
					</div>
				</div>
				<div class="form-group">
				    <label for="" class="col-md-2 col-sm-2 control-label">入库时间</label>
					<div class="col-md-2 col-sm-2">
						<span class="form-control" >{{viewData.createdtime | limitTo:10}}</span>	
					</div>					
				</div>	 -->		
			    <div class="form-group">
			        <label class="col-md-2 col-sm-2 control-label">
			            <span style="padding-right:35px;font-size:23px;">入库明细</span>
			        </label>
			        <div class="col-md-7 col-sm-7">
			        </div>
			    </div>
   				<div class="form-group">
				    <!-- ui-grid of Tree View  -->
					<div id="gridDetail" ui-grid="gridOptionDetail"  ui-grid-resize-columns ui-grid-move-columns ui-grid-auto-resize class="grid" style="margin-top:5px;width:92%;height:300px;margin-left:8%;"></div>
				</div>		
				<div class="form-group" style="margin-top:10px;">
				    <label for="" class="col-md-4 col-sm-4 control-label"></label>
					<div class="col-md-1 col-sm-1">
					    <Button class="btn btn-primary" style="width:100%;" ng-click="returnToList()">
					        返回
					    </Button>
					</div>
					<div class="col-md-1 col-sm-1" ng-show="viewData.state == 1">
					    <button class="btn btn-primary" ng-click="auditOk(2)">
					        审核通过
					    </button>
					</div>
					<div class="col-md-1 col-sm-1" ng-show="viewData.state == 1" style="margin-left:5px;">
					    <button class="btn btn-primary" ng-click="auditOk(3)">
					        审核不通过
					    </button>
					</div>
				</div>																				
			</form>
		</div>
	</div>
</div>
<style type="text/css">
.well{
    padding-left:20px;
    padding-right:20px;
}
.form-control{
    border: 0px solid #ccc;
}
</style>