@CHARSET "UTF-8";

.table, .table thead tr th, .table tbody tr td {
	border-collapse: collapse;
	border: 1px solid #6E6E6E;
	font-size: 13px;
}

.table thead tr th, .table tbody tr td {
	height: 28px;
	white-space: nowrap;
}

.table tbody tr td .form-control {
	height: 27px;
}

.table, .table thead tr th {
	text-align: center;
}

.table tbody tr:HOVER {
	background-color: #E5E5E5;
}

.table thead tr th {
	font-weight: normal;
	background-color: #C6C6C6;
	border: 1px solid #6E6E6E;
	white-space: nowrap;
}

.table tfoot tr, .table tfoot tr td {
	font-weight: normal;
	border: 1px solid #6E6E6E;
}

