<!-- 模态窗口start -->
<div class="modal fade" id="auditPurchaseOrders" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">采购单审核</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid h_billingContent" style="background-color: white;">

		            <table class="table table-striped text-center" >
                        <caption style="" class="text-center">
                            <strong style="font-size:20px;">采购明细</strong>  
                        </caption>	                
	                    <thead>
	                        <tr style="border:1px solid #ccc;" >
	                            <th style="text-align:center;">商品名</th>
	                            <th style="text-align:center;">商品价格</th>
	                            <th style="text-align:center;">商品规格</th>
	                            <th style="text-align:center;">购买数量</th>
	                            <th style="text-align:center;">金额小计</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="items in datas.purchaseorderlist track by $index"  style="border:1px solid #ccc;">
	                            <td style="color:#888;">{{items.goodsname}}</td>
	                            <td style="color:#888;">{{items.dealingprice}}</td>
	                            <td style="color:#888;">{{items.goodsspec}}</div></td>
	                            <td style="color:#888;">{{items.goodsqty}}</td>
	                            <td style="color:#888;">{{items.goodsmoney}}</td>
	                        </tr>
	                        <tr style="border:1px solid #ccc;">
	                            <td style="color:#888;">合计</td>
	                            <td style="color:#888;"></td>
	                            <td style="color:#888;"></td>
	                            <td style="color:#888;">{{datas.totgoodsqty}}</td>
	                            <td style="color:#888;">{{datas.totgoodsmoney}}</td>
	                        </tr>
	                        <!-- <tr style="margin-top:25px;">
	                        	<td colspan="4" class="text-center">
	                                <span>应付总额:<strong style="color:#e4393c">{{edit_datas.totgoodsmoney}}</strong></span>
	                            </td>
	                        </tr> -->
	                    </tbody>
                    </table>
					<div class="row clearfix" style="margin-top:50px;">
						<div class="col-md-12 col-xs-12"><strong style="font-size:15px;margin-left:15px;">收货人信息</strong></div>
						<form class="form-inline">
							<div class="col-md-12 col-xs-12 form-group">
								<label><span style="color:black;">收货人:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{datas.contactname}}&nbsp;</span>
								<label><span style="color:black;">联系电话:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{datas.mobile}}&nbsp;</span> 
								<label><span style="color:black;">送货地址:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{datas.provincename}}{{datas.cityname}}{{datas.areaname}}{{datas.address}}&nbsp;</span>
							</div>
							<div class="col-md-12 col-xs-12 form-group">
							    <label><span style="color:black;">备注:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{datas.remark}}&nbsp;</span> 
							</div>
							<div class="col-md-12 col-xs-12 form-group">
							    <label><span style="color:black;">审核备注:</span>&nbsp;&nbsp;</label>
   								<textarea class="form-control" rows="3" cols="20" ng-model="datas.auditremark">
   								
								</textarea>	
							</div>
						</form>
					</div>                    
				</div>
			</div>	
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="auditPuchaseOrders('',datas,5)" data-dismiss="modal">审核通过</button>
				<button type="button" class="btn btn-primary" ng-click="auditPuchaseOrders('',datas,4)" data-dismiss="modal">审核不通过</button>
				<!-- <button type="button" class="btn btn-primary">保存</button> -->
			</div>
		</div>
	</div>
</div>
<!-- 模态窗口end -->