<div class="container well-lg">
    <button class="btn btn-primary btn-lg" ng-click="getPurchaseorders()" data-toggle="modal" style="position:absolute;right:-10%px;margin-top:-23px;right:1px;position: absolute;">返回</button>
	<div class="row clearfix">
			<div class="column col-md-12" style="margin-bottom:15px;">
			    <form class="form-inline" role="form">
			    <div class="column col-md-12 col-sm-12">
					<div class="form-group column col-md-4 col-sm-4">
					    <label for="supplier"><strong>供应商:</strong></label>
	                    <div class="input-group">
					        <comboxtable name="supplier" ng-model="supplier" 
				    			 column-names="['供应商','站点']" column-fields="['companyname','stationname']" 
				                 text-field="companyname" datas="formData.datas" on-change="query()" key-word="formData.keyWord"  on-reset="onReset()"
				                 is-show-index="true" content-style="width: 200px" input-style="font-size:13px;" input-class="form-control" input-height="34px"
				                 is-always-reps-click="true">
			                </comboxtable>
	                    </div>
				    </div>
				    <div class="form-group column col-md-7 col-sm-7">
				        <input type="text" class="form-control" style="width:270px;" ng-model="formData.goodsname" placeholder="按商品条码，商品名称，规格等查询">
				        <Button class="btn btn-primary" ng-click="searchGoodsList()" style="margin-left:10px;">查询</Button>
				        <button class="btn btn-primary" ng-click="openPurchaseGoodsModal()" data-toggle="modal" style="margin-left:5px;">查看添加商品</button>
				    </div>
			        <div class="column col-md-1 col-sm-1">
			        </div>
				</form>
			</div>
		</div>
		<div ui-view="goodsList" style="margin-top:20px;"></div>
		<div ui-view="viewPurchaseGoods"></div>
	</div>
</div>