<div class="container-fluid h_billingContent">
	<div class="row clearfix">
	    <div class="col-md-1 column">
        </div>
        <div class="col-md-10 col-xs-12 column" style="padding:0;margin:0 auto 0 auto;">
            <div class="panel panel-default" style="margin-bottom:-5px;">
                <div class="panel-body" style="padding:0;">
                    <div class="col-md-12 col-xs-12"><h2 style="text-align:center;"><strong>采购开单</strong></h2></div>
					    <!-- start  -->
					    <form class="form-inline">
					        <div class="col-md-12 col-xs-12 text-right">
					            <span style="font-size:13px;color:#888;">日期:<span ng-bind="dataTime"></span></span>
					            <span style="font-size:13px;color:#888;">单号:<span ng-bind="ordernum"></span></span>
					        </div>
					        <div class="col-md-12 col-xs-12 addressManager" style="margin-top:5px;">
					            <strong style="font-size:15px;margin-left:15px;">收货人信息：</strong>&nbsp;
					            <!-- <a class="glyphicon glyphicon-edit" href="#" ng-click="showAddressManageModal()" data-toggle="modal" title="管理收货信息">管理</Button> -->
					            <a class="glyphicon glyphicon-edit" href="#addressManager" role="button" class="btn" data-toggle="modal" title="管理收货信息">管理</a>
					            <span ng-show="receiveData.addressItemShow">
					                收货人:{{receiveData.addressItem.contactname}}&nbsp;
					                省份:{{receiveData.addressItem.provincename}}
					                城市:{{receiveData.addressItem.cityname}}
					                县区:{{receiveData.addressItem.areaname}}
					                地址:{{receiveData.addressItem.address}}&nbsp;
					                手机:{{receiveData.addressItem.mobile}}&nbsp;
					                固话:{{receiveData.addressItem.phone}}
					            </span>
					        </div>
					        <div ui-view="addressManageModal"></div>
					    </form>
					    <!-- end -->
					    <table class="table table-striped text-center" >
	                        <caption style="" class="text-center">
	                            <strong style="font-size:20px;">采购明细</strong>  
	                        </caption>	                
	                        <thead>
	                            <tr style="border:1px solid #ccc;" >
	                                <th style="text-align:center;">商品名</th>
	                                <th style="text-align:center;">商品价格</th>
	                                <th style="text-align:center;">商品规格</th>
	                                <th style="text-align:center;">购买数量</th>
	                            </tr>
	                        </thead>
	                        <tbody>
		                        <tr ng-repeat="items in goodscart"  style="border:1px solid #ccc;">
		                            <td style="color:#888;">{{items.goodsname}}</td>
		                            <td style="color:#888;">{{items.shopprice}}</td>
		                            <td style="color:#888;">{{items.goodsspec}}</div></td>
		                            <td style="color:#888;">{{items.goodsnumber}}</td>
		                        </tr>
		                        <tr style="margin-top:25px;">
		                        	<td colspan="4" class="text-center">
		                                <span>应付总额:<strong style="color:#e4393c">{{countPrice}}</strong></span>
					                    <Button class="btn btn-primary" ng-click="submitOrders()">提交订单</Button>
					                    <Button class="btn btn-primary" onClick="javascript:window.history.go(-1);">返回</Button>
		                            </td>
		                        </tr>
	                    	</tbody>
	                    </table>
                    </div>
                </div>  
            </div>
        </div>
	    <div class="col-md-1 column">
        </div>
	</div>
</div> 