<div class="table-responsive" ng-controller="ordersWarehouseinController">
	<div class="col-md-12 column">
		<ul class="breadcrumb">
			<li>
				 <a href="#" ui-sref="entry">采购单</a>
			</li>
			<li class="active">
				采购入库
			</li>
		</ul>
	</div>

     <div class="col-md-12 column">
		 <form class="form-horizontal h_changewarehouseForm" role="form">
		    <div class="form-group">
		        <label class="col-sm-8 control-label" style="text-align: left">
		            总部：{{ordersWarehousein.suppliername}} |
		            单号：{{ordersWarehousein.ordernum}}
		        </label>
		    </div>
		</form>
    </div>
   
       <table class="table table-bordered table-hover table-striped table-condensed">
           <thead>
           <tr class="info">
           	<th>序号</th>
               <th>商品编码</th>
               <th>商品名称</th>
               <th>采购数</th>
               <th>进货价</th>
               <th>批次号</th>
               <th>本次入库数</th>
           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="item in ordersWarehousein.orderlist">
           	<td>
                   {{$index+1}}
               </td>
               <td>
                   {{item.goodssn}}
               </td>
               <td>
                  	{{item.goodsname}}
               </td>
               <td>
               	{{item.goodsqty}}
               </td>
               <td>
                  	{{item.totalmoney}}
               </td>
               <td style="width: 160px">
               	   <input style="width: 100%;" type="text" min="1" class="form-control" ng-model="item.batchcode" ng-if="item.goodsstock.isbatchcode == 2"/>
               </td>
               <td style="width: 160px">
               	   <input style="width: 100%;" type="number" min="1" class="form-control" ng-model="item.goodsqtyCopy" ng-change="changeGoodsqtyCopy(item.goodsqtyCopy)"/>
               </td>
           </tr>
           </tbody>
           <tfoot>
           <tr style="height: 45px">
               <td colspan="6"></td>
               <td style="text-align: center;">
               	<button type="button" class="btn btn-primary" ng-click="warehousein()">
				 <span class="glyphicon glyphicon-import"></span>   
				    入库</button>
               </td>
           </tr>
           </tfoot>
       </table>
      	<div class="col-md-12 column">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-1 control-label" style="text-align:left;width:80px;">
					备注： </label>
				<div class="col-sm-5">
					<input class="form-control" type="text" ng-model="ordersWarehousein.remark" placeholder="填写备注" />
				</div>
			</div>
		    <div class="col-md-6 column" style="margin-top:30px;margin-left:15px;">
				    <button type="button" class="btn" ng-click="goback()">
				 <span class="glyphicon glyphicon-share-alt"></span>   
				    返回</button>
			</div> 
		</form>
	</div>
</div>