<div class="col-md-12 column" ng-controller="ordersAddController"
	style="padding: 0px;margin: 0px">
	<div class="col-md-12 column">
		<ul class="breadcrumb">
			<li><a href="#" ui-sref="entry">采购单</a></li>
			<li class="active">{{orders.edit}}采购单</li>
		</ul>
	</div>
	<div class="col-md-12 text-right"
		style="font-size: 10px;padding: 0px;position: absolute;font-weight: normal;color: #666;">
		<label style="margin-right: 5px;">日期:</label><label>{{orders.createdtime}}</label>
		<label style="margin-left: 10px;margin-right: 5px;">单号:</label><label
			style="margin-right: 100px;">{{orders.ordernum}}</label>
	</div>

	<div class="col-md-12 column">
		<form class="form-horizontal h_changewarehouseForm form-inline" role="form">
			<div class="form-group column col-md-4 col-sm-4" >
			    <label for=""><strong>供应商:</strong></label>
                <div class="input-group">
				    <comboxtable ng-model="supplier" 
			    	    column-names="['供应商','站点']" column-fields="['companyname','stationname']" 
			            text-field="companyname" datas="formData.datas" on-change="query()" key-word="formData.keyWord"  on-reset="onReset()"
			            is-show-index="true" content-style="width: 200px" input-style="font-size:13px;" input-class="form-control" input-height="34px"
			            is-always-reps-click="true">
		            </comboxtable>
                </div>
			</div>
			<div class="form-group"></div>
		</form>
	</div>

	<div class="col-md-12 column" style="margin-top:20px;">
		<div ui-view="grid"></div>
	</div>

	<div class="col-md-12 column">
		<form class="form-horizontal h_changewarehouseForm" role="form"
			data-ng-init="queryload()">
			<div class="form-group">
   			    <label class="col-md-1 control-label text-overflow" style="text-align: left">
		           发货日期：
		        </label>
		        <div class="col-md-3 col-sm-3">
		            <input  ng-model="orders.deliverydate"  data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker placeholder="请选择发货日期"  class="form-control" type="text" style="border: solid 1px #D7D7D7;height: 30px" />
		        </div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label text-overflow" style="text-align: left">
					填写备注： </label>
				<div class="col-sm-5">
					<input class="form-control" type="text" ng-model="orders.remark"
						ng-disabled="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2"
						placeholder="备注" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-1 control-label text-overflow" style="text-align: left">
					收货信息： </label>
				<div style="float:left; line-height:35px;">
					<a class="glyphicon glyphicon-edit green" href="#addressManager"
						role="button" class="btn" data-toggle="modal" title="管理收货信息"></a>
					<span ng-show="receiveData.addressItemShow">
					                收货人:{{receiveData.addressItem.contactname}}&nbsp;
					                省份:{{receiveData.addressItem.provincename}}
					                城市:{{receiveData.addressItem.cityname}}
					                县区:{{receiveData.addressItem.areaname}}
					                地址:{{receiveData.addressItem.address}}&nbsp;
					                手机:{{receiveData.addressItem.mobile}}&nbsp;
					                固话:{{receiveData.addressItem.phone}}
		            </span>
				</div>
			</div>
		</form>
	</div>

	<div ui-view="address"></div>

	<div class="col-md-12 column" style="text-align:center;">
		<button type="button" class="btn btn-primary btn-lg"
			ng-click="submit()">
			<span class="glyphicon glyphicon-saved"></span> {{orders.edit}}采购单
		</button>
	</div>



	<div style="position: absolute;right:0px;top:1%">
		<div class="list-group">
			<a ui-sref="entry" class="list-group-item active">查询</a>
		</div>
	</div>
</div>