	<div style="margin-top:45px;" class="modal fade" id="modal-container-619069"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:100%;">
			<div class="modal-content">
				
				<style id="style1">
				body {
				    color: #333;
				    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				    font-size: 14px;
				    line-height: 1.42857;
				}
				.text-center {
				    text-align: center;
				}
				.table-bordered {
				    border: 2px solid #ddd;
				}
				.table-bordered tbody tr td, .table-bordered  tbody tr th,.table-bordered thead tr td, .table-bordered thead tr th {
				    border: 1px solid #ddd;
				    text-align: center;
				}
				.table {
				    margin-bottom: 20px;
				    max-width: 100%;
				    width: 100%;
				}
				table {
				    background-color: transparent;
				    border-collapse: collapse;
				    border-spacing: 0;
				}
				table tbody tr td{
				    text-align: center;
				}
				b, strong {
				    font-weight: 700;
				}
				.col-md-12 {
				    width: 100%;
				}
				.col-md-12, .col-md-3, .col-md-4{
				    float: left;
				}
				.col-md-4 {
				    width: 33.3333%;
				}
				.col-md-3 {
				    width: 23%;
				}
				
				</style>
					<div class="col-md-12 column"  style="padding: 0px;margin: 0px">
						<div id="form1">
							<div class="text-center">
							    <strong><span style="font-size:26px;">{{orders.suppliername}}</span></strong>
							</div>
							<div class="text-center">
							    <strong><span  style="font-size:24px;">（{{orders.warehousename}}）出货单</span></strong>
							</div>
							<div class="col-md-12 column" style="padding:0px;">
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>收货单位：{{orders.companyname}}</srtong></div>
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>负责人：{{orders.buyername}}</strong></div>
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>日期：{{orders.createdtime|limitTo:10}}</strong></div>
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>单号：{{orders.ordernum}}</strong></div>
							</div>
							<div class="col-md-12 column" style="padding:0px;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>品名</th>
											<th>单价(元)</th>
											<th>数量</th>
											<th>金额</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in orders.orderlist">
											<td>{{item.goodsname}}</td>
											<td>{{item.dealingprice}}</td>
											<td>{{item.goodsqty}}</td>
											<td>{{item.goodsmoney}}</td>
										</tr>
										<tr>
										    <td colspan="2">合计:</td>
										    <td colspan="1">{{orders.totgoodsqty}}</td>
										    <td colspan="1">{{orders.totgoodsmoney}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-12 column" style="padding-left:30px;">
							    <div class="col-md-12 column">
							    <strong><span style="font-size:15px;">地址：{{orders.buyerprovincename}}{{orders.buyercityname}}{{orders.buyerareaname}}{{orders.buyeraddress}}
							    &nbsp;&nbsp;{{orders.staffname}}收&nbsp;&nbsp;{{orders.buyerphone}}</span></strong>
							    </div>
							</div>
							<div class="remark">
							    <strong>
							        <span style="font-size:15px;">
							                                    备注：{{orders.remark}}<br/>
							           	第一联：查存联；第二联：财务联；第三联：客户联；第四联：仓库联<br/>
							           	地址：：广东广州市天河区东城大厦101<br/>
							           	客服热线：020-38989893<br/>
							           	温馨提示：如收货时发现货物损坏或产品质量问题请于24小时内与客服联系处理。
							        </span>
							    </strong>
							</div>
						</div>
					</div>
				
				<div class="modal-footer">
				     <a class="btn btn-primary" href="javascript:void(0);" ng-click="privewToPdf()">打印</a>
					 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->