<div class="modal fade" id="modal-container-275118" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-title" id="myModalLabel" style="font-weight: 700;color: #666;">
                    修改联系人信息
                </div>
            </div>
            <div class="modal-body ordersForm">
                <!-- <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>公司名称：</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="orders.companyname" placeholder="请输入客户公司名称" />
                    </div>
                </div> -->
                <!-- <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>联系人：</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="orders.buyername" placeholder="请输入联系人名称" />
                    </div>
                </div> -->
                <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>联系电话：</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="orders.buyerphone" placeholder="请输入联系电话" />
                    </div>
                </div>
               
                <div class="form-group row marginBottom0px">
                    <div class="form-group col-md-2" style="padding: 3px 0px 0px 0px;">
                        <label>送货地址：</label>
                    </div>
                    <div class="col-md-10">
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control" style="width: 100%;" ng-model="orders.buyerprovinceid" ng-change="onChangeProvince(orders.buyerprovinceid)">
                                <option value="">(空)</option>
                                <option ng-repeat="v in baseData.provinces" value="{{v.provinceid}}">{{v.provincename}}</option>
                            </select>
                        </div>
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control"  style="width: 100%;" ng-model="orders.buyercityid"  ng-change="onChangeCity(orders.buyercityid)">
                                <option value="">(空)</option>
                                <option ng-repeat="v in baseData.citys" value="{{v.cityid}}">{{v.cityname}}</option>
                            </select>
                        </div>
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control"  style="width: 100%;" ng-model="orders.buyerareaid">
                                <option value="">(空)</option>
                                <option ng-repeat="v in baseData.areas" value="{{v.areaid}}">{{v.areaname}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col-sm-10">
                        <input  ng-model="orders.buyeraddress"  placeholder="请输入详细地址"  class="form-control input-sm" type="text" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="addConact(orders)">保存</button>
            </div>
        </div>
    </div>
</div>
<!--新增的窗口end  -->
