    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr class="info">
                <th style="width: 40px;">操作</th>
                <th>商品名称</th>
                <th>数量</th>
                <th>价格(￥)</th>
                <th>折扣率%</th>
                <th>商品金额(￥)</th>
                <!-- <th style="width: 40px;">赠品</th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in orders.orderlist">
                <td >
                    <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除">
                        <span class="glyphicon glyphicon glyphicon-trash red"></span>
                    </a>
                </td>
                <td style="width: 350px">
                	<comboxtable  ng-model="item.selected"  column-names="['商品编码','商品','商品条码','商品规格','价格']" column-fields="['goodssn','goodsname','barcode','goodsspec','shopprice']"
                                  text-field="goodsname" datas="goodsskus.data.rows" on-change="querygoodssku(item)" key-word="item.goodsname" is-required="true" is-show-index="true" is-disabled="item.action != 'add'"
                                  content-style="width: 100%;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择商品" >
                    </comboxtable>
                </td>
                
                <td>
                   <input type="number" min="1" class="form-control" ng-disabled="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2" ng-model="item.goodsqty" />
                </td>
                <td><input type="number" min="0" class="form-control" ng-disabled="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2" ng-model="item.dealingprice" /></td>
                
                <td><input type="number" min="0" max="100" class="form-control" ng-disabled="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2" ng-model="item.discountrate"/></td>
                <td>
                {{item.dealingprice == null ? 0 :item.goodsmoney}}
                </td>
                <!-- <td><input  ng-change="changeGiftflag($index);" type="checkbox" ng-disabled="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2" ng-model="item.isgiftflag" ></td> -->
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="5">
                    <a href="javascript:void(0);" class="btn-link" ng-hide="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2" ng-click="addNewRow()" title="添加记录">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;添加记录
                    </a>
                </td>
            </tr>
            <tr style="height: 45px">
                <td colspan="4"></td>
                <td><label>合计:</label></td>
                <td></strong>
                </td>
                <!-- <td></td> -->
            </tr>
            <tr style="height: 45px">
                <td colspan="4"></td>
                <td>总数量：</td>
                <td><strong style="color: red;">
                {{sumGoodsQty()}}</strong>
                </td>
                <!-- <td></td> -->
            </tr>
            <tr style="height: 45px">
                <td colspan="4"></td>
                <td>总金额：</td>
                <td><strong style="color: red;">
                {{sumGoodsMoney() | currency:"￥"}}</strong>
                </td>
                <!-- <td></td> -->
            </tr>
            </tfoot>
        </table>
    </div>