<form class="clearfix" name="jobForm">
    <div class="col-md-12" style="height:20px;"></div>
    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">任务描述:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.job.desc" name="desc" required>

            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.desc.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">任务key:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.job.jobName" name="jobName" placeholder="" required>
            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.jobName.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">执行时间:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.job.cronExpression" name="cronExpression" placeholder="" required>
            <!--<input type="text" class="form-control" ng-model="sharedDate" data-autoclose="1" data-container="body" placeholder="日期" bs-datepicker>
            <input type="text" class="form-control" ng-model="sharedDate" data-container="body"  data-time-format="h:mm:ss a" data-autoclose="1" placeholder="时间" bs-timepicker>-->
            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.cronExpression.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-bottom:5px; ">
        <label style="width: 85px;">启用状态:&nbsp;</label>
        <button type="button" class="btn btn-default" ng-model="$parent.$parent.$parent.scheduleObj.job.jobStatus" style="width:150px;"
                data-animation="am-flip-x" bs-options="item.id as item.text for item in jobStatusOptions" disabled="disabled"
                bs-select required name="jobStatus">
            无<span class="caret"></span>
        </button>
    </div>
    <div class="col-md-12" style="height:50px;"></div>
    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">接口名称:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.job.serviceName" name="serviceName" placeholder="" required>

            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.serviceName.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding-bottom:5px; ">
        <label style="width: 85px;">接口类型:&nbsp;</label>
        <button type="button" class="btn btn-default" ng-model="$parent.$parent.$parent.scheduleObj.job.serviceType"
                style="width:150px;overflow: hidden;"
                data-animation="am-flip-x" bs-options="item.id as item.text for item in serviceTypes"
                bs-select name="keyfile" required>
            无<span class="caret"></span>
        </button>
    </div>

    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">接口地址:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.job.serviceUrl" name="serviceUrl" placeholder="" required>
            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.serviceUrl.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">参数:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.job.params" name="params" placeholder="" required>
            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.params.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="height:50px;"></div>
    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">失败通知电话:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.tel_phone" name="tel_phone" placeholder="" required>
            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.tel_phone.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding-bottom:5px; ">
        <div class="input-group">
            <label class="input-group-addon" style="width: 80px;">失败通知邮件:&nbsp;</label>
            <input type="text" class="form-control"
                   ng-model="$parent.$parent.$parent.scheduleObj.email" name="email" placeholder="" required>
            <div style="top:2px;right:8px;z-index:1000;position: absolute;font-size: 32px;"
                 ng-messages="jobForm.email.$error">
                <div style="color: red;" ng-message="required">*</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary masget-btn-primary " ng-disabled="jobForm.$invalid"
                ng-click="$modalButtonClick()">保存
        </button>
    </div>
</form>