@CHARSET "UTF-8";

.well {
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
}

form label {
	font-weight: normal;
}

/* .table, .table thead tr th, .table tbody tr td {
	border-collapse: collapse;
	border: 1px solid #6E6E6E;
	font-size: 13px;
}

.table thead tr th, .table tbody tr td {
	height: 28px;
	white-space: nowrap;
}

.table tbody tr td .form-control {
	height: 27px;
}

.table, .table thead tr th {
	text-align: center;
}

.table tbody tr:HOVER {
	background-color: #E5E5E5;
}

.table thead tr th {
	font-weight: normal;
	background-color: #C6C6C6;
	border: 1px solid #6E6E6E;
	white-space: nowrap;
}

.table tfoot tr, .table tfoot tr td {
	font-weight: normal;
	border: 1px solid #6E6E6E;
} */

.Wdate {
	border: solid #D7D7D7 1px
}

.datepicker .btn-default masget-btn-default {border: 0px !important; }

/* .pagination li a{
	color: black;
}

.pagination .page-info a:HOVER{
	color: black;
	background-color: white;
} */
.jbox-button-panel {
	box-sizing: content-box;
}

.ng-messages-error {
	position: absolute;
	z-index: 100;
	font-size: 11px;
	color: red
}

.haserror .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.haserror .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.inputError {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.inputError:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.consignnoteForm .form-control {
	width: 120px;
}

.modal-footer {
	text-align: center;
}

.form-group {
	text-align: right;
}

.form-control {
	width: 180px;
}

.marginTop18 {
	margin-top: 18px;
}

.marginTop10px {
	margin-top: 10px;
}

.marginTop11px {
	margin-top: 11px;
}

.marginTop12px {
	margin-top: 12px;
}

.marginBottom10px {
	margin-bottom: 10px;
}

.marginBottom11px {
	margin-bottom: 11px;
}

.marginBottom12px {
	margin-bottom: 12px;
}

.marginTop13px {
	margin-top: 13px;
}

.marginTop14px {
	margin-top: 14px;
}

.marginBottom15px {
	margin-bottom: 15px;
}

.marginBottom14px {
	margin-bottom: 15px;
}

.marginTop15px {
	margin-top: 18px;
}

.margin0px {
	margin: 0px;
}

.padding0px {
	padding: 0px;
}

.padding10px {
	padding: 10px;
}

.paddingBottom10px {
	padding-bottom: 10px;
}

.border1px {
	border: 1px solid #6E6E6E;
}

.borderBottom1px {
	border-bottom: 1px solid #6E6E6E;
}

.hoverColor:HOVER {
	background-color: #E5E5E5;
}

.error {
	color: red;
	font-size: 14px;
}

.backcolor {
	background-color: #E5E5E5;
}

.commodityTable tbody tr td {
	padding: 0px;
	vertical-align: middle;
}

.fht-table-wrapper {
	border-left: 1px solid #6E6E6E;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
}

.fht-tfoot {
	border-top1: 1px solid #6E6E6E;
}

.tderror {
	background-color: #F9D4D4
}

.tderror .form-control {
	background-color: #F9D4D4
}

.tderror .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.tderror .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.list-group .list-group-item:HOVER {
	background-color: #5188B8;
}

.extraChargeBoxList {
	height: 150px;
	position: absolute;
	top: -150px;
	width: 192px;
	border: 1px solid #C7C4C4;
	z-index: 1000;
	background-color: white;
}
.extraChargeBoxList table tbody tr:HOVER {
	background-color: #E5E4E4;
}
.dropdown-menu li:HOVER{
	background-color: #2E6DA4 !important;;
}
/* .printTemplate-ul-li:HOVER{
	background-color: #2E6DA4 important;;
} */