<div class="col-sm-12 column"  style="padding: 0px;margin: 0px">
    <!--start form  -->
    <form class="form-horizontal h_tunnelmanagerForm" role="form">
        <div class="form-group">
            <label class=" col-md-1 col-sm-2 control-label h_mb5">
                公司名称
            </label>
            <div class=" col-md-3 col-sm-4 h_mb5">
                <input type="text" class="form-control input-sm"  placeholder="公司名称" ng-model="queryDataForm.companyname" />
            </div>
            <label class=" col-md-1 col-sm-2 control-label">
                公司类型
            </label>
            <div class=" col-md-2 col-sm-4 h_mb5">
                <select class="form-control input-sm" ng-model="queryDataForm.companytypeid" ng-options="item.companytypeid as item.companytypename for item in companytypeData">
                    <option value="">--请选择--</option>
                </select>
            </div>
            <label class=" col-md-1 col-sm-2 control-label h_mb5">
                省市县/区
            </label>
            <div class="col-md-2 col-sm-4 h_mb5">
                <input style="width: 100%"  select-address ng-model="queryDataForm.pca"  name="pca" pca-ids="queryDataForm.addressids" placeholder="点击选择地区信息" class="form-control input-sm " type="text">
            </div>
            <div class=" col-md-1 col-sm-2 col-md-offset-0 col-sm-offset-2 h_mb5">
                <button id="btn_search" type="button" style="min-width:70px;" class="btn btn-info btn-block btn-sm" ng-click="querycompanyinfo()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
            </div>
        </div>
    </form>
    <!--end form  -->
    <div class="h_uigrid_actionBar" style="border:1px solid #ddd; padding:5px; background: #f5f5f5; clear: both; overflow: hidden;">
        <button type="button" style="width:70px; float: left; margin-right:10px;" class="btn btn-block btn-info btn-xs" ng-click="comompanyinfoModal('add')"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增</button>
        <button type="button" style="width:70px; float: left; margin-right:10px; margin-top:0;" class="btn btn-block btn-info btn-xs" ng-click="companyDel()"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</button>
    </div>
    <!--start table-responsive-->
    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-selection class="grid" ></div>
    <!--end table-responsive-->
   <!-- <div class="col-sm-12 column" ui-view="edit"></div>-->
    <!--<div class="col-sm-12 column" ui-view="add"></div>-->
</div>


