<div class="clearfix" style="  min-height: 42px;" >
    <form style="padding-bottom:10px;" class="form-inline add_recharge" novalidate id="form_recharge" name="form_recharge">
        <div class="form-group col-md-12 marginBottom10" ng-class="{haserror:form_recharge.objectid.$invalid&&form_recharge.submitted}">
            <label>经销商名称:</label>
            <select style="width: 70%;height: 31px;" class="form-control input-sm" name="objectid" required  ng-model="addrecharge.objectid" ng-options="item.subcompanyid as item.subcompanyname for item in addData">
                <option value="">--请选择--</option>
            </select>
            <span title="必填项" ng-messages="form_recharge.objectid.$error" ng-show="form_recharge.objectid.$invalid&&form_recharge.submitted" >
				<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
			</span>
        </div>
    </form>
</div>