<div class="clearfix" style="  min-height: 150px;" on-finish-render-filters="editStaff">
	<form style="padding-bottom:10px;" class="form-inline form_recharge" novalidate id="form_recharge" name="form_recharge">
		<div class="form-group col-md-12 marginBottom10">
			<label>经销商名称:</label>
			<input readonly name="objectname" placeholder="输入经销商名称" ng-model="rechargeDebit.objectname" class="form-control input-sm "  type="text" style="height: 31px;  width: 68%;" >
		</div>
		<div class="form-group col-md-12 marginBottom10" ng-class="{haserror:form_recharge.amount.$invalid&&form_recharge.submitted}">
			<label>金额:</label>
			<input  name="amount" required placeholder="输入金额" ng-model="rechargeDebit.amount"  class="form-control input-sm"  type="text"  style="width: 68%;height: 31px;">
			<span title="必填项" ng-messages="form_recharge.amount.$error" ng-show="form_recharge.amount.$invalid&&form_recharge.submitted" >
				<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
			</span>
		</div>
		<div class="form-group col-md-12 " ng-class="{haserror:form_recharge.rechargedesc.$invalid&&form_recharge.submitted}">
			<label>充值凭证:</label>
			<textarea rows="5" placeholder="输入充值凭证（注意：该凭证用于财务对账）" required name="rechargedesc" ng-model="rechargeDebit.rechargedesc" class="form-control input-sm" style="resize: none;width: 68%" ></textarea>
			<span title="必填项" ng-messages="form_recharge.rechargedesc.$error" ng-show="form_recharge.rechargedesc.$invalid&&form_recharge.submitted" >
				<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
			</span>
		</div>
	</form>
</div>