<div class="clearfix" style="height:100%;overflow: auto;position: relative;" on-finish-render-filters="buzcircle_groupPanel" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{autoResize:true,show:true}">
    <div id="groupPanel" style="margin-top:0px;padding:3px 50px;">
        <div class="masget-divider">
        </div>
        <div class="help-block" style="height: 20px;text-align: center;">
            <h4>{{title||"暂无"}}&nbsp;({{items.length}})<span class="masget-upArrow" style=""
                                                      ng-click="toggleGroup($event);">
            </span></h4>

        </div>
        <div class="masget-menu clearfix" ng-hide="groupPanel" ng-show="showFlag">
            <div class="col-sm-6 col-md-2 " align="center" ng-show="showAdd">
                <span class="glyphicon glyphicon-plus-sign masget-addIcon" ng-click="editBuzCircle(items);"></span>
            </div>
            <div class="col-sm-6 col-md-2" align="center" ng-repeat="item in items">
                <div class="thumbnail masget-icon">
                    <span ng-click="deleteMember(item.commercialcirclememberid)" class="glyphicon glyphicon-remove-sign" style="float: right;font-size:18px;color: crimson;"></span>
                    <img class="memberCard" src="static/img/base/ui/person1.png" alt="图片失效" style="width:100%;height: 70px;" ng-id="{{$index}}">
                    <div class="caption">
                        <span>{{item.staffnickname}}</span>
                    </div>
                    <span class="glyphicon glyphicon-edit pull-right" style="top: -17px;" ng-click="modifyNickName(item);"></span>
                    <span class="icon icon-credit-card" style="position: absolute;top: 5px;left: 5px" data-title="人员详情" data-content-Template="popover/buzcircle.person.detail.tpl.html" data-container="body"
                     data-html="true" data-trigger="hover" data-hover-hold="true" data-placement="bottom-right" data-delay="200" bs-popover></span>
                </div>
            </div>
        </div>
    </div>
</div>
