    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr class="info">
                <th style="width: 40px;">操作</th>
                <th>商品名称</th>
                <th>数量</th>
                <th>价格(￥)</th>
                <th>折扣率%</th>
                <th colspan="2">商品金额(￥)</th>
                <!-- <th style="width: 40px;">赠品</th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in orders.orderlist">
                <td>
                    <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除">
                        <span class="glyphicon glyphicon glyphicon-trash red"></span>
                    </a>
                </td>
                <td>
                	<comboxtable  ng-model="item.selected"  column-names="['商品编码','商品','商品条码','商品规格','价格']" column-fields="['goodssn','goodsname','barcode','goodsspec','shopprice']"
                                  text-field="goodsname" datas="goodsskus.data.rows" on-change="querygoodssku(item)" key-word="item.goodsname" is-required="true" is-show-index="true" 
                                  content-style="width: 200px;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择商品" is-disabled="item.action != 'add'">
                    </comboxtable>
                </td>
                <td>
                   <input type="number" min="1" class="form-control"  ng-model="item.goodsqty" />
                </td>
                <td>{{item.dealingprice}}</td>
                
                <td>{{item.discountrate}}</td>
                
                <td colspan="2">
                {{item.dealingprice == null ? 0 :item.goodsqty *  item.dealingprice - (item.goodsqty *  item.dealingprice * item.discountrate * 0.01)}}
                </td>
                <!-- <td><input type="checkbox" ng-model="item.isgiftflag" ></td> -->
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="7">
                    <a href="javascript:void(0);" class="btn-link" ng-click="addNewRow()" title="添加记录">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;添加记录
                    </a>
                </td>
            </tr>
            <tr style="height: 45px">
                <td colspan="4"></td>
                <td><label>合计:</label></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <tr style="height: 45px">
                <td colspan="4"></td>
                <td>总数量：</td>
                <td><strong style="color: red;">
                {{sumGoodsQty()}}</strong>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr style="height: 45px">
                <td colspan="4"></td>
                <td>总金额：</td>
                <td><strong style="color: red;">
                {{sumGoodsMoney() | currency:"￥"}}</strong>
                </td>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        </table>
    </div>