<!-- 商品展示 -->
<div class="dc">
	<div class="col-md-3 col-xs-3 col-sm-2 column dc" ng-repeat="item in goodsList.rows" style="padding-top:10px;">
	    <div class="panel panel-default panelDecorate">
	        <div class="panel-body">
	            <div class="col-md-12 col-xs-12" style="padding:0;">
	            	<span class="goodsname" ng-bind="item.goodsname" style="margin-bottom:5px;"></span>
	                <div class="" style="font-size:14px; margin-bottom:5px;">
	                    <span class="goodsname" style="font-size:12px;"><span style="color:red;">价格:￥{{item.shopprice}}</span>&nbsp;&nbsp;规格:{{item.goodsspec}}</span>
	                    <p style="color:black;">
	                    购买数量:<input type="number" ng-model="item.goodsnumber" style="width:50px;" ng-change="goodsNumberChange(item)"/>
	                        <Button type="button" class="btn btn-primary btn-xs" ng-click="addCart(item)">加入订货单</Button>
	                    </p>
	                </div>
	            </div>
	        </div> 	
	    </div>
	</div>
</div>
<!-- 商品展示end -->
<!-- 分页指令 -->
<div class="col-md-12 column">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height: 40px;">
        <pagination recordcount="{{goodsList.total}}" pagenum="goodsList_queryData.pagenum" pagesize="goodsList_queryData.pagesize" onselect="searchGoodsList();"></pagination>
    </nav>
</div>