<div class="container well well-lg"	>
   	<div class="row clearfix">
		<div class="container-fluid h_billingContent" style="background-color: white;">
       		 <div class="row clearfix col-md-12 column" >
				 <ul class="breadcrumb" style="background-color: white;padding: 8px 15px 10px 0px;">
					 <li>
						 <a href="#" ng-click="returnToList()">订货单</a>
					 </li>
					 <li class="active">
						订货单详情
					 </li>
				 </ul>
			 </div>
		     <div class="row clearfix" style="margin-top:10px;margin-bottom:10px;">
		         <!-- <div class="col-md-12 col-xs-12 text-center" style="font-size:30px;"><span>订单详情</span></div> -->
				 <div class="col-md-12 col-xs-12">
				     <span style="font-color:#555;">
				         {{edit_datas.buyercompanyname}}&nbsp;&nbsp;&nbsp;单号：{{edit_datas.ordernum}}
				     </span>
				     <div style="display:inline;float:right;" ng-if="edit_datas.orderstate == 2"><button class="btn btn-primary" ng-click="modalAudit()">审核</button></div>
				 </div>
			 </div>
		     <div class="table-responsive">
		         <table class="table table-responsive table-bordered table-hover table-striped">
			         <!-- <caption style="" class="text-center">
			             <strong style="font-size:25px;">采购明细</strong>  
			         </caption>	 -->                
				     <thead>
				         <tr style="border:1px solid #ccc;background-color: #f3f3f3">
				             <th style="text-align:center;">序号</th>
				             <th style="text-align:center;">商品名</th>
				             <th style="text-align:center;">商品价格</th>
				             <th style="text-align:center;">商品规格</th>
				             <th style="text-align:center;">购买数量</th>
				             <th style="text-align:center;">金额小计</th>
				         </tr>
				     </thead>
				     <tbody>
				         <tr ng-repeat="items in edit_datas.orderlist"  style="border:1px solid #ccc;">
				             <td style="color:#888;" ng-bind="$index+1">1</td>
				             <td style="color:#888;">{{items.goodsname}}</td>
				             <td style="color:#888;">{{items.dealingprice}}</td>
				             <td style="color:#888;">{{items.goodsspec}}</div></td>
				             <td style="color:#888;">{{items.goodsqty}}</td>
				             <td style="color:#888;">{{items.totalmoney}}</td>
				         </tr>
				         <tr style="border:1px solid #ccc;">
				             <td style="color:#888;"></td>
				             <td style="color:#888;">合计</td>
				             <td style="color:#888;"></td>
				             <td style="color:#888;"></td>
				             <td style="color:red;"><strong>{{edit_datas.totgoodsqty}}</strong></td>
				             <td style="color:red;"><strong>{{edit_datas.totgoodsmoney}}</strong></td>
				         </tr>
				         <!-- <tr style="margin-top:25px;">
				         	<td colspan="4" class="text-center">
				                 <span>应付总额:<strong style="color:#e4393c">{{edit_datas.totgoodsmoney}}</strong></span>
				             </td>
				         </tr> -->
				    </tbody>
			    </table>
		    </div>
			<div class="row clearfix" style="margin-top:50px;">
				<div class="col-md-12 col-xs-12"><strong style="font-size:15px;margin-left:15px;">收货人信息</strong></div>
				<form class="form-inline">
					<div class="col-md-12 col-xs-12 form-group">
						<label><span style="color:black;">收货人:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{edit_datas.buyername}}&nbsp;</span>
						<label><span style="color:black;">联系电话:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{edit_datas.buyerphone}}&nbsp;</span> 
						<label><span style="color:black;">送货地址:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{edit_datas.buyerprovincename}}{{edit_datas.buyercityname}}{{edit_datas.buyerareaname}}{{edit_datas.buyeraddress}}&nbsp;</span>
					</div>
				</form>
				<div class="col-md-12 col-xs-12"><strong style="font-size:15px;margin-left:15px;">备注信息</strong></div>
				<form class="form-inline">
					<div class="col-md-12 col-xs-12 form-group">
					    <label><span style="color:black;">备注:</span>&nbsp;&nbsp;</label><span style="text-decoration: underline">{{edit_datas.remark}}&nbsp;</span> 
					</div>
				</form>
				<div class="col-md-12 col-xs-12 text-center" style="font-size:30px;"><button class="btn btn-primary btn-lg" ng-click="returnToList()"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;返回</button></div>
			</div>                    
		</div>
	</div>
</div>
<div class="modal fade" id="modalAudit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					审核
				</h4>
			</div>
			<div class="modal-body">
				<div class="row clearfix">
					<div class="col-md-12 col-xs-12 form-group">
					    <label><span style="color:black;">审核备注:</span>&nbsp;&nbsp;</label>
						<textarea class="form-control" rows="3" cols="20" ng-model="edit_datas.auditremark">
									
						</textarea>	
					</div>
				</div>
			</div>
			<div class="modal-footer">
				 <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> --> 
				 <button type="button" class="btn btn-primary" ng-click="audit(edit_datas,3)">审核通过</button>
				 <button type="button" class="btn btn-primary" ng-click="audit(edit_datas,4)">审核不通过</button>
			</div>
		</div>
	</div>
</div>