@CHARSET "UTF-8";

html body{
    background-color: #f0f0f0;
    height: 100%;
}
.panelDecorate:HOVER{
	border-color:red ;
}
.modal-backdrop {
    z-index: 40;	
}
.modal {
	z-index: 51;
}
/*设置模态窗口的透明度*/
.modal-backdrop.in {
    opacity: 0.2;
}
.masget-top{
    overflow:hidden;
    position: fixed;
    top:60%;
    left:43%;
    z-index:1151;
}
.searchInput{
	border-radius:0px;
	border-top-color:red;
	border-bottom-color:red;
	border-left-color:rgb(64,​ 64,​ 64);
	border-right-color:rgb(64,​ 64,​ 64);
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:none;
	border-left-style:solid;
	border-top-width:2px;
	border-right-width:0px;
	border-bottom-width:2px;
	border-left-width:2px;
}
.serchButton{
    border-radius:0px;	
}
.serchButton:HOVER{
	background-color:#FF0000;
}
.shopName{
	font-size: 18px;
}
.shopPhone{
	font-size: 15px;
}
.shopHeadCommon{
	width: 100%;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: left;	
}
.shopSaleDecorate{
	font-family:tahoma,​arial,​"Hiragino Sans GB",​宋体,​sans-serif;
	font-size:12px;
	font-weight:400;
	font-style:	normal;
	font-size-adjust:none;
	color:#888;
	line-height:22px;
}
.shopPrice{
	text-decoration:line-through;
	color: #888;
}
.searchLabel{
	border-left-color:red;
	border-top-color:red;
	border-bottom-color:red;
	color:black;
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:none;
	border-left-style:solid;
	border-top-width:2px;
	border-right-width:0px;
	border-bottom-width:2px;
	border-left-width:2px;	
}
.imgeDecorate{
	cursor:pointer;
}
.index_hd_info_wrap{
	background-color:#fff;
	border-color: #ccc;
}
#hd_bg_item{
    display: block;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #323232;
    bottom: 0;
    height: 26px;
    left: 0;
    width: 100%;
    padding-top:3px;
}
#sold{
	bottom: 1px;
    color: #fff;
    font-family: "黑体";
    left: 15px;
    z-index: 10;
}
#item_title{
	color: #454544;
    font-size: 15px;
    padding: 0;
    word-break:break-all;
    font-style:normal;
    font-weight:normal;
    list-style: outside none none;
}
#item_price{
	color: #c60a1e;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    overflow: visible;
    padding: 0;
    padding-bottom:10px;
}
#show_controls{
	padding-top:12px;
    padding-right: 0px;
    background-color: #fff;
    height:50px;
}
#selected_sku_des_tle{
	left: 15px;
    color: #323232;
}
#show_controls_arrow{
	border-bottom: 1px solid #5d5d5d;
    border-right: 1px solid #5d5d5d;
    content: "";
    height: 7px;
    position: absolute;
    right: 15px;
    top: 28px;
    transform: rotate(-45deg);
    width: 7px;
    top: 22px !important;
}
#seller_wrap{
	border-bottom: 1px solid #eee;
}
#enter_shop_class,#enter_shop {
	height: 100%;
    line-height: 35px;
}
.c_txt {
    text-align: center;
}
.rel {
    position: relative;
}
a{
    color: #323232;
    outline-style: none;
    text-decoration: none;
 }
a:hover{
    outline-style: none;
    text-decoration: none;	
}
#common_hd{
	display: block;
	background-color:#e2dddc;
	height: 44px;
    line-height: 44px;
}

#hd_back{
	width:50px !important;
    height: 44px !important;
    left: 20 !important;
    margin-top:-5px;
}
.abs {
    position: absolute;
}
#common_hd_logo{
	height: 44px;
    left: 40px;
    top: 0;
    width: 74px;
    background-size:44px auto;
    background-position:50% 50%;
}
.t_hide {
    text-indent: -9999px;
}
.my_shop{
	float: right;
    height: 44px;
    padding-right: 15px;
    width: 71px;
    background: url("../../../../static/img/base/my_shop.png") no-repeat scroll center center / 71px auto rgba(0, 0, 0, 0);
}
.buyingBar{
	background-color: #f7f7f7;
}
#add_cart{
	background-color: #e8e8e8;
    color: #d93229;
    font-family:Arial,​"Microsoft YaHei";
    font-size:15px;
    font-weight:400;
}
#buy_now,.control_bottom_submit{
	background-color:#c60a1e;
	color: white;
    left: 0;
    font-family:Arial,​"Microsoft YaHei";
    font-size:15px;	
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: 0 0px 0px ;
    outline: 0 none;
}
.cart_btn{
    background: url("../../../../static/img/base/cart.png") no-repeat scroll 13px 14px / 20px auto white;
    border-radius: 47px;
    bottom: 56px;
    box-shadow: 1px 1px 5px #d8d8d8;
    height: 47px;
    position:fixed;
    right: 11px;
    width: 47px;
    z-index: 98;
}
.saleAttr{
	width:250px;
}
.arrAttributes a{
    background-color: #fff;
    color: #000;
    min-width: 115px;
    padding: 0 9px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: auto !important;
    outline: 0 none; 
}

.arrAttributes a:hover{
	border: 2px solid #be0106;
	text-decoration: none;
}
.wasSelected{
    border: 2px solid #be0106;
    color: #000;
    max-width: 40px;
    min-width: 10px;
    overflow: hidden;
    padding: 0 6px 0 7px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto !important;
    outline: 0 none;
}
.modal-footer{
	text-align: center;
}  
.mechantsTitle{
	float: left;
    text-align: left;
    width: 76px;
    color: #838383;
}
.content1_right3{
	width:261px;
	right:0; 
	margin-left:846px;
    overflow:hidden;
    position: fixed;
	bottom: 0px; 
	background-color: #FFFFFF; 
	border: 1px solid #CCCCCC;
}
.content1_right3 a:hover{
	cursor:pointer;
}
.content2_right3{
	width:261px;
	right:0; 
	margin-left:846px;
    overflow:hidden;
    position: fixed;
	bottom: 50px; 
	background-color: #FFFFFF; 
	border: 1px solid #CCCCCC;
}
.content2_right3 a:hover{
	cursor:pointer;
}
.panel-title span{
font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
.suplierBtn{
	background-color:rgb(255,​ 51,​ 0);
}

#sidepanel a:link, #sidepanel a:visited {
  background-position: -85px -149px;
}
#sidepanel a {
  display: block;
  overflow:hidden;
  position: fixed;
  bottom: 250px;
  width: 22px;
  height: 86px;
  padding: 28px 0 0 2px;
  right: 20px; 
  text-align: center;
  line-height: 14px;
  text-decoration: none;
  color:#666;
  cursor:auto;
  font-family:Arial,​Verdana,​"宋体";
  font-size:12px;
  font-weight:400;
}
#sidepanel a, #sidepanel b {
  background-image: url(../../../../static/img/base/20150611.png);
  background-repeat: no-repeat;
}
#sidepanel .gotop:link b, #sidepanel .gotop:visited b {
  background-position: -21px -219px;
}
#sidepanel b {
  position: absolute;
  top: 9px;
  left: 4px;
  width: 17px;
  height: 16px;
  overflow: hidden;
}
#use_other_tele {
  width: 30px;
  height: 36px;
  display: block;
  line-height: 18px;
  border-left: 1px solid #e2e2e2;
  color: #e2dddc;
  padding: 4px 0 4px 15px;
  font-size: 14px;
} 
