html,body,h1,h2,h3,h4 {background: #F5F5F5;}
*{margin:0;padding:0;}
/*设置datagrid行选中和停留时的颜色 包括a标签*/
.datagrid-row-selected {background: #948f8f;color: #fff;}
.datagrid-row-selected a{color: #fff;}
.datagrid-row-over {background: #948f8f;color: #fff;}
.datagrid-row-selected,.datagrid-row-over a{color: #fff;}
/*修改combobox 选中和停留的颜色*/
.combobox-item-selected {background: #948f8f;color: #fff;}
.combobox-item-hover {background: #948f8f; color: #fff;}

/*设置普通a标签的颜色*/
a,td div a {color: #53A8EA;}
.h-base-a {color: #53A8EA;}

/*datagrid toolbar 查询条件部分的设置*/
.toolbar_title {background: #F5F5F5;width:100%;height:auto;padding:5px;border: 1px solid #ddd;}

/*去掉必填项的红色边框边框*/
.textbox-invalid {border-color:#ddd;}

.bank_ul{
    width:568px;
    list-style: none;
    margin:0;
    padding:0;
}

.bank_li_break{
    float: left;
    width: 568px;
    height: 10px;
}

.bank_li_logo{
    cursor: pointer;
    float:left;
    width: 130px; 
    height: 35px;
    line-height: 35px;
    margin: 10px 0 0 10px;
    border: 1px solid #fff;
}   
.bank_li_logo:hover{
    border: 1px solid #6685A2;
}

.bank_li_link{
    float:left;
    width:auto;
    margin: 10px 0 5px 10px;
}

.bank_li_link a{
    text-decoration: none;
}

.bank_li_link:hover a{
    text-decoration: underline;
}

.div-bankex{
    margin: 5px;
}
.div-bankex dl{
    width: 100px;
    float: left;
    text-align: right;
}

/*复选框*/
input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=checkbox].css-checkbox + label.css-label {padding-left:16px;height:16px; display:inline-block;line-height:20px;background-repeat:no-repeat;
                   background-position: 0 0;font-size:13px;vertical-align:middle;cursor:pointer;color:#666666;}
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -18px;}
label.css-label {background-image: url(images/checkboxes.png);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;  }