<!doctype html>
<html lang="en" ng-app="masgetWebApp">
<head>
	<title ng-bind="$state.current.name + ' - masget'">ui-router</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/base/bootstrap.css">
   	<link href="../../static/js/plugins/angular.plugins/ui-select/select.min.css" rel="stylesheet" />
   	<link href="../../static/js/plugins/jquery.plugins/jBox/Skins2/Blue/jbox.css" rel="stylesheet"/>
    <!-- 自定义css -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
   	<style type="text/css">
   		.jbox-button-panel,div.jbox .jbox-button{ height:30px!important;}
   	</style>
	<!-- 基础框架，不能移动 -->
	<script src="../../static/js/base/jquery/jquery.min.js"></script>
    <script src="../../static/js/base/angularjs/v.1.3.15/angular.js"></script>
    <script src="../../static/js/base/angularjs/v.1.3.15/angular-animate.js"></script>
    <script src="../../static/js/base/angular-ui.router/angular-ui-router.js"></script>
    <script src="../../static/js/base/angularjs/v.1.3.15/angular-messages.js"></script>

    <!--boostrap插件整合-->
    <script src="../../static/js/base/angularstrap/angular-strap.js"></script>
    <script src="../../static/js/base/angularstrap/angular-strap.tpl.js"></script>
    <script src="../../static/js/base/bootstrap/v3.3.4/js/bootstrap.js"></script>
    <script src="../../static/js/plugins/angular.plugins/ui-select/select.min.js"></script>
    <script src="../../static/js/base/angularjs/v.1.3.15/angular-sanitize.js"></script>
    
    <!-- 提示对话框 JBox 插件 -->
	<script src="../../static/js/plugins/jquery.plugins/jBox/jquery-browser.js"></script>
	<script src="../../static/js/plugins/jquery.plugins/jBox/jquery.jBox-2.3.min.js"></script>
	<script src="../../static/js/plugins/jquery.plugins/jBox/i18n/jquery.jBox-zh-CN.js"></script>

    <!--公共工具类服务-->
    <script src="app/common/utils/utils-service.js"></script>
    <script src="app/common/utils/postJson-Service.js"></script>
    
   <!--自定义js文件-->
    <script src="app/app.js"></script>
    <script src="app/goodsAdd/goodsAdd.js"></script>
    <script src="app/goodsAdd/goodsAdd-service.js"></script>
    <script src="app/goodsAdd/goodsAdd.Controllers.js"></script>
    <script src="app/goodsAdd/goodsAdd.directive.js"></script>
    <script src="../../static/js/plugins/angular.plugins/ng-file-upload/ng-file-upload.js"></script>
   	<script src="../../base/static/js/jquery.ztree.all-3.5.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row"><div class="col-md-12 col-xs-12"><h3 class="h-prod-title">添加商品</h3></div></div>
		<div class="row goodsAdd-content">
			<form class="form-horizontal" name="addgoodsForm" novalidate>
			 <!--start 图片上传 -->
			  <div class="form-group">
			    <label class="col-sm-2 control-label">上传图片</label>
			    
			    <div class="col-sm-10" ui-view="picUpload"></div>
			    
			  </div>
			   <!--end 图片上传 -->
			   
			   <!--start 类目属性 -->
			   
			   <div ui-view="goodsAddCategory"></div>
			   
			  <!--end 类目属性-->
			  
			  <div class="form-group">
			    <label  class="col-sm-2 control-label">商品名称</label>
			    <div class="col-sm-3" ng-class="{haserror:addgoodsForm.goodsname.$invalid&&formdata.isCommitted}">
			      <input type="text" class="form-control" required name="goodsname" ng-model="formdata.goodsname" placeholder="请输入商品名称"/>
			      <div class="ng-messages-error" ng-messages="addgoodsForm.goodsname.$error" ng-show="addgoodsForm.goodsname.$invalid&&formdata.isCommitted" >
					<span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>商品名称不能为空!</span>
				  </div>
					<!-- 	{{addgoodsForm.$valid}} -->
			    </div>
			  </div>
			  <div class="form-group">
			    <label  class="col-sm-2 control-label">商品描述</label>
			    <div class="col-sm-3">
			      <textarea id="i_des" name="i_des" style="width:100%; font-size:14px; padding:6px 12px;" ng-model="formdata.description" placeholder="请输入商品描述"></textarea>
			    </div>
			  </div>
			   <div class="form-group">
			    <label  class="col-sm-2 control-label">商品条形码</label>
			    <div class="col-sm-3">
			      <input type="text" class="form-control" ng-model="formdata.barcode" placeholder="请输入商品条形码"/>
			    </div>
			  </div>
			  <!--start 商品分类 -->
			  <div class="form-group">
			    <label  class="col-sm-2 control-label">商品组织</label>
			    
			    <div class="col-sm-10" ui-view="goodsAddClass"></div>
			    
			    <p class="col-sm-offset-2 col-sm-10" style="clear:both; position:relative; overflow:hidden; font-size:12px; color:#999; line-height:18px; padding-top:10px;">
					<span class="glyphicon glyphicon-info-sign"></span>提示：“商品组织”让商家可以根据自己的需要，将商品组织归类。<br>例如：服装可以组织分类为男装和女装；女装还可以进一步组织分类为上衣和裙子等等。
				</p>
			  </div>
			    <!--end 商品分类-->
			  <div class="form-group">
			  		<label class="col-sm-2 control-label">单位</label>
			  		<div class="col-sm-10" ui-view="goodsUnit"></div>
			  </div> 
			    
			  <div class="form-group">
			    <label  class="col-sm-2 control-label">市场价</label>
			    <div class="col-sm-3" ng-class="{haserror:addgoodsForm.marketprice.$invalid&&formdata.isCommitted}">
			      <input type="number" class="form-control" name="marketprice" min="0"  ng-model="formdata.marketprice" placeholder="请输入市场价" required/>
			      <div class="ng-messages-error" ng-messages="addgoodsForm.marketprice.$error" ng-show="addgoodsForm.marketprice.$invalid&&formdata.isCommitted">
					<span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>市场价不能为空!</span>
					<span ng-message="number"><span class="glyphicon glyphicon-exclamation-sign"></span>请输入合法的数字!</span>
				  </div>
				<!--  {{addgoodsForm.marketprice.$error}} -->
			    </div>
			    <span>元</span>
			  </div>
			   <div class="form-group">
			    <label  class="col-sm-2 control-label">销售价</label>
			    <div class="col-sm-3" ng-class="{haserror:addgoodsForm.shopprice.$invalid&&formdata.isCommitted}">
			      <input type="number" class="form-control" ng-model="formdata.shopprice" name="shopprice" min="0" placeholder="请输入销售价" required />
			      <div class="ng-messages-error" ng-messages="addgoodsForm.shopprice.$error" ng-show="addgoodsForm.shopprice.$invalid&&formdata.isCommitted">
					<span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>销售价不能为空!</span>
					<span ng-message="number"><span class="glyphicon glyphicon-exclamation-sign"></span>请输入合法的数字!</span>
				  </div>
			    </div>
			    <span>元</span>
			  </div>
			   
			  <div class="form-group" style="border-top:1px dashed #ddd; padding-top:10px;">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit"  class="btn btn-danger" style="padding:6px 40px;" ng-click="accountShow()">提交</button>
			    </div>
			  </div>
			</form>
		</div>
		
	</div>

</body>
</html>