<!-- 模态窗口start -->
<div class="modal fade" id="addressgroupConfigDetail" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					<span style="text-align:center;">{{modalTitle}}</span>
				</h4>
			</div>
			<div class="modal-body well" style="margin-bottom:0px;">
				<form class="form-horizontal" role="form">
					<div class="form-group">
					    <label for="" class="col-md-3 col-sm-3 control-label"><strong>级别名称：</strong></label>
						<div class="col-md-7 col-sm-7">
						    <input class="form-control" style="width: 84%;display:inline;" required name="" id="" ng-model="formData.addressgroupname" type="text" placeholder="请输入级别名称"/>
						</div>
					</div>	
					<div class="form-group">
					    <label for="" class="col-md-3 col-sm-3 control-label"><strong>订货折扣率：</strong></label>
						<div class="col-md-7 col-sm-7">
						    <input class="form-control" style="width: 53%;display:inline;" required name="" id="" ng-model="formData.discountrate" type="text" placeholder="请输入折扣"/>%
						</div>
					</div>				
				</form>
			</div>
			<div class="modal-footer">
				 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				 <button type="button" class="btn btn-default" ng-click="submit(formData.action)">{{modalSubmit}}</button>
			</div>
		</div>
	</div>
</div>
<!-- 添加或编辑模态窗口end -->