<div style="height:100%;padding-bottom:10px;overflow: auto;position: relative;margin: auto" on-finish-render-filters="editStaff">
	<div id="autowith"  ng-class="{true: 'height500', false: 'height420'}[isContactStaff]" style="height:auto" class="clearfix">
		<h1 class="text-center" ng-if="type == 'add'&&isContactStaff" style="  margin-top: 10px;">新增员工</h1>
		<h1 class="text-center" ng-if="type == 'edit'&&isContactStaff || type == 'check'&&isContactStaff" style="  margin-top: 10px;">员工信息</h1>
		<form style="padding:10px;" class="form-inline form_staff clearfix" novalidate id="form_staff" name="form_staff">
			<div class="form-group col-sm-5 ">
		        <label class="pull-left" style="  line-height: 90px;">图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标：</label>
		        <ul id="goodsAdd-imgUl">
					<li class="goodsAdd-imgLi" ng-show="file">
							<div class="goodsAdd-img">
							<img src="{{comstaffDatum.stafficon}}" >
							<div class="goodsAdd-imgaction">
<!-- 								<a class="imgaction-item h-img-update" href="#" ngf-select  ngf-accept="'image/*'">替换</a> -->
								<a class="imgaction-item h-img-del" href="#" ng-click="deletePic(comstaffDatum.pictUrl)" style="margin-left:25px;">删除</a>
							</div>
							</div>
					</li>
					<li  style="  cursor: context-menu;" class="button goodsAdd-imgLi" ngf-select ng-model="files" ngf-accept="'image/*'"  ng-hide="file">
						<span class="glyphicon glyphicon-plus"></span>
						<em>单击上传图片</em>
					</li>
				</ul>
		    </div>
		    <div class="form-group col-sm-5 col-sm-offset-1  pull-right" style="margin-top: 12px;">
		        <label>公司名称：</label>
		        <input type="text" readonly="readonly"  name="companyname" ng-model="comstaffDatum.companyname"  class="form-control " >
		    </div>
		    
		    <div class="form-group col-sm-5  col-sm-offset-1  marginTop pull-right" style="margin-bottom: 2px;" ng-class="{haserror:form_staff.staffname.$invalid&&form_staff.submitted}">
		        <label>员工名称：</label>
		        <input  type="text" name="staffname" required ng-model="comstaffDatum.staffname"  class="form-control ">
				<span title="必填项" ng-messages="form_staff.staffname.$error" ng-show="form_staff.staffname.$invalid&&form_staff.submitted" >
                 	<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5  marginTop" ng-class="{haserror:form_staff.roletypeid.$invalid&&form_staff.submitted}">
		        <label>角色类型：</label>
		        <button ng-disabled="roletypemodel" required style="padding: 4px 12px; width: 190px;" name="roletypeid" type="button" class=" form-control btn btn-default " ng-model="comstaffDatum.roletypeid" data-trigger="focus"
		              bs-options="item.roletypeid as item.companyroletypename for item in roletype" bs-select>
		          	未选择 <span class="caret"></span>
		      	</button>
				<span title="必填项" ng-messages="form_staff.roletypeid.$error" ng-show="form_staff.roletypeid.$invalid&&form_staff.submitted" >
                 	<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5 col-sm-offset-1  marginTop pull-right" ng-class="{haserror:form_staff.stationid.$invalid&&form_staff.submitted}">
		        <label>工作站点：</label>
		        <button ng-disabled="stationmodel" required style="padding: 4px 12px; width: 190px;" name="stationid" type="button" class="form-control btn btn-default " ng-model="comstaffDatum.stationid" data-trigger="focus"
		              bs-options="item.stationid as item.stationname for item in stationData" bs-select>
		          	未选择 <span class="caret"></span>
		      	</button>
				<span title="必填项" ng-messages="form_staff.stationid.$error" ng-show="form_staff.stationid.$invalid&&form_staff.submitted" >
                 	<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5  marginTop" ng-class="{haserror:form_staff.mobilephone.$invalid&&form_staff.submitted}">
		        <label>电话号码：</label>
		        <input ng-change="changePhone()"  type="text" name="mobilephone"  ng-model="comstaffDatum.mobilephone" required class="form-control "  style="height: 30px;" ng-pattern="/^(1([0-9][0-9]))\d{8}$/">
				<span title="必填项" ng-messages="form_staff.mobilephone.$error" ng-show="form_staff.mobilephone.$invalid&&form_staff.submitted" >
                 	<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
				<span title="必填项" ng-messages="form_staff.mobilephone.$error" ng-show="form_staff.mobilephone.$invalid&&form_staff.submitted" style="display: block; position: absolute;margin-left: 75px;">
					<span ng-message="pattern" class="icon-exclamation-sign" style="    color: #a94442; font-size: 12px;">格式不对</span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5 col-sm-offset-1  marginTop pull-right" ng-class="{haserror:form_staff.email.$invalid&&form_staff.submitted}">
		        <label>电子邮箱：</label>
		        <input ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/" class="easyui-combotree form-control "  name="email" ng-model="comstaffDatum.email" style="height:30px;"/>
				<span title="必填项" ng-messages="form_staff.email.$error" ng-show="form_staff.email.$invalid&&form_staff.submitted" style="display: block; position: absolute;margin-left: 75px;">
					<span ng-message="pattern" class="icon-exclamation-sign" style="    color: #a94442; font-size: 12px;">格式不对</span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5  marginTop "  >
		        <label>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
		        <input ng-disabled="remark" name="remark"   ng-model="comstaffDatum.remark"  class=" form-control" style=" height: 30px;" type="text" >
		    </div>
		    <div class="form-group col-sm-5 col-sm-offset-1  marginTop  pull-right" ng-class="{haserror:form_staff.identitycard.$invalid&&form_staff.submitted}">
		        <label>身份证号：</label>
		        <input name="identitycard" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/"  ng-model="comstaffDatum.identitycard"  class=" form-control" style=" height: 30px;" type="text" >
				<span title="必填项" ng-messages="form_staff.identitycard.$error" ng-show="form_staff.identitycard.$invalid&&form_staff.submitted" style="display: block; position: absolute;margin-left: 75px;">
					<span ng-message="pattern" class="icon-exclamation-sign" style="    color: #a94442; font-size: 12px;">格式不对</span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5  marginTop" ng-class="{haserror:form_staff.loginname.$invalid&&form_staff.submitted}">
		        <label>登录名称：</label>
		        <input ng-disabled="loginname" type="text" name="loginname"  required  ng-model="comstaffDatum.loginname"   class="form-control" style=" height: 30px;"  >
				<span title="必填项" ng-messages="form_staff.loginname.$error" ng-show="form_staff.loginname.$invalid&&form_staff.submitted" >
					<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5 col-sm-offset-1  marginTop pull-right"  ng-if="type == 'add'" ng-class="{haserror:form_staff.loginpwd.$invalid&&form_staff.submitted}">
		        <label>登录密码：</label>
		        <input  required name="loginpwd"  ng-model="comstaffDatum.loginpwd"  class=" form-control" style=" height: 30px;" type="password" >
				<span title="必填项" ng-messages="form_staff.loginpwd.$error" ng-show="form_staff.loginpwd.$invalid&&form_staff.submitted" >
					<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
		    </div>
		    <div class="form-group col-sm-5  marginTop pull-right"  ng-if="type != 'add'">
		        <label>&nbsp;&nbsp;MPos名：</label>
		        <input name="mposname"  ng-model="comstaffDatum.mposname"  class=" form-control" style=" height: 30px;" type="text" >
		    </div>
		    <div class="form-group col-sm-5   marginTop "  ng-if="type != 'add'">
		        <label style="  margin-left: -16px;">&nbsp;&nbsp;MPos地址：</label>
		        <input name="mposaddress"  ng-model="comstaffDatum.mposaddress"  class=" form-control" style=" height: 30px;" type="text" >
		    </div>
			<div class="form-group col-sm-5   marginTop pull-right"  ng-if="type != 'add'" style="  height: 30px;">
				<label >是否离职：</label>
				<input type="radio" name="state" ng-model="comstaffDatum.state" value=""/>是
				<input type="radio" name="state" ng-model="comstaffDatum.state" value=""/>否
			</div>
		    <div class="form-group col-sm-5  marginTop " ng-if="typeShow == 'checkSms'"  ng-class="{haserror:form_staff.validationnum.$invalid&&form_staff.submitted}">
		        <label>校&nbsp;&nbsp;验&nbsp;&nbsp;码：</label>
		        <input  name="validationnum" ng-pattern="/^\d{6,6}$/" required ng-model="comstaffDatum.validationnum"   class=" form-control" style=" height: 30px;  width: 80px;" type="text" >
		        <button  ng-click="sendSms();">获取验证码<span style="color:red;" ng-if="SMS">({{counter}})</span></button>
				<span title="必填项" ng-messages="form_staff.validationnum.$error" ng-show="form_staff.validationnum.$invalid&&form_staff.submitted" style="display: block; position: absolute;margin-left: 75px;">
					<span ng-message="pattern" class="icon-exclamation-sign" style="    color: #a94442; font-size: 12px;">验证码错误</span>
            	</span>
				<span title="必填项" ng-messages="form_staff.validationnum.$error" ng-show="form_staff.validationnum.$invalid&&form_staff.submitted" >
					<span ng-message="required" class="icon-exclamation-sign" style="    color: #a94442; font-size: 16px;"></span>
            	</span>
		    </div>
		</form>
		<div class="text-center" ng-if="isContactStaff">
			<button class="btn btn-warning" ng-disabled="button" ng-if="type == 'add'" ng-click="add()">保存</button>
			<button class="btn btn-warning" ng-disabled="button" ng-if="typeShow == 'edit'" ng-click="edit()">保存</button>
			<button class="btn btn-warning" ng-disabled="button" ng-if="typeShow == 'checkSms'" ng-click="checkSms()">保存</button>
		</div>
	</div>
</div>
