<div class="container">
    <!-- 展示商家信息 -->
    <div class="row clearfix headContent" style="padding:0px;">
        <div class="col-md-12 col-xs-12 index_hd_info_wrap">
            <div class="col-md-2 col-xs-4" style="padding-top:10px;padding-bottom:10px;">
                <img ng-src="../{{merchants.rows[0].icon}}" class="img-responsive img-circle"/>
            </div>
            <div id="" class="col-md-10 col-xs-8 column">
                <h2 class="shopHeadCommon shopName" name="shopName">{{merchants.rows[0].companyname}}</h2>
                <span style="color: #888;font-size:12px;">简介:{{merchants.rows[0].introduction}}</span>
                <span class="shopHeadCommon shopPhone" name="shopPhone">电话:{{merchants.rows[0].phone}}</span>
            </div>
        </div>
    </div>
    <div class="row clearfix" style="padding:0px;">
        <!-- 搜索框 -->
        <div class="col-md-12 col-xs-12" style="margin-top:10px;padding:0px;">
            <!-- 荣邦logo
            <div class="form-group col-md-1 col-xs-1" style="padding:0;">
                <img ng-src="../../static/img/base/logo.png" class="img-rounded img-responsive"/>
            </div>-->
            <button type="button" ng-click="toSuppliersList()" class="btn btn-danger col-md-2 col-xs-3 serchButton" style="background-color:#FF3300;color:white;"><span class="glyphicon glyphicon-chevron-left">返回店铺列表</span></button>
            <div class="form-group col-md-6 col-xs-8" style="padding:0;">
                <label class="sr-only" for="commodityName">Amount</label>
                <div class="input-group">
                    <div class="input-group-addon searchLabel" style="border-left-color:red;border-top-color:red;border-bottom-color:red;color:black;">商品搜索</div>
                    <input type="text" class="form-control searchInput col-md-7 col-xs-5" id="commodityName" ng-model="commodityName" placeholder="Search" />
                </div>
            </div>
            <button type="button" id="searchBtn" ng-click="commoditiesSearch('','',true);" class="btn btn-danger col-md-1 col-xs-3 serchButton" style="background-color:#FF3300;color:white;"><span class="glyphicon glyphicon-search">搜索</span></button>
            
        </div>
        <!-- 排序导航栏 -->
        <div class="col-md-12 col-xs-12" style="margin-top:-5px;padding:0px;">
            <div class="btn-group">
                <button class="btn btn-default" type="button" ng-click="commoditiesSearch();">综合排序</button>
                <button class="btn btn-default" type="button" ng-click="timeToMarketToggleSort()">上市时间<span id="timeToMarketSortClassId"></span></button>
                <button class="btn btn-default" type="button" ng-click="shopPriceToggleSort()">价格<span id="shopPriceSortClassId"></span></button>
            </div>
        </div>
    </div>
</div>