<div class="container" style="padding:0;">
    <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 col-xs-12 column" style="padding:0;margin:0 auto 0 auto;">
            <!-- 返回模块-->
            <div class="panel panel-default" style="margin-bottom:-5px;">
                <div class="panel-body" style="padding:0;">
                    <div class="col-md-12 col-xs-12 column" id="common_hd" style="display: block;">
                        <!-- <a id="hd_back" class="abs" href="javascript:window.history.go(-1);"><span>返回</span></a> -->
                        <Button id="hd_back" style="background-color:#e2dddc;" class="btn btn-inserve btn-xs" onClick="javascript:window.history.back();">
                            <span class="glyphicon glyphicon-chevron-left"></span>返回</Button>
                        <div data-for-gaq="点击我的微店;详情页">
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
            
            <!-- 购物车列表展示 -->
            <div class="panel panel-default" style="margin-bottom:-5px;">
                <div class="panel-body" style="padding:0;">
	                <table class="table table-striped" >
                        <caption class="text-center">
                           <strong style="font-size:20px;">购物车列表</strong>  
                        </caption>	                
	                    <thead>
	                        <tr style="border:1px solid #ccc;">
	                            <th>
	                                <input type="checkbox" name="" ng-click="selectAll()" ng-model="sa" />
	                                                                                                 全选
	                            </th>
	                            <th>商品名</th>
	                            <th>商品价格</th>
	                            <th>商品规格</th>
	                            <th>购买数量</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="items in goodscartList.goodslist"  style="border:1px solid #ccc;">
	                            <td><input type="checkbox" name="" ng-click="countAmount(items)" ng-model="items.selected" /></td>
	                            <td style="color:#888;">{{items.goodsname}}</td>
	                            <td style="color:#888;">{{items.dealprice}}</td>
	                            <td style="color:#888;"><div ng-repeat="item in items.goodsskuattrib">{{item.attribname}}:{{item.attribproperties}}</div></td>
	                            <td style="color:#888;">
	                                <div>
	                                    <a ng-click="minusGoodscart(items)" href="javascript:void(0);" class="glyphicon glyphicon-minus"></a>
	                                    <input type="text" style="height:24px;width:70%; max-width:40px;" ng-model="items.numbers" ng-change="changeGoodscart(items)" />
	                                    <a ng-click="plusGoodscart(items)" href="javascript:void(0);" class="glyphicon glyphicon-plus"></a>
	                                </div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td colspan="5" class="text-center">
	                                <span>应付金额:<strong style="color:red;">￥{{countCartsPrice}}</strong></span>
					                <Button ng-click="deleteGoodsCarts()" class="btn btn-danger btn-md" >删除</Button>
					                <Button ng-click="billingGoodsCarts()" class="btn btn-success btn-md">结算</Button>	                                
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
                </div>
            </div>
        </div>
        <div class="col-md-1 column">
        </div>    
    </div>
</div>