<div class="container">
    <div class="row clearfix" style="padding:0px;">
        <div infinite-scroll="commoditiesSearch('','',false)" infinite-scroll-disabled="queryFormData.busy" infinite-scroll-distance="1">
            <div class="col-md-12 column" style="margin-top:5px;padding:0px;">
	            <!-- 商品展示 -->
	            <div class="col-md-3 col-xs-6 column" ng-repeat="item in commodities" style="margin-top:5px;padding:0px;">
	                <div class="panel panel-default panelDecorate">
	                    <div class="panel-body">
	                        <a ng-click="state_go_detail(merchants.rows[0],item)">
	                            <div class="imgeDecorate" style="height:auto;width:auto;" >
	                                <img style="height:225px;" ng-src="{{item.image}}" class="img-rounded img-responsive"/>
	                            </div>
	                        </a>
	                        <div class="col-md-12 col-xs-12" style="padding:0;">
	                            <div class="" style="color:red;font-size:14px; margin-bottom:5px;">
	                                <span class="shopPrice" style="font-size:12px;">市场价:￥<span ng-bind="item.marketprice"></span></span>
	                                                                                                ￥<span ng-bind="item.shopprice"></span>
	                                <!-- <span class="shopSaleDecorate text-right" style="margin-left:5%;">已售:<span ng-bind="item.saledAccount"></span>人</span> -->
	                            </div>
	                            <a href="/jsbweb/enterprise/commodity/list_detail.do?companyId={{merchants.rows[0].companyid}}&goodsId={{item.goodsid}}" style="font-color:red;font-size:12px;color:black;" >
	                                <span ng-bind="item.goodsname" style="margin-bottom:5px;"></span></a><br/>
	                        </div>
	                        <div class="text-center" style="margin-top:5px;">
	                            <Button href="#modal-container-99917" data-toggle="modal" type="button" class="btn btn-success btn-sm" ng-click="addCart(item)">加入购物车</Button>
	                            <Button href="#modal-container-99917" data-toggle="modal" type="button" class="btn btn-success btn-sm" ng-click="addCart(item)">立即购买</Button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 商品展示end -->
            </div>  
            <div ng-show='queryFormData.busy'>Loading data...</div>      
        </div>
        
    </div>
    <!-- 模态窗口,点击购物车、立即购买按钮  展示型号类型信息   -->
    <div class="modal" id="modal-container-99917" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                                                                        添加购物车
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="items in merchant.goodsskuattrib">
                        <div style="margin-bottom:5px;">
                            <span class="mechantsTitle">{{items.attribname}}</span>
		                    <span ng-repeat="item in items.properties" class="arrAttributes">
		                        <a href="javascript:void(0);" ng-class="{wasSelected:item.cssFlag}" ng-click="selectedClick(item,items,merchant)"><span>{{item.attribproperties}}</span></a>
		                    </span>
                        </div>
                    </div>
                    <div style="margin-top:20px;">
                        <!-- <span style="color:#838383;">库存:{{merchantPriceDetail.quantity}}</span> -->
                        <span style="color:#838383;">购买数量:<input type="number" ng-click="" min="1" ng-model="merchantPriceDetail.num" style="width:10%;"/></span>
                        <strong style="color:#838383;">单价:￥{{merchantPriceDetail.price}}</strong>
                        <strong style="float:right;color:#f0152c;">总价:￥{{merchantPriceDetail.totalPrice()}}</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <Button id="" data-dismiss="modal" ng-click="submitAddCart()" class="btn btn-default control_bottom_submit" style="width:150px;">添加</Button>
                    <Button id="" ng-click="submitOrders()" class="btn btn-default control_bottom_submit" style="width:150px;">提交订单</Button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态窗口end -->
	<!-- 购物车小图标 -->
	<div class="content1_right3">
		<table width="257" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(../billing/static/img/wmyd_bg_09_03.jpg) no-repeat;">
	         <tr>
	           <td height="42" style="padding-left:53px; color:#ffffff;">已选商品数量:{{countCommodity}}</td>
	           <td width="74" align="center"><a ng-click="balanceAccount()" style="color:#ffffff; text-decoration:none;">结算</a></td>
	         </tr>
	    </table>
	</div>  
</div>
 