<div class="container">
	<div class="row clearfix">
	    <!-- 上拉分页 -->
		<div infinite-scroll="supliersSearch(false)" infinite-scroll-disabled="userLoginInfo.busy" infinite-scroll-distance="1">
			<div class="col-md-12 column">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class=""> 
							<span class="demo-heading-note">供应商店铺列表</span>
						</h3>
					</div>
					<div class="panel-body">
					    <table class="table table-striped">                
		                    <thead>
		                        <tr style="border:1px solid #ccc;">
		                            <th class="text-center">店铺名称</th>
		                            <th class="text-center">联系人名称</th>
		                            <th class="text-center">联系电话</th>
		                            <th class="text-center">
		                                                                                                 选择
		                                <!-- <a href="javascript:void(0);" style="background-color:rgb(255, 51, 0);" class="btn btn-sm btn-danger" ng-click="toGoCommodityList(111507338)">
									                      进入店铺
									    </a>  -->
		                            </th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr ng-repeat="items in suppliers" style="border:1px solid #ccc;"> 
		                            <td class="text-center"><span style="color:#888;">{{items.companyname}}</span></td>
		                            <td class="text-center"><span style="color:#888;">{{items.staffname}}</span></td>
		                            <td class="text-center"><span style="color:#888;">{{items.mobilephone}}</span></td>
		                            <td class="text-center">
		                                <a href="javascript:void(0);" style="background-color:rgb(255, 51, 0);" class="btn btn-sm control_bottom_submit" ng-click="toGoCommodityList(items.companyid)">
									                      进入店铺
									    </a>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>