<div class="container">
    <div class="row clearfix" style="padding:0px;">
        <!-- <div class="col-md-3 column">
        </div> -->
        <div class="col-md-12 col-xs-12 column" style="padding:0px;">
            <!-- 返回模块-->
            <div class="panel panel-default" style="margin-bottom:-5px;padding:0px;">
                <div class="panel-body" style="padding:0;">
                    <div class="col-md-12 col-xs-12 column" id="common_hd" style="display: block;">
                        <!-- <a id="hd_back" class="abs" href="javascript:window.history.go(-1);"><span>返回</span></a> -->
                        <Button id="hd_back" style="background-color:#f7f7f7;" class="btn btn-inserve btn-xs" ng-click="toList()">
                            <span class="glyphicon glyphicon-chevron-left"></span>返回</Button>
                        <div  data-for-gaq="点击我的微店;详情页">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 店铺信息 -->
            <div class="panel panel-default" style="margin-bottom: 6px;" style="padding:0px;">
                <div class="panel-body" style="padding:0;">
                    <div class="col-md-12 col-xs-12 index_hd_info_wrap" >
                        <div class="col-md-2 col-xs-4" style="padding-top:10px;padding-bottom:10px;">
                            <img ng-src="../{{merchant.icon}}" class="img-responsive img-circle"/>
                        </div>
                        <div id="seller_wrap" class="col-md-10 col-xs-8 column">
                            <h2 class="shopHeadCommon shopName" name="Seawind">{{merchant.companyname}}</h2>
                            <!-- <h5 class="shopHeadCommon" style="fonts-size:13px;" name="">地址:广东天河软件园东城大厦101</h5> -->
                            <h5 class="shopHeadCommon" style="font-size:13px;" name="">电话:{{merchant.phone}}</h5>
                        </div>
                    </div>
                    <div id="col-md-12 col-xs-12">
                        <div class="col-md-6 col-xs-6 column text-center" >
                            <a id="enter_shop_class" class="left c_txt glyphicon glyphicon-list">商品分类</a>
                        </div>
                        <div class="col-md-6 col-xs-6 column text-center">
                            <a id="enter_shop" href="javascript:void(0)" class="right c_txt glyphicon glyphicon-list" ng-click="toList()">进入店铺</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品详细信息头部 -->
            <div class="panel panel-default" style="margin-bottom:6px;padding:0px;">
                <div class="panel-body" style="padding:0;">
                    <div class="col-md-12 col-xs-12 column center-block">
                        <img style="height:800px;" ng-src="{{commodity.image}}" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-md-12 col-xs-12 column" id="hd_bg_item" style="padding-left:30px;margin-top:15px;">
                        <!-- <span id="sold" >销量 22</span> -->
                    </div>
                    <div class="col-md-12 col-xs-12 column" style="padding-left:30px;">
                        <h2 id="item_title">{{commodity.goodsname}}</h2>
                        <span id="item_price" class="i_pri">￥{{commodity.shopprice}}</span>
                    </div>
                </div>
            </div>
            <!-- 型号选择css样式
            <div class="panel panel-default" style="margin-bottom: 6px;">
                <div class="panel-body" style="padding:0;">
                    <div class="col-md-12 col-xs-12 column" id="show_controls" style="padding:5px 0px 0px 17px;">
                        <a ng-click="addCart(commodity)" href="#modal-container-99916" data-toggle="modal" class="btn">
                            <span id="selected_sku_des_tle" style="margin-top:1px;" class="">选择商品 型号尺寸</span>
                            <span style="margin-right:0px;" class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- 商品详情信息-->
            <div class="panel panel-default" style="margin-bottom:0px;padding:0px;" ng-repeat="item in commodity.goodspicture">
                <div class="panel-body" style="padding-left:30px;">
                    <div class="col-md-12 col-xs-12 column">
                        <img style="height:800px;" ng-src="{{item.pictureurl}}" class="img-rounded img-responsive"/>
                    </div>
                </div>
                <div class="footer">
                    <p style="margin:0 30px 0 30px ;">{{item.picturedescription}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3 column">
        </div> -->
    </div>
    <!-- 模态窗口,点击购物车、立即购买按钮  展示型号类型信息 -->
    <div class="modal" id="modal-container-99916" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                                                                        添加购物车
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="items in merchant.goodsskuattrib">
                        <div style="margin-bottom:5px;">
                            <span class="mechantsTitle">{{items.attribname}}</span>
		                    <span ng-repeat="item in items.properties" class="arrAttributes">
		                        <a href="javascript:void(0);" ng-class="{wasSelected:item.cssFlag}" ng-click="selectedClick(item,items,merchant)"><span>{{item.attribproperties}}</span></a>
		                    </span>
                        </div>
                    </div>
                    <div style="margin-top:20px;">
                        <!-- <span style="color:#838383;">库存:{{merchantPriceDetail.quantity}}</span> -->
                        <span style="color:#838383;">购买数量:<input type="number" ng-click="" min="1" ng-model="merchantPriceDetail.num" style="width:10%;"/></span>
                        <strong style="color:#838383;">单价:￥{{merchantPriceDetail.price}}</strong>
                        <strong style="float:right;color:#f0152c;">总价:￥{{merchantPriceDetail.totalPrice()}}</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <Button id="" data-dismiss="modal" ng-click="submitAddCart()" class="btn btn-default control_bottom_submit" style="width:150px;">添加</Button>
                    <Button id="" ng-click="submitOrder()" class="btn btn-default control_bottom_submit" style="width:150px;">提交订单</Button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态窗口end -->
    <!-- 购物车导航-->
    <div class="panel panel-default" style="margin-bottom:48px;">
        <div class="panel-body center-block" style="padding:0px;" >
            <div class="navbar navbar-default navbar-fixed-bottom buyingBar" id="buyingBar">
                <div class="text-center col-md-12 col-xs-12">
                    <Button ng-click="addCart(commodity)" href="#modal-container-99916" data-toggle="modal" class="btn btn-inverse navbar-btn" id="add_cart" style="width:150px;" ng-show="true">加入购物车</Button>
                    <Button ng-click="addCart(commodity)" href="#modal-container-99916" data-toggle="modal" class="btn btn-default navbar-btn" id="buy_now" style="width:150px;" ng-show="true">立即购买</Button>
                </div>
            </div>
        </div>
    </div>
	<!-- 购物车小图标 -->
	<div class="content2_right3">
		<table width="257" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(../billing/static/img/wmyd_bg_09_03.jpg) no-repeat;">
	         <tr>
	             <td height="42" style="padding-left:53px; color:#ffffff;">已选商品数量:{{countCommodity}}</td>
	             <td width="74" align="center"><a ng-click="balanceAccount()" style="color:#ffffff; text-decoration:none;">结算</a></td>
	         </tr>
	    </table>
	</div>     
</div>