<div class="modal fade" id="modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:700px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                   		收款
                </h4>
            </div>
            <form name="modelSelectGoodsForm"  novalidate>
            <div class="modal-body" >
                <div class="container-fluid" style=" border: 0px;border-radius: 0px;margin: -15px;margin-top: 0px;margin-bottom: 0px;">
                	<form class="form-horizontal h_changewarehouseForm" role="form" >
					 <div class="form-group" style="text-align: left;">
							<label class="col-sm-2 control-label">
					            	支付方式：
					        </label>
					        
					        <span class="Sspan">
								<input ng-model="gathering.selectValue" type="radio" value="1">POS刷卡
							</span>
							<span class="Sspan" >
								<input ng-model="gathering.selectValue" type="radio" value="2">现金收款
							</span>
					    </div>
					    
						  <div ng-if="gathering.selectValue == 2"> 
							    <div style="text-align: left;" class="form-group">
									<label class="col-sm-2 control-label">金额：</label>
									<input  name="amount" placeholder="收款金额不能大于订单总金额"  ng-model="gathering.amount" required class="form-control input-sm"  type="text"  style="width: 50%">
									<span title="必填项" ng-messages="form_recharge.amount.$error" ng-show="form_recharge.amount.$invalid&&form_recharge.submitted">
										<span ng-message="required" class="icon-exclamation-sign ng-scope" style="  color: #a94442; font-size: 16px;"></span>
									</span>
								</div>
								<div style="text-align: left;" class="form-group">
									<label class="col-sm-2 control-label"></label>
									<span style="color: red">注意：“收款人：佳士博”</span>
								</div>
								<div style="text-align: left;" class="form-group">
									<label class="col-sm-2 control-label">收款凭证：</label>
									<textarea rows="5" placeholder="输入收款凭证（注意：该凭证用于财务对账）" required  ng-model="gathering.remark" class="form-control input-sm" style="resize: none;width: 50%" ></textarea>
									<span title="必填项" ng-messages="form_recharge.rechargedesc.$error" ng-show="form_recharge.rechargedesc.$invalid&&form_recharge.submitted" >
										<span ng-message="required" class="icon-exclamation-sign" style="color: #a94442; font-size: 16px;"></span>
									</span>
								</div>
							</div>
							
							
							<div ng-hide="gathering.selectValue != 1"> 
								
								<div style="text-align: left;" class="form-group">
									<label class="col-sm-2 control-label"></label>
									<span style="color: red">订单号：{{orders.ordernum}}</span>
									pos支付直接在pos机上输入订单号或者扫条形码
								</div>
								
								<div style="text-align: left;" class="form-group">
									<label class="col-sm-2 control-label"></label>
									<span id="bcTarget" class="barcodeImg"></span>
									<!-- <div style="color: red">订单号：{{orders.ordernum}}pos支付的话直接在pos机上输入订单号或者扫条形码</div> -->
								</div>
							</div>
					</form>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-warning btn-sm" ng-click="gatheringOrders(gathering)">立即收款</button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="hide()">关闭</button>
                
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

