	<div class="table-responsive" ng-controller="ordersCheckController">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="#" ui-sref="entry">销售单</a>
				</li>
				<li class="active">
					销售单详情
				</li>
			</ul>
		</div>
	
	     <div class="col-md-12 column">
			 <form class="form-horizontal h_changewarehouseForm" role="form">
			    <div class="form-group">
			        <label class="col-sm-8 control-label" style="text-align: left">
			            经销商：{{orders.buyername}} |
			            单号：{{orders.ordernum}}
			        </label>
			        
			        <label class="col-sm-4 control-label">
			        	<!-- <a style="cursor:pointer; title="修改" ng-click="modifyOrders(orders)" ng-hide="orders.orderstate == 5 || orders.orderstate == 8"><span class="glyphicon glyphicon-edit green"></span>修改</a> -->
			        	
			        	<a style="cursor: pointer;"  title="修改" ng-click="modifyOrders(orders)" ng-if="orders.orderstate == 2 "><span class="glyphicon glyphicon-edit green"></span>修改</a>
			        	
			        	<a style="cursor: pointer;" title="订单审核" ng-click="auditOrders(orders)" ng-if="orders.orderstate == 2"><span class="glyphicon glyphicon-alert green"></span>订单审核</a>
			        	
			        	<a style="cursor: pointer;" title="财务审核" ng-click="auditOrdersFinancial(orders)" ng-if="orders.orderstate == 3"><span class="glyphicon glyphicon-alert red"></span>财务审核</a>
			        	
			        	<a style="cursor: pointer;" title="出库审核" ui-sref="warehouseout({ordernum:orders.ordernum,orderid:orders.orderid})" ng-if="orders.orderstate == 12"><span class="glyphicon glyphicon-alert yellow"></span>出库审核</a>
			        	
			        	<a style="cursor: pointer;" title="打印" ng-click="privewToPdf()"><span class="glyphicon glyphicon-print green"></span>打印</a>
			        	
			        	<a style="cursor: pointer;" title="导出" ng-click="onBtnClickexportGoods()"><span class="glyphicon glyphicon-share green"></span>导出订单</a>
			        	
			        	<a style="cursor: pointer;" ng-click="recharge()" ng-hide= "orders.paystate == 3 || orders.orderstate == 8"  ><span class="glyphicon glyphicon-yen green"></span>收款</a>
			        </label>
			    </div>
			    <div class="form-group">
					<label class="col-sm-8 control-label" style="text-align: left">
			        	订单状态：{{orders.orderstatename}}
			        </label>
			    </div>
			</form>
	    </div>
    
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr class="info">
                <th>商品名称</th>
                <th>编码</th>
                <th>条码</th>
                <th>数量</th>
                <th>价格(￥)</th>
                <th>折扣率%</th>
                <th>商品金额(￥)</th>
                <th style="width: 40px;">赠品</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in orders.orderlist">
                <td style="width: 250px">
                	<!-- <comboxtable  ng-model="item.selected"  column-names="['商品编码','商品','商品条码','商品规格','价格']" column-fields="['goodssn','goodsname','barcode','goodsspec','shopprice']"
                                  text-field="goodsname" datas="goodsskus.data.rows" on-change="querygoodssku(item)" key-word="item.goodsname" is-required="true" is-show-index="true" is-disabled="orders.orderid != undefined && orders.orderid != ''"
                                  content-style="width: 200px;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择商品">
                    </comboxtable> -->
                    {{item.goodsname}}
                </td>
                <td style="width: 150px">
                   {{item.goodssn}}
                </td>
                <td style="width: 150px">
                   {{item.barcode}}
                </td>
                <td style="width: 150px">
                   {{item.goodsqty}}
                </td>
                <td>{{item.dealingprice}}</td>
                
                <td>{{item.discountrate}}</td>
                <td>
                	{{item.totalmoney}}
                </td>
                <td>{{item.giftflag==2?"是":"否"}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr style="height: 45px">
                <td colspan="5"></td>
                <td><label>合计:</label></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr style="height: 45px">
                <td colspan="5"></td>
                <td>总数量：</td>
                <td><strong style="color: red;">
                {{orders.totgoodsqty}}</strong>
                </td>
                <td></td>
            </tr>
            <tr style="height: 45px">
                <td colspan="5"></td>
                <td>总金额：</td>
                <td><strong style="color: red;">
                {{orders.totgoodsmoney | currency:"￥"}}</strong>
                </td>
                <td></td>
            </tr>
            <tr style="height: 45px">
                <td colspan="5"></td>
                <td>代付金额：</td>
                <td><strong style="color: red;">
                {{orders.totgoodsmoney - orders.paidmoney | currency:"￥"}}</strong>
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        
        <div class="col-md-12 column">
			 <form class="form-horizontal h_changewarehouseForm" role="form">
			 	<div class="form-group">
			        <label class="col-sm-8 control-label" style="text-align: left;">
			            发货日期：{{orders.deliverydate | limitTo : 10}}
			        </label>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-12 control-label" style="text-align: left;">
			            备注信息：{{orders.remark}}
			        </label>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-12 control-label" style="text-align: left;">
			            收货信息：
			            <a class="glyphicon glyphicon-edit green" ng-hide="orders.orderstate == 5 || orders.orderstate == 8"  ng-click="getAddressmanage(orders.buyerid)" role="button" class="btn"  title="管理收货信息"></a>
			            <span>
					                收货人:{{orders.orderaddress.contactname}}&nbsp;
					                省份:{{orders.orderaddress.provincename}}
					                城市:{{orders.orderaddress.cityname}}
					                县区:{{orders.orderaddress.areaname}}
					                地址:{{orders.orderaddress.address}}&nbsp;
					                手机:{{orders.orderaddress.mobile}}&nbsp;
					                固话:{{orders.orderaddress.phone}}
					     </span>
			        </label>
			    </div>
			    <!-- <div class="form-group">
			        <label class="col-sm-12 control-label" style="text-align: left">
			            展开日志
				        <span class="glyphicon" ng-class="vm.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
	            		ng-click="vm.collapsed = !vm.collapsed; searchlog()">
	            		</span>
	            		
	            		<div class="panel-collapse collapse" ng-class="{in: vm.collapsed}">
						    <div>
						     	<div ng-include=" '../orders/tpls/orders_log_grid.html' "></div>
						    </div>
						</div>
			        </label>
			    </div> -->
			    
			    <div class="form-group">
			        <label class="col-sm-12 control-label" style="text-align: left">
			            订单支付流水
				        <span class="glyphicon" ng-class="vm.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
	            		ng-click="vm.collapsed = !vm.collapsed; getPaymentflow()">
	            		</span>
	            		
	            		<div class="panel-collapse collapse" ng-class="{in: vm.collapsed}">
						    <div>
						     	<div ng-include=" '../orders/tpls/orders_paymentflow_grid.html' "></div>
						    </div>
						</div>
			        </label>
			    </div>
			    
			</form>
	    </div>
	    
	    <div class="col-md-6 column">
			    <button type="button" class="btn btn-primary btn-lg" ui-sref="entry">
			 <span class="glyphicon glyphicon-share-alt"></span>   
			    返回</button>
			    
			    <!-- <button type="button" ng-click="threePay(orders)" ui-sref="pay" class="btn btn-success btn-lg">
			 <span class="glyphicon glyphicon-yen"></span>   
			    结算</button> -->
		</div> 
		
		<div ui-view="address"></div>
		<div ui-view="modal"></div>
        
    </div>