<div class="col-md-12 column" ng-controller="ordersAddController"  style="padding: 0px;margin: 0px">
	<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="#" ui-sref="entry">销售单</a>
				</li>
				<li class="active">
					{{orders.edit}}销售单
				</li>
			</ul>
	</div>   
    <div class="col-md-12 text-right" style="font-size: 10px;padding: 0px;position: absolute;font-weight: normal;color: #666;">
        <label style="margin-right: 5px;">日期:</label><label >{{orders.createdtime}}</label>
        <label style="margin-left: 10px;margin-right: 5px;">单号:</label><label style="margin-right: 100px;">{{orders.ordernum}}</label>
    </div>
    
    <div class="col-md-12 column">
		 <form class="form-horizontal h_changewarehouseForm" role="form">
		    <div class="form-group">
		        <label class="col-sm-1 control-label" style="text-align: left">
		            经销商:
		        </label>
		        <div class="col-md-4 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		             <comboxtable ng-model="selectedAcontact" column-names="['经销商','联系人','地址','联系电话']" column-fields="['companyname','staffname','addressEx','mobilephone']"
		                          text-field="companyname" datas="contacts" on-change="getContact()" key-word="contactkeyword" is-required="false" is-show-index="true" input-placeholder="请选择经销商"
		                          is-disabled="orders.orderid != undefined && orders.orderid != '' "
		                          content-style="width:83.33%;" input-style="font-size:13px" input-class="form-control" input-height="34px" style="width: 100%;"
		                          >
		             </comboxtable>
		             <!-- <span class="input-group-btn" style="position:absolute;left:83.33%;top:0;">
		               <button class="btn btn-default" style="height:34px;" ng-click="" title="添加客户" data-toggle="modal" id="modal-275118" href="#modal-container-275118"  data-backdrop="static">
		                   <span class="glyphicon glyphicon-plus" style="color: deepskyblue;"></span>
		               </button>
		             </span> -->
		         </div>
		
		        <!-- <label class="col-sm-1 control-label">
		            仓库：
		        </label>
		        <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
		             <comboxtable  ng-model="warehouse" column-names="['仓库','地址']" column-fields="['stationname','address']"
		                          text-field="stationname" datas="storehouses" on-change="queryStorehouse()" key-word="storehouseKeyword" is-required="true" is-disabled="orders.orderid != undefined && orders.orderid != ''" is-show-index="true"
		                          content-style="width: 90%;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择仓库(必填)">
		             </comboxtable>
		         </div> -->
		    </div>
		    <div class="form-group">
		
		    </div>
		</form>
    </div>
    
    <div class="col-md-12 column" >
        <div ui-view="grid"></div>
    </div>
    
    <!-- 地址管理 -->
    <!-- <div class="col-md-12 column h_billingContent" >
        <div ui-view="address"></div>
    </div> -->
    
   <div class="col-md-12 column" >
	    <form class="form-horizontal h_changewarehouseForm" role="form" data-ng-init="queryload()">
	 		 <div class="form-group" ng-hide ="orders.orderid != undefined && orders.orderid != '' ">
				<label class="col-sm-1 control-label" style="text-align: left;">
		          发货日期:
		        </label>
		        <div class="col-sm-5" style="text-align: left;">
		            <input  ng-hide ="orders.orderid != undefined && orders.orderid != '' " ng-model="orders.deliverydate"  data-date-format="yyyy-MM-dd" data-container="body"  data-date-type="string" data-autoclose="1"  bs-datepicker placeholder="发货日期"  class="form-control" type="text" style="border: solid 1px #D7D7D7;height: 35px" />
		        	<!-- <span  ng-if ="orders.orderid != undefined && orders.orderid != '' ">{{orders.deliverydate | limitTo : 10}}</span> -->
		        </div>
			 </div>
			 
			 <div class="form-group" ng-if ="orders.orderid != undefined && orders.orderid != '' ">
				<label class="col-sm-12 control-label" style="text-align: left;">
		          发货日期:
		          <span>
		          {{orders.deliverydate | limitTo : 10}}
		          </span>
		        </label>
			 </div>
	 		 
	 		 <div class="form-group" ng-hide="orders.orderid != undefined && orders.orderid != '' ">
				<label class="col-sm-1 control-label" style="text-align: left">
		            备注:
		        </label>
		        <div class="col-sm-7" style="text-align: left">
		            <input class="form-control" style="width: 350px" type="text" ng-model="orders.remark" ng-hide="orders.orderid != undefined && orders.orderid != '' " placeholder="备注"/>
		        </div>
			 </div>
			 
			 <div class="form-group" ng-if ="orders.orderid != undefined && orders.orderid != '' ">
				<label class="col-sm-12 control-label" style="text-align: left">
		            备注:
		            <span>
		            {{orders.remark}}
		            </span>
		        </label>
		        
			 </div>
			 
			 <div class="form-group">
				  <label class="col-sm-12 control-label" style="text-align: left;">
				            收货信息:
				            <a ng-hide ="orders.orderid != undefined && orders.orderid != '' " class="glyphicon glyphicon-edit green" ng-click="getAddressmanage(orders.buyerid)" role="button" class="btn"  title="管理收货信息"></a>
		            		<span ng-show="receiveData.addressItemShow">
						                收货人:{{orders.orderaddress.contactname}}&nbsp;
						                省份:{{orders.orderaddress.provincename}}
						                城市:{{orders.orderaddress.cityname}}
						                县区:{{orders.orderaddress.areaname}}
						                地址:{{orders.orderaddress.address}}&nbsp;
						                手机:{{orders.orderaddress.mobile}}&nbsp;
						                固话:{{orders.orderaddress.phone}}
						     </span>
				    </label>
			 
					<!-- <label class="col-sm-1 control-label" style="text-align: left">
			            收货信息：
			        </label>
			        <div style="float:left; line-height:35px;">
	            	<span class="glyphicon glyphicon-edit green" data-toggle="modal" id="modal-275118" href="#modal-container-275118" ></span>
	            	<a class="glyphicon glyphicon-edit green" ng-click="getAddressmanage(orders.buyerid)" role="button" class="btn"  title="管理收货信息"></a>
	            		<span ng-show="receiveData.addressItemShow">
					                收货人:{{orders.orderaddress.contactname}}&nbsp;
					                省份:{{orders.orderaddress.provincename}}
					                城市:{{orders.orderaddress.cityname}}
					                县区:{{orders.orderaddress.areaname}}
					                地址:{{orders.orderaddress.address}}&nbsp;
					                手机:{{orders.orderaddress.mobile}}&nbsp;
					                固话:{{orders.orderaddress.phone}}
					     </span>
			       	</div> -->
			        
                    <!-- <div style="float:left; line-height:35px;">联系人：{{orders.buyername}} 联系电话：{{orders.buyerphone}}
                    收货地址：{{orders.buyerprovincename}}{{orders.buyercityname}}{{orders.buyerareaname}}{{orders.buyeraddress}}</div> -->
			 </div>
		</form>
    </div>
    
    <div ui-view="address"></div>
 		 
	<div ng-if="orders.orderid == undefined || orders.orderid == '' || orders.orderstate == 2" class="col-md-12 column" style="text-align:center;">
	    <button type="button" class="btn btn-primary btn-lg" ng-click="submit()">
	 <span class="glyphicon glyphicon-saved"></span>   
	    {{orders.edit}}销售单</button>
	</div> 
	
	<!-- <div ng-if="orders.orderid != undefined && orders.orderid != '' && orders.orderstate != 2" class="col-md-12 column" style="text-align:center;">
	    <button type="button" class="btn btn-primary btn-lg" ng-click="submitAddress()">
	 <span class="glyphicon glyphicon-saved"></span>   
	    {{orders.edit}}销售单地址</button>
	</div> --> 
	

    <!--新增的窗口开始  -->
    <!-- <div class="col-md-12 column padding0px margin0px" >
        <div  ui-view="addContact"></div>
        
        <div class="modal fade" id="modal-container-275118" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-title" id="myModalLabel" style="font-weight: 700;color: #666;">
                    修改联系人信息
                </div>
            </div>
            <div class="modal-body ordersForm">
               <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>联系人：</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="orders.buyername" placeholder="请输入联系人姓名" />
                    </div>
                </div>
                
                <form name="ordersAddForm" novalidate role="form">
                <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>联系电话：</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="orders.buyerphone" placeholder="请输入联系电话" ng-pattern="/^((1[3,5,8][0-9])|(14[5,7])|(17[0,6,7,8]))\d{8}$/" />
                    	<div ng-messages="ordersAddForm.$error" style="text-align: left;">	
							<span style="color: red"; ng-message="pattern">*请输入正确格式的手机号码</span>
						</div>
                    </div>
                </div>
                </form>
               
                <div class="form-group row marginBottom0px">
                    <div class="form-group col-md-2" style="padding: 3px 0px 0px 0px;">
                        <label>送货地址：</label>
                    </div>
                    <div class="col-md-10">
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control" style="width: 100%;" ng-model="orders.buyerprovinceid" ng-change="onChangeProvince(orders.buyerprovinceid)" ng-options="province.provinceid as province.provincename for province in baseData.provinces">
                                <option value="">(空)</option>
                            </select>
                        </div>
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control"  style="width: 100%;" ng-model="orders.buyercityid"  ng-change="onChangeCity(orders.buyercityid)" ng-options="city.cityid as city.cityname for city in baseData.citys">
                                <option value="">(空)</option>
                            </select>
                        </div>
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control"  style="width: 100%;" ng-model="orders.buyerareaid" ng-change="onChangeArea(orders.buyerareaid)" ng-options="area.areaid as area.areaname for area in baseData.areas">
                                <option value="">(空)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row marginBottom0px">
                    <div class="form-group col-sm-2" style="padding: 3px 0px 0px 0px;">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col-sm-10">
                        <input  ng-model="orders.buyeraddress"  placeholder="请输入详细地址"  class="form-control input-sm" type="text" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</div>
        
    </div> -->


    <div style="position: absolute;right:0px;top:1%">
        <div class="list-group">
            <a ui-sref="entry" class="list-group-item active">查询</a>
        </div>
    </div>
</div>