
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-1 control-label">
            销售单号
        </label>
        <div class="col-md-2">
            <input class="form-control" type="text" ng-model="formData.ordernum" placeholder="输入单号查询"/>
        </div>

        <label class="col-md-1 control-label">
            经销商
        </label>
        <div class="col-sm-2 text-left" style="padding: 0px;">
            <comboxtable ng-model="formData.selectedAcontact" column-names="['客户','联系人']" column-fields="['companyname','staffname']"
                         text-field="companyname" datas="contacts" on-change="getContact()" key-word="formData.contactkeyword" is-required="false" is-show-index="true"  input-placeholder="请选择客户"
                         content-style="width: 90%;" input-style="font-size:13px" input-class="form-control">
            </comboxtable>
        </div>
        
        <label class="col-md-1 control-label">
            支付状态
        </label>
        <div class="col-sm-2 text-left" style="padding: 0px;">
		    <select name="paystate" class="form-control" ng-model="formData.paystate" ng-options="paystateitems.id as paystateitems.value for paystateitems in payStateLists">
			    
			</select>
        </div>

        <!-- <label class="col-md-1 control-label">
            销售单状态
        </label>
        <div class="col-md-2">
            <select class="form-control"  ng-model="formData.orderstate" ng-options="o.id as o.name for o in states">
                <option value="">--请选择--</option>
            </select>
        </div> -->
    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">
            开单时间
        </label>

        <div class="col-md-2">
            <input  ng-model="formData.begincreatedtime"  data-date-format="yyyy-MM-dd" data-container="body"  data-date-type="string" data-autoclose="1"  bs-datepicker placeholder="开单开始时间"  class="form-control" type="text" style="border: solid 1px #D7D7D7;height: 30px" />
        </div>
        <label class="col-md-1 control-label">
            到
        </label>
        <div class="col-md-2" style="padding-left: 0px;">
            <input  ng-model="formData.endcreatedtime" data-date-format="yyyy-MM-dd" data-container="body"  data-date-type="string" data-autoclose="1"  bs-datepicker  placeholder="开单结束时间" class="form-control" type="text" style="border: solid 1px #D7D7D7;height: 30px" />
        </div>
        
        <div class=" col-md-2">
            <button id="btn_search" type="submit" class="btn btn-primary btn-block" ng-click="onClickToQuery()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
        </div>
    </div>

</form>
