<!--start form  -->
	<form class="form-horizontal h_tunnelmanagerForm" role="form" data-ng-init="queryloadData()">
     <div class="form-group">
     	<label class=" col-sm-1 control-label">
        组名称
        </label>
        <div class=" col-sm-3">
            <input type="text" class="form-control input-sm"  placeholder="组名称" ng-model="queryDataForm.terminalgroupsname" />
        </div>
        <label class=" col-sm-1 control-label">
       状态
        </label>
		<div class=" col-sm-3">
			<select class="form-control input-sm" ng-model="queryDataForm.status">
                <option value="">--请选择--</option>
                <option ng-repeat="o in status" value="{{o.value}}">{{o.name}}</option>
            </select>
		</div>
        
            <div class=" col-sm-1 col-sm-offset-1">
                <button id="btn_search" type="button" style="min-width:70px;" class="btn btn-primary btn-block btn-sm" ng-click="queryForm()">查 询</button>
            </div>
            <div class="col-xs-12 col-sm-1">
               <button id="btn_tunnelGroup" type="button" style="min-width:70px;" ng-click="tunnelGroup()" class="btn btn-primary btn-block btn-sm">关联组</button>
            </div>
     </div>   
    </form>
<!--end form  -->