@CHARSET "UTF-8";
/* clear float */
.clearfix:before,
.clearfix:after {display: block;  height: 0;  visibility: hidden;  font-size: 0; }
.clearfix:after, .cl {  clear: both;  }
.clearfix {  *zoom: 1;  }
#main {
	padding: 10px 15px;
	width: auto;
	background: #f7f7f7;
	box-shadow: 5px 10px 15px #e9e9e9 inset;
	font-size: 12px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{ padding:0;}
form label {
	font-weight: normal;
}

table.treetable tbody tr td {
  	cursor: default;
  	padding: 0.5em 1em !important;
  	text-align: center;
}

table.treetable{
	  border: 1px solid #ddd !important;
}

table.treetable thead tr th {
	cursor: default;
	padding: 0.5em 1em !important;
	color: #555 !important;
	font-size: 12px !important;
	text-align: center !important;
  	padding: 10px 5px !important;
	border: 1px solid #ddd !important;
	position: relative;
	overflow: hidden;
	font-weight: bold !important;
	background: #f3f3f3;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
	background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
	background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
	background: -o-linear-gradient(#ffffff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
	-webkit-border-top-right-radius: -1px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: -1px;
	-moz-border-radius-topright: -1px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: -1px;
	border-top-right-radius: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: -1px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.ui-grid-cell-contents{
	text-align:center;
}
.ui-grid-viewport{
	width: auto  !important;
}
.ui-grid-tree-header-row{
	font-weight: normal !important;
}

.haserror .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.haserror .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.modal-header {
	background: #00A2D6;
	box-shadow: 0px 3px 3px #79A4B5;
	border-bottom: none;
	color: #E8FFFF;
	border-radius: 5px 5px 0 0;
}

.modal-footer{
	text-align: center;
}

.form_station .form-control{
	width: 185px;
}

.form_station .marginTop{
	margin-top: 18px;
}

.textbox-invalid {
  border-color: #ccc !important;
  background-color: #fff !important;
}
.validatebox-invalid {
  border-color: #ccc !important;
  background-color: #fff !important;
}

.masget-top{
    position: absolute;
    top:40%;
    left:40%;
	z-index: 100000;
}


@media all  and (min-width:815px) {
	.col-sm-4{
		width: 35%;
		float: left;
	}
	#stationForm .form-control{
		display: inline-block;
	}
}

@media all and (min-width:595px) and (max-width:814px) {
	.col-sm-4{
		width: 50%;
		float: left;
	}
	#stationForm .form-control{
		display: inline-block;
		width: 50%;
	}
}

@media all and (max-width:595px) {
	.col-sm-4{
		width: 100%;
		float: left;
	}
	#stationForm .form-control{
		display: inline-block;
		width: 60%;
	}
}

@media ( max-width : 992px) {
	.modal-dialog{
		width: 600px !important;
	}
	.modal-body .width330 {
		width: 265px;
	}
	.modal-body .form-control {
		width: 160px !important;
	}
	.modal-body .col-sm-6,.modal-body .col-sm-5{
		width: 270px !important;
	}
	.modal-body .col-sm-4{
		width: 270px !important;
	}
}