<div class="row" ng-controller="memberapply_auditCtr">
    <h4 style="position:relative; color:#478fca; border-bottom: 1px solid #d5e3ef; padding-bottom: 8px;">商户名称：{{queryData.companyname}}
        <a style="position: absolute; right: 10px; top:-6px;" class="btn btn-info btn-sm" ui-sref="auditcompany_query">返 回</a>
    </h4>
    <div class="h-tabBox">
        <ul class="h-tabNav hclearfix">
            <li ng-repeat="item in stepTabs" ng-class="{htabNavActive:item.isActive}" ng-click="stepTab(item);"><span>{{item.title}}</span></li>
        </ul>
        <div class="h-tabContent">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <div class="hr hr-double"></div>
    <div class="col-sm-12">
        <form class="form-horizontal" role="form" name="auditForm" novalidate>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">审核意见</label>
                    <div class="col-sm-9">
                        <input class="form-control col-sm-12" type="text" ng-class="{haserror:auditForm.remark.$invalid&&formData.isCommit}" name="remark" ng-model="formData.remark" placeholder="审核意见" required/>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" id="divhide" ng-if="endauditFlag">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">取号收单行</label>

                    <div class="col-sm-9">
                        <select class="form-control" name="acquirebank" ng-model="formData.acquirebankid" ng-class="{haserror:auditForm.acquirebank.$invalid&&formData.isCommit}" ng-required="endauditFlag" ng-options="item.acquirebankid as item.acquirebank for item in acquirerinfochannels">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-sm btn-info" ng-click="audit(1,auditForm.$invalid);" ng-disabled="auditCommitFlg">
                        <i class="ace-icon fa fa-check align-top bigger-100"></i>
                        审核通过
                    </button>

                    <button class="btn btn-sm" ng-click="audit(2,auditForm.$invalid);" ng-disabled="auditCommitFlg">
                        <i class="ace-icon fa fa-pencil align-top bigger-100"></i>
                        不通过
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

