<div class="table-responsive">
    <!--start 服务商费率-->
    <table class="table table-striped table-bordered" ng-if="queryData.companytype==5">
        <thead>
        <tr id="tableheader"><th class="center">基准结算价</th><th class="center">分润结算价</th><th class="center">结算通道</th><th class="center" width="130px">基准以下提成</th><th class="center" width="120px">以上提成</th></tr>
        </thead>

        <tbody id="ratebody">
        <tr align="center" ng-show="queryData.mgsettlement_agentsettlementrate.length==0"><td colspan="5">无</td></tr>
        <tr  ng-show="queryData.mgsettlement_agentsettlementrate.length" ng-repeat="item in queryData.mgsettlement_agentsettlementrate">
            <td>{{item.basesettlementratename}}</td>
            <td>{{item.settlementratename}}</td>
            <td>{{item.agentsettlementchannelname}}</td>
            <td>{{item.baseagentprofitconfigname}}</td>
            <td>{{item.excessagentprofitconfigname}}</td>
        </tr>
        </tbody>
    </table>
    <!--end 服务商费率-->

    <!-- start 商户费率-->
    <table class="table table-striped table-bordered" ng-if="queryData.companytype==3">
        <thead>
        <tr><th class="center">商户签约费率</th><th class="center">结算通道</th><th class="center" width="120px">信用卡划账</th></tr>
        </thead>

        <tbody>
        <tr align="center" ng-show="queryData.mgsettlement_masgetsettlementrate.length==0"><td colspan="3">无</td></tr>
        <tr  ng-show="queryData.mgsettlement_masgetsettlementrate.length" ng-repeat="item in queryData.mgsettlement_masgetsettlementrate">
            <td>{{item.basesettlementratename}}</td>
            <td>{{item.agentsettlementchannelname}}</td>
            <td>{{item.creditcardaccountflag==1?"公账":"私账"}}</td>
        </tr>
        </tbody>
    </table>
    <!-- end 商户费率-->
</div>