<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
        <tr class="info">
        	<th>序号</th>
            <th>操作</th>
            <th>移库单号</th>
            <th>公司名称</th>
            <th>源站点</th>
            <th>源仓库</th>
            <th>目标站点</th>
            <th>目标仓库</th>
            <th>移库类型</th>
            <th>出库总数量</th>
            <th>出库总金额</th>
            <th>移库状态</th>
            <th>审核标志</th>
            <th>备注</th>
            <th>创建时间</th>
            <th>审核时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="changewarehouse in changewarehouses.data.rows">
        	<td ng-bind="$index+1" class="h_bgf3"  align="center">1</td>
            <td class="h_bgf3"  align="center">
                <a href="#changewarehouse" class="btn_view" title="查看" ng-click="changewarehouseView(changewarehouse.changewarehouseid)" data-toggle="modal" data-target="#changewarehouseView-container" ><span class="glyphicon glyphicon-eye-open blue"></span></a>
                <a href="#changewarehouse" class="btn_audit" title="审核" ng-click="changewarehouseAudit(changewarehouse)" ng-show="{{changewarehouse.auditflag==1}}"><span class="glyphicon glyphicon-saved green"></span></a>
                <a href="#changewarehouse" class="btn_del" title="删除" ng-click="changewarehouseDelete(changewarehouse)" ng-show="{{changewarehouse.state==1}}"><span class="glyphicon glyphicon glyphicon-trash red"></span></a>
            </td>
            <td>{{changewarehouse.changewarehousenum}}</td>
            <td>{{changewarehouse.companyname}}</td>
            <td>{{changewarehouse.sourcepstationname}}</td>
            <td>{{changewarehouse.sourcewarehousename}}</td>
            <td>{{changewarehouse.targetpstationname}}</td>
            <td>{{changewarehouse.targetwarehousename}}</td>
            <td>{{converToName(changewarehouse.changetype,changetypes)}}</td>
            <td>{{changewarehouse.totgoodsqty}}</td>
            <td>{{changewarehouse.totgoodsmoney}}</td>
            <td>{{converToName(changewarehouse.state,states)}}</td>
            <td>{{converToName(changewarehouse.auditflag,auditflags)}}</td>
            <td>{{changewarehouse.remark}}</td>
            <td>{{changewarehouse.createdtime}}</td>
            <td>{{changewarehouse.audittime}}</td>
        </tr>

        </tbody>
    </table>
</div>