<div class="form-group row">
    <div class="col-xs-12 col-sm-5">
    	<div class="col-md-3 text-right" style="padding: 5px"><label>商品名称</label></div>
        <div class="col-md-8 text-left" style="padding-left: 0px">
        	<input type="text" name="goodsname" ng-model="formData.goodsname" placeholder="输入商品" class="form-control input-sm">
        </div>
    </div>
    <div class="col-xs-12 col-sm-5">
        <div class="col-md-3 text-right" style="padding: 5px"><label>商品货号</label></div>
        <div class="col-md-8 text-left" style="padding-left: 0px">
        	<input type="text" name="goodssn" ng-model="formData.goodssn" placeholder="输入货号" class="form-control input-sm">
        </div>
    </div>
    <div class="col-xs-12 col-sm-2" style="padding-left: 0px;">
        <label for="btn_search">&nbsp;</label>
        <button id="btn_search" type="button" class="btn btn-primary btn-sm" ng-click="queryForm();"><span class=" glyphicon glyphicon-search"></span>&nbsp;查 询</button>
    </div>
    <div class="col-xs-12 col-sm-5" style="margin-top: 10px;">
        <div class="col-md-3 text-right" style="padding: 5px"><label>商品条码</label></div>
        <div class="col-md-8 text-left" style="padding-left: 0px">
        	<input type="text" name="barcode" ng-model="formData.barcode" placeholder="商品条码" class="form-control input-sm">
    	</div>
    </div>
    <!-- <div class="col-xs-12 col-sm-5" style="margin-top: 10px;">
        <div class="col-md-3 text-right" style="padding: 5px"><label>sku名称 </label></div>
        <div class="col-md-8 text-left" style="padding-left: 0px">
         	<input type="text" name="skuname" ng-model="formData.skuname" placeholder="商品条码" class="form-control input-sm">
   		</div>
    </div> -->
    
</div>
