<!-- start form  -->
<div class="h_formBox">
<form class="form-horizontal" role="form">
    <div class="form-group">
        <!-- <label class="col-sm-1 control-label">仓库</label>
        <div class="col-sm-2">
            <select class="form-control input-sm" ng-model="formData.warehouseid">
                <option value="">请选择仓库</option>
                <option ng-repeat="item in targetwarehouselist" value="{{item.targetwarehouseid}}">{{item.targetwarehousename}}</option>
            </select>
        </div> -->
        <label class="col-sm-1 control-label"> 商品名称</label>
        <div class="col-sm-3">
        	<input class="form-control input-sm" type="text" ng-model="formData.goodsname" placeholder="商品名称"/>
        </div>
        <label class="col-sm-1 control-label">商品货号</label>
        <div class="col-sm-2">
            <input class="form-control input-sm" type="text" ng-model="formData.barcode" placeholder="商品货号"/>
        </div>
        <div class="col-sm-1">
        	<button id="btn_search" type="button" class="btn btn-primary btn-block btn-sm" ng-click="queryForm()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
        </div>
     </div>
     <div class="form-group">   
        <div class="col-sm-offset-8 col-sm-4">
                <button ng-show="goodsstockData.data.total > 0 " type="button" class="btn btn-default btn-sm" ng-click="onBtnClickexportGoods()">导出系统库存</button>
                <button ng-show="goodsstockData.data.total > 0 " type="button" class="btn btn-default btn-sm" href="#goodsstockcheck-save" data-target="#goodsstockcheck-save" data-toggle="modal">导入盘点库存</button>
                <!-- <button ng-show="goodsstockData.data.total > 0 " type="button" class="btn btn-default btn-sm">生成盘点单据</button> -->
        </div>
    </div>
</form>
</div>
<!--end form  -->

<!--start   -->
<div class="table-responsive h_tableBox"  render-finished="htableBox" ng-class="{true: 'isnoquery', false: 'innoquery'}[isActive]">
    <table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
        <tr class="info">
            <th>序号</th>
            <th>仓库名称</th>
            <th>商品名称</th>
            <th>商品SKU</th>
            <th>商品货号</th>
            <th>进货价</th>
            <!-- <th>完好数量</th> -->
            <!-- <th>损坏数量</th> -->
            <th>商品重量</th>
            <th>完好库存</th>
            <th>损坏库存</th>
           <!--  <th>盘点库存</th>
            <th>盘盈盘亏</th> -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in goodsstockData.data.rows">
           	<td ng-bind="$index+1" class="h_bgf3" align="center">1</td>
            <td>{{item.warehousename}}</td>
            <td>{{item.goodsname}}</td>
            <td>{{item.skuid}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.purchaseprice}}</td>
           <!--  <td>{{item.goodqty}}</td> -->
           <!--  <td>{{item.damageqty}}</td> -->
            <td>{{item.weight}}</td>
            <td>{{item.goodqty}}</td>
            <td>{{item.damageqty}}</td>
            <!-- <td>&nbsp;</td>
            <td>&nbsp;</td> -->
        </tr>

        </tbody>
    </table>
</div>
<!--end  -->

<!--start 遮罩窗体  -->
<div class="modal fade" id="goodsstockcheck-save" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form class="form-horizontal" name="goodsstockcheckUploadForm" novalidate>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					批量导入
				</h4>
			</div>
			<!--start modal-body  -->
			<div class="modal-body">
				<h3 class="goodsstockcheck-tips"><span class="glyphicon glyphicon-exclamation-sign red"></span>请注意导入格式跟导出格式保存一致！</h3>
				<div class="goodsstockcheck-upload">
					<h3>请选择要导入文件：</h3>
					<input type="text" class="form-control" ng-model="filename" value="{{filename}}"/>
					<button type="button" class="button btn btn-default" ngf-select ngf-change="upload($files)">选择文件</button>
					<!-- <input type="file" name="upfile" ngf-select ngf-change="upload($files)"/>  -->
				</div>
				<!-- </br>
				<span>
					<a  href="/masgetweb/enterprise/com/downloadfile.do" style="margin-left:10px;">下载参考样例</a>
				</span> -->
			</div>
			<!--end modal-body  -->
			<div class="modal-footer">
				 <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> 
				 <button type="submit" class="btn btn-primary"  ng-click="addSumbit()">确定</button>
			</div>
		</div>
		
	</div>
</form>	
</div>
<!--end 遮罩窗体  -->

<!-- start  dialog-->
<div id="dialog" title="打开盘点单据确认后保存" style="display:none;">
	<p><button type="button" class="btn h-btn btn-xs btn-warning" ng-click="goodsstockcheckout_action()" >盘亏单</button></p>
	<p><button type="button" class="btn h-btn btn-xs btn-warning" ng-click="goodsstockcheckin_action()">盘盈单</button></p>
</div>
<!-- end  dialog-->