<div class="col-sm-12 column" ng-controller="goodsstockcheckoutController" style="padding: 0px;margin: 0px">
    <!-- start h_main  -->
    <div class="col-sm-12 column">
        <!-- start form  -->
<div class="h_formBox">
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-1 control-label">出库单号</label>
        <div class="col-sm-2">
            <input class="form-control input-sm" type="text" ng-model="addFormData.warehouseoutnum" disabled/>
        </div>
        <div class="col-sm-2">
                <button type="button" ng-click="onClickImportAddGoods()" class="btn btn-primary btn-sm">保存</button>
        </div>
     </div>
</form>
</div>
<!--end form  -->

<!--start   -->
	<div class="table-responsive">
		<!-- start ng-grid -->
			<div ui-grid="OutgridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection class="grid"></div>
		<!-- end ng-grid --> 
	</div>
<!--end  --> 
</div>
<!-- end h_main  -->
 
</div>