<div class="table-responsive">	
	<table class="table table-bordered table-hover table-striped table-condensed">
	    <thead>
		    <tr class="info">
		        <th style="width: 40px;" >序号</th>
		        <th style="width: 120px">仓库</th>
		        <th style="width: 90px">商品名</th>
		      <!--  <th style="width: 90px">SKU</th>-->
		        <th style="width: 90px">货号</th>
		        <th style="width: 90px">条码</th>
		        <th style="width: 80px">完好数量</th>
		        <th style="width: 50px">损坏数量</th>
		        <th style="width: 120px">重量</th>
		        <th style="width: 100px">进货价</th>
		 <!--       <th style="width: 100px">是否虚拟商品</th>-->
		        <th style="width: 100px">备注</th>
		       <!-- <th style="width: 100px">操作</th>-->
		    </tr>
	    </thead>
	    <tbody>
		    <tr ng-repeat="goodstock in goodstocks.data.rows">
		        <td ng-bind="$index+1" align="center" class="h_bgf3">1</td>
		        <td>{{goodstock.warehousename}}</td>
		        <td>{{goodstock.goodsname}}</td>
		     <!--   <td>{{goodstock.skuname}}</td>-->
		        <td>{{goodstock.goodssn}}</td>
		        <td>{{goodstock.barcode}}</td>
		        <td>{{goodstock.goodqty}}</td>
		        <td>{{goodstock.damageqty}}</td>
		        <td>{{goodstock.weight}}</td>
		        <td>{{goodstock.purchaseprice|number:2}}</td>
		<!--        <td>{{goodstock.virtualflag==1?"不是":"是"}}</td>-->
		        <td>{{goodstock.remark}}</td>
		       <!-- <td>
		            <a href="#goodstock" class="link_edit" data-toggle="modal" data-target="#myModal" ng-click="edit(goodstock)">修改</a>
		        </td>-->
		    </tr>
	    </tbody>
	</table>
</div>