<div class="modal fade" id="warehouseout_view_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 950px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h4 class="modal-title">出库明细</h4>
            </div>
            <!-- div modal-header end -->

            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_warehouseoutnum_view">单号</label>
                        <input type="text" class="form-control col-md-12" id="txt_warehouseoutnum_view" placeholder="出库单号" ng-model="warehouseout_Current.warehouseoutnum" readonly="readonly" />
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_totgoodsqty_view">总数量</label>
                        <input type="text" class="form-control col-md-12" id="txt_totgoodsqty_view" placeholder="出库总数量" ng-model="warehouseout_Current.totgoodsqty" readonly="readonly" />
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_totgoodsmoney_view">总金额</label>
                        <div class="input-group">
                            <input type="text" class="form-control col-md-12" id="txt_totgoodsmoney_view" placeholder="出库总金额" ng-model="warehouseout_Current.totgoodsmoney" readonly="readonly" />
                            <div class="input-group-addon">￥</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_totgoodsmoney_view">关联单号</label>
                        <div class="input-group">
                            <input type="text" class="form-control col-md-12" id="txt_relationnum_view" placeholder="关联单号" ng-model="warehouseout_Current.relationnum" readonly="readonly" />
                        </div>
                    </div>                    
                </div>
                <!--div form-group end-->

                <div class="table-responsive" style="max-height:392px;overflow:auto;">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <thead>
                            <tr class="info">
                                <th>序号</th>
                               <!--  <th>出库单号</th> -->
                                <!-- <th>关联单号</th> -->
                                 <th>商品编码</th>
                                <th>商品</th>
                               <th>批次号</th>
                                <th>商品条码</th>
                     <!--           <th>SKU</th>-->
                                <th>重量</th>
                  <!--              <th>虚拟商品</th>-->
                                <th>进货单价</th>
                                <th>数量</th>
                              <!--   <th>损坏货物数量</th> -->
                                <!--<th>折扣金额</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in warehouseout_Details.data.rows">
                                <td ng-bind="$index+1">1</td>
                      <!--           <td>{{item.warehouseoutnum}}</td> -->
                                <!-- <td>{{item.relationnum}}</td> -->
                                 <td>{{item.goodssn}}</td>
                                <td>{{item.goodsname}}</td>
                                <td>{{item.batchcode}}</td>
                                <td>{{item.barcode}}</td>
                             <!--   <td>{{item.skuname}}</td>-->
                                <td>{{item.weight}}</td>
                   <!--             <td>{{item.virtualflag==1?"不是":"是"}}</td>-->
                                <td>{{item.goodsunitprice}}</td>
                                <td>{{item.goodssoundqty}}</td>
                        <!--         <td>{{item.goodsdamageqty}}</td> -->
                                <!--<td>{{item.discountmoney}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--div table-responsive end-->
            </div>
            <!-- div modal-body end -->

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
            </div>
            <!-- div modal-footer end -->
        </div>
        <!-- div modal-content end -->
    </div>
    <!-- div modal-dialog end -->
</div>
<!-- div dialog end -->