	<div>
		 <ul id="myTab" class="nav nav-tabs">
		     <li class="active">
		         <a href="#addwarehousein#byOrders" ng-click="tabselect('byOrders')" data-toggle="tab">订单入库</a>
		     </li>
		     <li>
		         <a href="#addwarehousein#byHand" ng-click="tabselect('byHand')" data-toggle="tab">手工入库</a>
		     </li>
		 </ul>
		 <div style="position: absolute;right:0px;top:1%">
		    <div class="list-group">
		        <a ui-sref="warehousein" class="list-group-item active">返回</a>
		    </div>
		 </div>

            <div class="tab-content">
                
              <div id="byHand" class="tab-pane fade">

                <form class="form-horizontal" name="warehouseinAddForm" novalidate>

                    <br/>
                    <div class="form-group">
                     <label class="col-md-1 control-label">
                             入库单
                     </label>
                     
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-12"  name="warehouseinnum" ng-model="addFormData.warehouseinnum" placeholder="入库单号" ng-maxlength="50" ng-class="{haserror:warehouseinAddForm.warehouseinnum.$invalid&&addFormData.isCommitted}" required />
                          <div class="ng-messages-error" ng-messages="warehouseinAddForm.warehouseinnum.$error" ng-show="warehouseinAddForm.warehouseinnum.$invalid&&addFormData.isCommitted" >
                                <span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>入库单号不能为空!</span>
                                <span ng-message="maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span>入库单号最多只能输入50个字符!</span>
                            </div>
                        </div>
                            
                    <label class="col-md-2 control-label">
目标仓库
				    </label>
			        <div class="col-md-2">
			             <!-- <comboxtable  ng-model="addFormData" column-names="['仓库','地址']" column-fields="['stationname','address']"
			                           text-field="stationname" datas="storehouses" on-change="queryStorehouse()" key-word="storehouseKeyword" is-required="true" is-show-index="true"
			                           content-style="width: 90%;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择仓库">
			              </comboxtable> -->
						   <select name="item"  ng-model="addFormData.item" required class="form-control" style="width: 90%;height: 31px" ng-class="{haserror:warehouseinAddForm.item.$invalid&&addFormData.isCommitted}" required>
						       <option value="" class="" >--请选择--</option>
						       <option ng-repeat="item in storehouses" value="{{item}}">{{item.stationname}}</option>
					   		</select>
		        			<div class="ng-messages-error" ng-messages="warehouseinAddForm.item.$error" ng-show="warehouseinAddForm.item.$invalid&&addFormData.isCommitted" >
	                         	<span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>仓库不能为空!</span>
	                     	</div>
	       
					</div>

					<label class="col-md-1 control-label">
					                                供应商
                    </label>
                    <div class="col-md-2">
                       <select name="supplierid"  ng-model="addFormData.supplierid" required class="form-control" style="width: 90%;height: 31px" ng-class="{haserror:warehouseinAddForm.supplierid.$invalid&&addFormData.isCommitted}" required>
					       <option value="" class="">--请选择--</option>
					       <option ng-repeat="item in customer" value="{{item.staffid}}">{{item.staffname}}</option>
					   </select>
					   <div class="ng-messages-error" ng-messages="warehouseinAddForm.supplierid.$error" ng-show="warehouseinAddForm.supplierid.$invalid&&addFormData.isCommitted" >
                       		<span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>供应商不能为空!</span>
                   		</div>
                    </div> 
                    

              </div>
              
              <div class="form-group">
                  
                  <label class="col-md-1 control-label">
                      批次号
                  </label>
                  <div class="col-md-3">
                      <input type="text" class="form-control col-md-12" name="batchcode" ng-model="addFormData.batchcode" />
                      <div class="ng-messages-error" ng-messages="warehouseinAddForm.batchcode.$error" ng-show="warehouseinAddForm.batchcode.$invalid&&addFormData.isCommitted" >
	                      <span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>入库批次号不能为空!</span>
	                  </div>
                  </div> 

                  <label class="col-md-2 control-label">
                      备注
                  </label>

                  <div class="col-md-3">
                      <input type="text" class="form-control col-md-12" id="txt_remark" ng-model="addFormData.remark" placeholder="备注" />
                  </div>

                  <div class="col-md-2">
                      <input type="checkbox" ng-model="addFormData.autoaduitflag" ng-false-value="1" ng-true-value="2"/>自动审核
                  </div>

              </div>

              <!--div form-group end-->


                  <table class="table table-bordered table-striped">
                      <thead>
                      <tr class="info">
                          <th width="28">操作</th>
                          <th width="100">商品</th>
                          <th width="100">规格</th>
                          <th width="100">商品编码</th>
                          <th width="100">商品条码</th>
                          <th width="80">进货价</th>
                          <th width="80">数量</th>
<!--                           <th width="80">损坏数量</th> -->
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in addFormData.warehouseinlist">
                          <td>
                              <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除"><span class="glyphicon glyphicon glyphicon-trash red"></span></a>
                          </td>
                          <td>
                              <comboxtable  ng-model="item.selected"  column-names="['商品编码','商品','商品条码','商品规格','价格']" column-fields="['goodssn','goodsname','barcode','goodsspec','goodsunitprice']"
			                       text-field="goodsname" datas="goodsskus.data.rows" on-change="querygoodssku(item)" key-word="item.goodsname" is-required="true" is-show-index="true"
			                       content-style="width: 250px;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择商品">
         					</comboxtable>
                          </td>
                          <td><input type="text" class="form-control"  ng-model="item.goodsspec" readonly/></td>
                          <td><input type="text" class="form-control"  ng-model="item.goodssn" readonly  /></td>
                          <td><input type="text" class="form-control"  ng-model="item.barcode"  readonly/></td>
                          <td><input type="text" class="form-control"  ng-model="item.goodsunitprice"/></td>
                          <td><input type="number" ng-class="{haserror:warehouseinAddForm.goodssoundqty.$invalid&&addFormData.isCommitted}"  class="form-control" name="goodssoundqty"  ng-model="item.goodssoundqty" min="0" ng-pattern="/^\d+$/"  required /></td>
<!--                           <td><input type="number" ng-class="{haserror:warehouseinAddForm.goodsdamageqty.$invalid&&addFormData.isCommitted}" class="form-control"  ng-model="item.goodsdamageqty" name="goodsdamageqty"  ng-pattern="/^\d+$/"  min="0" required /></td> -->
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                          <td></td>
                          <td colspan="13"><a href="javascript:void(0);" class="btn-link" ng-click="addrecord()" title="添加记录"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加记录</a></td>
                      </tr>
                      </tfoot>
                  </table>


              <!-- <div class="col-md-offset-10"> -->
              
                   <div class="col-md-12 column" style="text-align:center;">
			    	<button type="button" class="btn btn-primary btn-lg" ng-click="save(warehouseinAddForm.$invalid)">保存</button>   	
			
              </div>
              </form>
              <!--div table-responsive end-->
          </div>  


          <div id="byOrders" class="tab-pane fade in active">
              <br />
              <form class="form-horizontal"  data-ng-init="loaded();">

                  <div class="form-group">
                      <label class="col-md-1 control-label">
                          订单号
                      </label>
                      <div class="col-md-3">
                          <input type="text" class="form-control col-md-12" id="txt_ordernum" placeholder="订单号" size="16" ng-model="orders_form.ordernum" />
                      </div>
                      <label class="col-md-1 control-label">
                      入库单
                      </label>
                      <div class="col-md-3 ">
                          <input type="text" class="form-control  "  placeholder="入库单号" ng-model="addFormDataByOrder.warehouseinnum" />
                      </div>
                       <div class="col-md-1">
                          <button id="btn_order_search" type="button" class="btn btn-primary btn-block btn-sm" ng-click="searchOrder();"><span class="glyphicon glyphicon-search"></span>&nbsp;查询</button>
                      </div>
                  </div>
                  <div class="form-group">
                  	<label class="col-md-1 control-label" for="">
                          时间
                      </label>
                      <div class="col-md-3">
                          <input  type="text"   class="form-control  col-md-12"  ng-model="orders_form.begincreatedtime" data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;">
                      </div>
                      <div class="col-md-3">
                          <input  type="text"   class="form-control  col-md-12"  ng-model="orders_form.endcreatedtime" data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;">
                      </div>
                      <div class="col-md-4">
                          <input type="checkbox"  ng-model="addFormDataByOrder.autoaduitflag" ng-false-value="1" ng-true-value="2"  />自动审核
                      </div>
                  </div>

                  <div class="table-responsive" style="overflow:auto; max-height:392px;">
                      <table class="table table-bordered table-hover table-striped table-condensed">
                          <thead>
                          <tr class="info">
                              <th width="28px">操作</th>
                              <th width="120px">订单号</th>
                              <th width="100px">供应商</th>
                              <th width="70px">收货人</th>
                              <th width="120px">总金额</th>
                              <th width="120px">总数量</th>
                              <th width="120px">创建时间</th>
                              <th width="120px">备注</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="item in warehouseinorders.data.rows">
                              <td><a href="javascript:void(0);" class="btn_del" ng-click="warehouseoutbyorder(item)" title="入库"><span class="glyphicon glyphicon-log-out green"></span></a></td>
                              <td>{{item.ordernum}}</td>
                              <td>{{item.suppliername}}</td>
                              <td>{{item.buyername}}</td>
                              <td>{{item.totgoodsmoney}}</td>
                              <td>{{item.totgoodsqty}}</td>
                              <td>{{item.createdtime}}</td>
                              <td>{{item.remark}}</td>
                          </tr>
                          </tbody>
                      </table>
                      <pagination recordcount="{{warehouseinorders.data.total}}" pagenum="orders_form.pagenum" pagesize="orders_form.pagesize" onselect="searchOrder();"></pagination>
                  </div>
              </form>
          </div>
          <!-- div byOrders end -->
 
          </div>
	</div>