<div class="col-md-12 column" ng-controller="warehouseinListController" style="padding: 0px;margin: 0px">

    <div class="col-md-12 column" >
        <div ui-view="query"></div>
    </div>

    <div class="col-sm-12" style="overflow: auto;height: 550px;margin-left: 10px;width: 99%;padding: 0px">
        <div ui-view="grid"></div>
    </div>
    
    <div class="col-md-12 column" >
        <div ui-view="printHtml"></div>
    </div>

    <div class="col-md-12 column">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height: 40px;">
            <pagination recordcount="{{warehouseins.data.total}}" pagenum="formData.pagenum" pagesize="formData.pagesize" onselect="queryForm()"></pagination>
        </nav>
    </div>

    <div class="col-md-12 column padding0px margin0px" >
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width:900px">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                           入库明细
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive" style="width: 850px;overflow: auto">
                            <table class="table table-bordered table-hover table-striped table-condensed">
                                <thead>
                                <tr class="info">
                                    <th>序号</th>
                                    <th>入库单号</th>
                                   <!--  <th>关联单号</th> -->
                                    <th>商品</th>
                                    <th>商品编码</th>
                                    <th>商品条码</th>
                                <!--    <th>SKU</th>-->
                                    <th>重量</th>
                             <!--       <th>虚拟商品</th>-->
                                    <th>进货单价</th>
                                    <th>数量</th>
         <!--                            <th>损坏货物数量</th> -->
                           <!--         <th>折扣金额</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="warehouseinlist in warehouseinlists.data.rows">
                                    <td ng-bind="$index+1" class="h_bgf3" align="center">1</td>
                                    <td>{{warehouseinlist.warehouseinnum}}</td>
                                    <!-- <td>{{warehouseinlist.relationnum}}</td> -->
                                    <td>{{warehouseinlist.goodsname}}</td>
                                    <td>{{warehouseinlist.goodssn}}</td>
                                    <td>{{warehouseinlist.barcode}}</td>
                                  <!--  <td>{{warehouseinlist.skuname}}</td>-->
                                    <td>{{warehouseinlist.weight}}</td>
                              <!--      <td>{{warehouseinlist.virtualflag==1?"不是":"是"}}</td>-->
                                    <td>{{warehouseinlist.goodsunitprice}}</td>
                                    <td>{{warehouseinlist.goodssoundqty}}</td>
                                  <!--   <td>{{warehouseinlist.goodsdamageqty}}</td> -->
                             <!--       <td>{{warehouseinlist.discountmoney}}</td>-->
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>


    <!-- <div class="col-md-12 column padding0px margin0px" >
        模态框（Modal）
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width:1000px">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="addModalLabel">
                            添加入库
                        </h4>
                    </div>


                    <div class="modal-body">
                        <ul id="myTab" class="nav nav-tabs">
                            <li>
                                <a href="#/warehousein#byOrders" ng-click="tabselect('byOrders')" data-toggle="tab">订单入库</a>
                            </li>
                            <li class="active">
                                <a href="#/warehousein#byHand" ng-click="tabselect('byHand')" data-toggle="tab">手工入库</a>
                            </li>
                        </ul>

                        <div class="tab-content">


                            <div id="byHand" class="tab-pane fade in active">

                            <form class="form-horizontal" name="warehouseinAddForm" novalidate>

                                <br/>
                                <div class="form-group">
	                                <label class="col-md-1 control-label">
	                                        入库单
	                                </label>
	                                
                                    <div class="col-md-3">
                                        <input type="text" class="form-control col-md-12"  name="warehouseinnum" ng-model="addFormData.warehouseinnum" placeholder="入库单号" ng-maxlength="50" ng-class="{haserror:warehouseinAddForm.warehouseinnum.$invalid&&addFormData.isCommitted}" required />
                                      <div class="ng-messages-error" ng-messages="warehouseinAddForm.warehouseinnum.$error" ng-show="warehouseinAddForm.warehouseinnum.$invalid&&addFormData.isCommitted" >
                                            <span ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span>入库单号不能为空!</span>
                                            <span ng-message="maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span>入库单号最多只能输入50个字符!</span>
                                        </div>
                                    </div>
                                
                                	<label class="col-md-2 control-label">
				目标仓库
								    </label>
							        <div class="col-md-2">
							              <comboxtable  ng-model="addFormData.stationname" column-names="['仓库','地址']" column-fields="['stationname','address']"
							                           text-field="stationname" datas="storehouses" on-change="queryStorehouse()" key-word="storehouseKeyword" is-required="true" is-show-index="true"
							                           content-style="width: 90%;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择仓库">
							              </comboxtable>
							              <select ng-model="orders.warehouseid" required class="form-control" style="width: 90%;height: 31px">
							                  <option ng-repeat="item in warehouses" value="{{item.stationid}}">{{item.stationname}}</option>
							              </select>
							          </div>
							          
							          <label class="col-md-1 control-label">
                                                 供应商
                                      </label>
                                      <div class="col-md-2">
                                         <select ng-model="addFormData.supplierid" required class="form-control" style="width: 90%;height: 31px">
							                  <option value="" class="">--请选择--</option>
							                  <option ng-repeat="item in customer" value="{{item.scenetypeid}}">{{item.scenetypename}}</option>
							              </select>
                                      </div> 
							          
                                </div>
                                
                                <div class="form-group">
                                    
                                    <label class="col-md-1 control-label">
                                        批次号
                                    </label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control col-md-12" name="batchcode" ng-model="addFormData.batchcode" />
                                    </div> 

                                    <label class="col-md-2 control-label">
                                        备注
                                    </label>

                                    <div class="col-md-3">
                                        <input type="text" class="form-control col-md-12" id="txt_remark" ng-model="addFormData.remark" placeholder="备注" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="addFormData.autoaduitflag" ng-false-value="1" ng-true-value="2"/>自动审核
                                    </div>

                                </div>

                                div form-group end


                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr class="info">
                                            <th width="28">操作</th>
                                            <th width="150">商品</th>
                                            <th width="100">商品编码</th>
                                            <th width="100">商品货号</th>
                                           <th width="120">SKU</th>
                                            <th width="80">重量</th>
                                           <th width="80">虚拟商品</th>
                                            <th width="80">货物进货价</th>
                                            <th width="80">完好数量</th>
                                            <th width="80">损坏数量</th>
                                           <th width="80">折扣金额</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in addFormData.warehouseinlist">
                                            <td>
                                                <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除"><span class="glyphicon glyphicon glyphicon-trash red"></span></a>
                                            </td>
                                            <td>
                                                <comboxtable  ng-model="item.selected"  column-names="['商品编码','商品','商品条码','商品规格','价格']" column-fields="['goodssn','goodsname','barcode','goodsspec','shopprice']"
							                                  text-field="goodsname" datas="goodsskus.data.rows" on-change="querygoodssku(item)" key-word="item.goodsname" is-required="true" is-show-index="true"
							                                  content-style="width: 200px;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择商品">
							                    </comboxtable>
                                            </td>
                                            <td><input type="text" class="form-control"  ng-model="item.goodssn" readonly  /></td>
                                            <td><input type="text" class="form-control"  ng-model="item.barcode"  readonly/></td>
                                           <td><input type="text" class="form-control"  ng-model="item.skuname"  /></td>
                                            <td><input type="text" class="form-control"  ng-model="item.weight"  readonly/></td>
                                           <td>
                                                <select class="form-control"  ng-model="item.virtualflag" >
                                                    <option value="1">否</option>
                                                    <option value="2">是</option>
                                                </select>
                                            </td>
                                           <td>{{item.virtualflag==1?"否":"是"}}</td>
                                            <td><input type="text" class="form-control"  ng-model="item.goodsunitprice"/></td>
                                            <td><input type="number" ng-class="{haserror:warehouseinAddForm.goodssoundqty.$invalid&&addFormData.isCommitted}"  class="form-control" name="goodssoundqty"  ng-model="item.goodssoundqty" min="0" ng-pattern="/^\d+$/"  required /></td>
                                            <td><input type="number" ng-class="{haserror:warehouseinAddForm.goodsdamageqty.$invalid&&addFormData.isCommitted}" class="form-control"  ng-model="item.goodsdamageqty" name="goodsdamageqty"  ng-pattern="/^\d+$/"  min="0" required /></td>
                                           <td><input type="text" class="form-control"  ng-model="item.discountmoney"  /></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td></td>
                                            <td colspan="13"><a href="javascript:void(0);" class="btn-link" ng-click="addrecord()" title="添加记录"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加记录</a></td>
                                        </tr>
                                        </tfoot>
                                    </table>


                                <div class="col-md-offset-10">
                                    <button type="button" class="btn btn-default"
                                                data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"  ng-click="save(warehouseinAddForm.$invalid)">
                                            保存
                                    </button>
                                </div>
                                </form>
                                div table-responsive end
                            </div>

                            <div id="byOrders" class="tab-pane fade">
                                <br />
                                <form class="form-horizontal"  data-ng-init="loaded();">

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">
                                            订单号
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control col-md-12" id="txt_ordernum" placeholder="订单号" size="16" ng-model="orders_form.ordernum" />
                                        </div>
                                        <label class="col-md-1 control-label">入库单</label>
                                        <div class="col-md-3 ">
                                            <input type="text" class="form-control  "  placeholder="入库单号" ng-model="addFormDataByOrder.warehouseinnum" />
                                        </div>
                                         <div class="col-md-1">
                                            <button id="btn_order_search" type="button" class="btn btn-primary btn-block btn-sm" ng-click="searchOrder();"><span class="glyphicon glyphicon-search"></span>&nbsp;查询</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    	<label class="col-md-1 control-label" for="">
                                            时间
                                        </label>
                                        <div class="col-md-3">
                                            <input  type="text"   class="form-control  col-md-12"  ng-model="orders_form.begincreatedtime" data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;">
                                        </div>
                                        <div class="col-md-3">
                                            <input  type="text"   class="form-control  col-md-12"  ng-model="orders_form.endcreatedtime" data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1"  bs-datepicker style="height:30px;">
                                        </div>
                                       
                                        
                                        <div class="col-md-4">
                                            <input type="checkbox"  ng-model="addFormDataByOrder.autoaduitflag" ng-false-value="1" ng-true-value="2"  />自动审核
                                        </div>
                                    </div>



                                    <div class="table-responsive" style="overflow:auto; max-height:392px;">
                                        <table class="table table-bordered table-hover table-striped table-condensed">
                                            <thead>
                                            <tr class="info">
                                                <th width="28px">操作</th>
                                                <th width="120px">订单号</th>
                                                <th width="100px">供应商</th>
                                                <th width="70px">收货人</th>
                                                <th width="120px">总金额</th>
                                                <th width="120px">总数量</th>
                                                <th width="120px">创建时间</th>
                                                <th width="120px">备注</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in warehouseinorders.data.rows">
                                                <td><a href="javascript:void(0);" class="btn_del" ng-click="warehouseoutbyorder(item)" title="入库"><span class="glyphicon glyphicon-log-out green"></span></a></td>
                                                <td>{{item.ordernum}}</td>
                                                <td>{{item.suppliername}}</td>
                                                <td>{{item.buyername}}</td>
                                                <td>{{item.totgoodsmoney}}</td>
                                                <td>{{item.totgoodsqty}}</td>
                                                <td>{{item.createdtime}}</td>
                                                <td>{{item.remark}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <pagination recordcount="{{warehouseinorders.data.total}}" pagenum="orders_form.pagenum" pagesize="orders_form.pagesize" onselect="searchOrder();"></pagination>
                                    </div>
                                    div table-responsive end

                                    <div class="col-md-offset-11">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">关闭
                                        </button>
                                    </div>
                                </form>
                            </div>
                            div byOrders end


                            </div>
                        </div>

                    <div class="modal-footer">

                    </div>



                </div>/.modal-content
            </div>/.modal
        </div>
    </div> -->


</div>