<div class="col-md-12 column" ng-controller="BrandController" style="padding: 0px;margin: 0px" >
   	<div class="col-md-12 column" style="padding-left: 0px;"> 
	    <div class="col-md-3">
	        <input type="text" class="form-control" placeholder="请输入品牌名称"  ng-model="queryBrand.brandname" style="width: 100%">
	    </div>
	    <div  class="pull-left" style="margin-left: 12px;">
	         <button id="btn_search" type="button" class="btn btn-primary btn-block btn-sm" ng-click="onClickToQuery()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
	    </div>
	    <div class="pull-left" style="margin-left: 10px;">
	        <button id="btn_add" type="button" class="btn btn-primary btn-block btn-sm" ng-click="onBtnClickAdd()"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增</button>
	    </div>   
	</div>

	<div class="col-md-12" style="margin-top: 20px;">
	    <div ui-grid="BrandgridOptions" ui-grid-pagination class="grid" style="height: 550px;"></div>
	</div>
	
	<div class="col-md-12 column padding0px margin0px">
	    <div class="modal fade" id="modal-container-728099" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div style="text-align: center;">
					<img style="text-align: center;" class="img-thumbnail" src="{{formData.logo}}" />
				</div>
			</div>			
		</div>
	 </div>
</div>	

