<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="#">Home</a>
				</li>
				<li class="active">
					{{topformData.title}}
				</li>
			</ul>
		
			<form class="form-horizontal" name="brandAddForm" novalidate role="form">
				<div class="form-group">
					<label  class="col-sm-2 control-label">品牌名称</label>
					<div class="col-sm-3">
		   				<input type="text" class="form-control" ng-model="formData.brandname" placeholder="请输入名称"/>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">品牌logo</label>
					<div class="col-sm-5">
						<ul id="goodsAdd-imgUl">
							<li class="goodsAdd-imgLi" ng-show="file">
								<div class="goodsAdd-img">
									<img ng-src="{{formData.logo}}" >
									<div class="goodsAdd-imgaction">
										<a class="imgaction-item h-img-del" href="#" ng-click="deletePic(formData.logo)" style="margin-left:25px;">删除</a>
									</div>
								</div>
							</li>
							<li class="button goodsAdd-imgLi" ngf-select ng-model="files" ngf-accept="'image/*'"  ng-hide="file">
								<span class="glyphicon glyphicon-plus"></span>
								<em>单击上传图片</em>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					 <label  class="col-sm-2 control-label">品牌官网地址</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="formData.url"/>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">品牌描述</label>
					<div class="col-sm-5">
						<textarea type="text" style="height: 100px" class="form-control" ng-model="formData.description">
						</textarea>
					</div>
				</div>
				<div class="col-md-12 column" style="text-align:center;">
					 <button type="button" class="btn btn-default" ng-click= "goback()">返回</button> 
					 <button type="submit" class="btn btn-primary" ng-click="addFormDataSumbit(brandAddForm.$invalid)">保存</button>
				</div>
			</form>
		</div>
	</div>
</div>