<div style="height: 480px;margin:0 auto;width: 700px;" on-finish-render-filters="edit">
	<h1 class="text-center" style="  margin: 0 0 10px 0;">资源信息</h1>
	<form class="form-inline form_station" novalidate id="form_osresource" name="form_osresource" style="height:280px;" >
	    <div class="form-group col-sm-5 width330  " style="height: 30px;">
	        <label>资源类型：</label>
            <select ng-disabled="osenvirnmentModel" name="osenvirnmentid" ng-model="osresource.osenvirnmentid" class="form-control input-sm" >
            	<option value="1">PC</option>
            	<option value="2">android</option>
            	<option value="3">ios</option>
            </select>
	    </div>
	    <div class="form-group col-sm-5  width330 text-right" style="height: 30px;" ng-class="{haserror:form_osresource.companytypeid.$invalid&&form_osresource.submitted}">
	        <label>公司类型：</label>
	        <button ng-disabled="companytypeModel" required style="padding: 4px 12px; width: 180px;" name="companytypeid" type="button" class="btn btn-default masget-btn-default" ng-model="osresource.companytypeid" data-trigger="focus"
	              bs-options="item.companytypeid as item.companytypename for item in companytype" bs-select>
	          	未选择 <span class="caret"></span>
	      	</button>
	        <div ng-messages="form_osresource.companytypeid.$error" ng-show="form_osresource.companytypeid.$invalid&&form_osresource.submitted" class="ng-messages-error">
	            <div ng-message="required" style=" margin-left: 50px;">公司类型为必选项</div>
	        </div>
	    </div>
	    <div class="form-group col-sm-5 marginTop width330  "  ng-class="{haserror:form_osresource.roletypeid.$invalid&&form_osresource.submitted}">
	        <label>角色类型：</label>
	        <button ng-disabled="roletypeModel" required style="padding: 4px 12px; width: 180px;" name="roletypeid" type="button" class="btn btn-default masget-btn-default" ng-model="osresource.roletypeid" data-trigger="focus"
	              bs-options="item.roletypeid as item.companyroletypename for item in contactsRoletype" bs-select>
	          	未选择 <span class="caret"></span>
	      	</button>
	        <div ng-messages="form_osresource.roletypeid.$error" ng-show="form_osresource.roletypeid.$invalid&&form_osresource.submitted" class="ng-messages-error">
	            <div ng-message="required">角色类型为必选项</div>
	        </div>
	    </div>
	    <div class="form-group col-sm-5 marginTop width330 text-right" >
	        <label>父资源名：</label>
	        <select  id="comtree" class="easyui-combotree form-control input-sm"   style="height:30px;"/>
	    </div>
	    <div class="form-group col-xs-12 marginTop ">
	    	<label >基础资源：</label>
	    	<section class="waystationlist-container" style="min-width:100px;width:80%;">
	            <textarea type="text" ng-model="osresource.waystationText" ng-click="showWaysSationList()" class="form-control waystationText" readonly="readonly" style="width:100%;height:100px;"></textarea> 
	            <div class="waystationlist-container-icon" ng-click="showWaysSationList()"></div> 
				<section class="waystationlist-list" >
					<div style="padding:3px 0px 3px 5px;">
						<span>资源:</span>
						<select  data-options="multiple:true,multiline:true" id="baseResource"  class="easyui-combotree form-control input-sm"   style="width: 70%; height: 34px;"/>
						<span class="glyphicon glyphicon-plus blue" title="增加分组信息" ng-click="groups()"></span>
						<span style="color: red">(+为增加分组)</span>
					</div>
				    <div style="overflow-y:auto;overflow-x:hidden;min-height: 122px;max-height:292px;border: 0px; ">
				        <table class="waystationlist-table">
				            <thead>
				            <tr>
				                <th style="width: 23px;border-left: 0px;  padding: 0 1px;"></th>
				                <th >资源名称</th>
				                <th style="  width: 265px;">权限</th>
				                <th style="  width: 125px;">子资源类型</th>
				                <th ></th>
				                <th ></th>
				                <th ></th>
				            </tr>
				            </thead>
				            <tbody>
				                <tr ng-repeat="item in OsRourceData | orderBy:'placeindex'" ng-hide="station.removeFlag">
				                    <td class="text-left" >{{$index+1}}</td>
				                    <td class="text-left" >
				                    	<input type="text" ng-model="item.resourcename" name="resourcename"  style="  width: 78px;" ng-keyup="EditReName(item)">
				                    </td>
				                    <td class="text-left">
										<input id="{{item.resourceid}}" value="" class="easyui-combobox" name="state" data-options="multiple:true,multiline:true" style="width:265px;height:34px">
									</td>
									<td class="text-left">
										<input id="child{{item.resourceid}}" value="" class="easyui-combobox" name="childstate" style="width:115px;height:34px">
									</td>
				                    <td class="text-left"><a ng-click="shiftUp(item)">上移</a></td>
				                    <td class="text-left"><a ng-click="shiftDown(item)">下移</a></td>
				                    <td class="text-left"><a ng-click="removeWayStation(item,true)">删除</a></td>
				                </tr>
				            </tbody>
				        </table>
				    </div>
			    </section>
             </section>
	    </div>
<!-- 	    <div id="contactsTreeView" class="col-md-12  masget-panel" style="" ></div> -->
	</form>
</div>
