<div class="container well" on-finish-render-filters="list" style="max-height: 660px;overflow: auto;border: none;  background-color: #fff;">
    <div class="row clearfix" style="margin-bottom:50px">
        <div class="col-md-12 column">
            <form class="form-inline queryForm" id="stationForm" >
                <div class="form-group col-sm-4" style=" width: 280px;">
                    <label>资源名称：</label>
                    <input type="text" name="companytypename" ng-model="osroleresource.companytypename" class="form-control input-sm">
                </div>
                <button type="button" class="btn btn-sm btn-primary"  style="width: 80px;" ng-click="findCheck()">查询</button>
                <br><br>
            </form>
            <table tt-table tt-params="expanded_params" class="table table-bordered table-hover table-striped  table-condensed">
                <thead>
                <tr>
                    <th>公司类型</th>
                    <th>子资源类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
<!--         <div class="col-md-12 column"> -->
<!-- 			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height: 40px;"> -->
<!-- 				<pagination recordcount="{{total}}" pagenum="comStaff.pageNum" pagesize="comStaff.pageSize" onselect="check()"></pagination> -->
<!-- 			</nav> -->
<!-- 		</div> -->
    </div>
</div>