<div class="modal fade" id="viewGoodsStockOutDetailId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 950px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h4 class="modal-title">出库记录</h4>
            </div>
            <!-- div modal-header end -->

            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_warehouseoutnum_view">单号：</label>{{viewData.warehouseoutnum}}
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_totgoodsqty_view">出库日期：</label>{{viewData.createdtime|limitTo:10}}
                    </div>
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="txt_totgoodsmoney_view">制单人：</label>{{viewData.createdname}}
                    </div>                     
                </div>
                <!--div form-group end-->

                <div class="table-responsive" style="max-height:392px;overflow:auto;">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <thead>
                            <tr class="info">
                                <th>序号</th>
                                <th>商品编码</th>
                                <th>商品名称</th>
                                <th>入库数量</th>
                                <th>库存数量</th>
                               <th>是否使用批次</th>
                                <th>批次号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in viewData.warehouseoutlist">
                                <td ng-bind="$index+1">1</td>
                                  <td>{{item.goodssn}}</td>
                                <td>{{item.goodsname}}</td>
                                <td>{{item.goodsqty}}</td>
                                <td>{{item.inventoryqty}}</td>
                                <td>{{tranNum2BolleanStr(item.isbatchcode)}}</td>
                                <td>{{item.batchcode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--div table-responsive end-->
            </div>
            <!-- div modal-body end -->

            <div class="modal-footer">
<!--                 <button type="button" class="btn btn-primary btn-sm">
                   		 打印
                </button> -->
                <button type="button" class="btn btn-default" data-dismiss="modal">
                   		关闭
                </button>
            </div>
            <!-- div modal-footer end -->
        </div>
        <!-- div modal-content end -->
    </div>
    <!-- div modal-dialog end -->
</div>
<!-- div dialog end -->