<div class="modal fade" id="viewGoodsStockBatchDetailId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 950px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h4 class="modal-title">商品库存批次明细</h4>
            </div>
            <!-- div modal-header end -->

            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <label for="txt_warehouseoutnum_view">商品名称：</label>{{viewData.goodsname}}
                    </div>
                </div>
                <!--div form-group end-->

                <div class="table-responsive" style="max-height:392px;overflow:auto;">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <thead>
                            <tr class="info">
                                <th>序号</th>
                                <th>批次号</th>
                                <th>数量</th>
                                <th>供应商</th>
                                <th>生产日期</th>
                                <th>有效期</th>
                                <!-- <th>备注</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in viewData.batchList">
                                <td ng-bind="$index+1">1</td>
                                <td>{{item.batchcode}}</td>
                                <td>{{item.goodqty}}</td>
                                <td>{{item.suppliername}}</td>
                                <td>{{item.producetime|limitTo:10}}</td>
                                <td>{{item.vailddate|limitTo:10}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--div table-responsive end-->
            </div>
            <!-- div modal-body end -->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                   		关闭
                </button>
            </div>
            <!-- div modal-footer end -->
        </div>
        <!-- div modal-content end -->
    </div>
    <!-- div modal-dialog end -->
</div>
<!-- div dialog end -->