html,body{height: 100%;width: 100%;background-color: #f0f0f0;}
body{font:400 16px/28px "microsoft yahei",Arial; color:#434343;}
ul,li{list-style: none;}
a{outline: none; color:#404089;}
a:hover{text-decoration: none; }
.h-fl{float: left;}
.h-fr{float: right;}
.h-block{display:block;}
.h-iblock{display: inline-block;}
.h-margin10{margin:10px auto;}
.color666{color:#666;}
.red-txt{color:#b83126;}
.blue-txt{color:#404089;}

.h-prod-title{height: 45px; line-height: 45px; text-align:center; border-bottom: 1px solid #ddd;}
#prod-form label.color666{font-weight: normal;}
#h-item-title{position: relative;height: 50px; line-height: 50px; margin-bottom: 10px; box-shadow: 1px 1px 1px 1px #e2e2e4; background-color: #fff; text-align: center;} 
.h-item-list-10{width: 10%;}
.h-item-list-12{width: 12%;}
.h-item-list-14{width: 14%;}
.h-item-list-30{width: 30%;}
.h-item-list-10,.h-item-list-12,.h-item-list-14,.h-item-list-30{position: relative;}

#h-productWrap{font-size:14px; text-align: center; background-color: #fff;}
#h-productWrap .h-product-box{height: 50px; line-height: 50px; border-bottom: 1px solid #ddd; text-align: left; padding: 0 10px;}
#h-productWrap .h-product-ul{margin:0; padding:0; clear: both; position: relative;}
#h-productWrap .h-list-checkbox{position: absolute; top: 35%; left:8px;}
#h-productWrap .h-product-name{margin-left: 30px; padding-left: 88px; position: relative;}
#h-productWrap .h-product-name img{position: absolute; left: 0; top: 0; width: 80px; height: 80px;}
#h-productWrap a.blue-txt:hover{color:#404089;}
#h-productWrap a.red-txt:hover{color:#b83126;}
.h-product-name p{line-height: 20px;}
#h-productWrap .h-product-ul li{clear: both; padding:20px 0; border-bottom: 1px dashed #ddd; overflow: hidden; position: relative;}
.goods-btnAdd{display: block; position: absolute; right: 20px; top: 0;}

.content1_right3{width:261px; overflow:hidden; right:0; margin-left:846px; position: fixed; bottom: 0px; background-color: #FFFFFF; border: 1px solid #CCCCCC}

.h-listTitle{margin:0 auto; padding:2px 8px; height:36px; line-height:25px;}
.pt0{padding-top:0!important;}
.box { border:1px solid #c3c3c3;float:left; width:180px;padding:10px 0; }
h2 { background:#fff0d9; font-size:17px; color:#853200;}
dl dt { color:#404040; font-weight:bold; background:#fafafa; padding:5px 10px; }
dl dd { margin-left:10px; background:url(../billing/static/img/bg.png) -232px -82px no-repeat; padding-left:25px; }


.mechantsTitle{
	float: left;
    text-align: left;
    width: 80px;
    color: #838383;
}

.arrAttributes a{
    background-color: #fff;
    color: #000;
    min-width: 115px;
    padding: 0 9px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: auto !important;
    outline: 0 none; 
}

.arrAttributes a:hover{
	border: 2px solid #be0106;
	text-decoration: none;
}

.wasSelected{
    border: 2px solid #be0106;
    color: #000;
    max-width: 40px;
    min-width: 10px;
    overflow: hidden;
    padding: 0 6px 0 7px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto !important;
    outline: 0 none;
}

/*2015-06-05 lihongwen*/
.h_billingConten{ background-color: #f0f0f0;} 
.h_billingConten div.form-group{text-align:left; margin:5px auto;}
.h_billingConten div.form-group label{font-weight:normal; color:#666; width:120px; text-align:right;}
.h_billingConten  input.form-control,.h_billingConten  select.form-control{width:60%; max-width:220px;}
#h_billing_address select.form-control{display:inline-block;width:auto;}

.shopPrice{
	text-decoration:line-through;
	color: #888;
}