<div class="clearfix " on-finish-render-filters="list" style=" margin-bottom:0;border:none;overflow: auto;">
    <div class="col-md-12 column">
        <form class="form-inline queryForm" id="stationForm" style="height: 45px" >
            <div style="float: left;display: inline-block;width: 270px;">
                <label>公司名称：</label>
                <input type="text" placeholder='请输入公司名称' name="companyname" ng-model="cominfo.companyname" class="form-control input-sm" style="width:180px;display: inline-block;">
            </div>
            <button type="button" class="btn btn-success btn-sm"  style="width: 80px;" ng-click="check()">查询</button>
            <br><br>
        </form>
        <div ui-grid="gridOptions" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-resize-columns id="companyModel" class="grid" style="margin:0;"></div>
    </div>
</div>
<div ng-if="iconFlag == 'add'" style="width:99%;  top: 0;height:100%;position: absolute;background: #D5D5D5;opacity:0.5;z-index:1132;  margin-left: -10px;">
</div>
<div ng-if="iconFlag == 'add'" style="width:100px;height:100px;z-index:1133;  position: fixed;top: 40%;left: 50%;">
    <span class="icon-spinner icon-spin" style="font-size:50px;opacity:1"></span>
    <div style="margin-left: -16px;">{{context}}</div>
</div>