    
<!--start 遮罩窗体  -->
<div class="modal fade" id="goodsstockcheck-save" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form class="form-horizontal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					批量导入
				</h4>
			</div>
			<!--start modal-body  -->
			<div class="modal-body">
				<h3 class="goodsstockcheck-tips"><span class="glyphicon glyphicon-exclamation-sign red"></span>请注意导入格式跟导出格式保存一致！</h3>
				<div class="goodsstockcheck-upload">
					<h3>请选择要导入文件：</h3>
					<input type="text" class="form-control" ng-model="filename" value="{{filename}}"/>
					<button type="button" class="button btn btn-default" ngf-select ngf-change="upload($files)">选择文件</button>
					<!-- <input type="file" name="upfile" ngf-select ngf-change="upload($files)"/>  -->
				</div>
				</br>
				<span>
					<a  href="/masgetweb/enterprise/goods/downloadfile.do" style="margin-left:10px;">下载参考样例</a>
				</span>
			</div>
			<!--end modal-body  -->
			<div class="modal-footer">
				 <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> 
				 <button type="button" class="btn btn-primary"  ng-click="addSumbit()">确定</button>
			</div>
		</div>
		
	</div>
</form>	
</div>
<!--end 遮罩窗体  -->  