<div class="col-md-12 column" ng-controller="productAddController" style="padding: 0px;margin: 0px">
	<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="#" ui-sref="entry">商品管理</a>
				</li>
				<li class="active">
					{{formData.edit}}商品
				</li>
			</ul>
	</div>   
    <div class="col-md-12 column">
		 <form class="form-horizontal h_changewarehouseForm" role="form" data-ng-init="queryload()">
		    <div class="form-group">
		   		<label class="col-md-2 column">
		         	   基本属性
		        </label>
		    </div>
		    
		    <div class="form-group ">
		        <label class="col-sm-1 control-label " >
		            商品名称<span style="color: red">*</span>
		        </label>
		        <div class="col-md-3 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		              <input type="text" class="form-control"  ng-model="formData.productname" />
		         </div>
		
		        <label class="col-sm-2 control-label">
		            商品类别<span style="color: red">*</span>
		        </label>
		        <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
		              	<select ng-model="formData.categoryid" name="categoryid" required class="form-control"  ng-options="item.categoryid as item.categoryname for item in categorynames">
			       			<option value="">--请选择--</option>
		   				</select>
		   				<!-- <nested-combo-box control-disabled="false" change-event="changeItem"  collection="classifycombotree" current-member="activeClassifyItem"  /> -->
		         </div>
		         <!-- <button ng-click="showGoodsclassifyAddModal()" class="btn btn-default">
				           <span class="glyphicon glyphicon-plus"></span>
				       </button> -->
				       <a href="javascript:;" ng-click="showGoodsclassifyAddModal()" style="float:left;margin-top: 7px;">
				       <span class="glyphicon glyphicon-plus" style="color:#1ACF74"></span>
				       </a>
		    </div>
		    <!-- 商品类别模态框 -->
		    <div  ui-view="addGoodsClassify"></div>
		    
		    <div class="form-group">
				<!-- <label class="col-sm-1 control-label">
		            	是否上架
		        </label>
		         <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
		              <select  ng-model="formData.onlineflag" name="onlineflag" required  class="form-control" ng-options="o.id as o.value for o in type">
			       			<option value="">--请选择--</option>
		   				</select>
		         </div> -->
		         <label class="col-sm-1 control-label">
		            	虚拟商品
		        </label>
		        <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
		              <select  ng-model="formData.virtualflag" name="virtualflag" required  class="form-control" ng-options="o.id as o.value for o in typeVirtualflag">
			       			<option value="">--请选择--</option>
		   				</select>
		         </div>
		
		        <label class="col-sm-2 control-label">
		            	计量单位
		        </label>
		        <div class="col-md-3 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		              <!-- <input type="text" min="1" class="form-control"  ng-model="formData.goodsunitid" /> -->
		              <select  ng-model="formData.goodsunitid" name="goodsunitid" required  class="form-control" ng-options="o.goodsunitid as o.goodsunitname for o in goodsunitOption">
			       			<option value="">--请选择--</option>
		   				</select>
		   				<!-- <ui-select allow-clear ng-model="formData.goodsunitid" theme="bootstrap">
                            <ui-select-match placeholder="请选择商品计量单位.">{{$select.selected.goodsunitname}}</ui-select-match>
                            <ui-select-choices repeat="item in goodsunitOption">
                                <span ng-bind ="item.goodsunitname"></span>
                            </ui-select-choices>
                        </ui-select> -->
						<!-- <button  required style="padding: 4px 12px; width: 347px;" name="roletypeid" type="button" class=" form-control btn btn-default " ng-model="formData.goodsunitid" data-trigger="focus"
				              bs-options="o.goodsunitid as o.goodsunitname for o in goodsunitOption" bs-select>
				          	请选择 <span class="caret"></span>
				      	</button> -->
                        
		         </div>
		         <!-- <button ng-click="onClickShowAddGoodsUnitModel()" class="btn btn-default">
				           <span class="glyphicon glyphicon-plus"></span>
				       </button> -->
				       
				       <a href="javascript:;" ng-click="onClickShowAddGoodsUnitModel()" style="float:left;margin-top: 7px;">
				       <span class="glyphicon glyphicon-plus" style="color:#1ACF74"></span>
				       </a>
		    </div>
		    <!-- 商品计量单位模态框 -->
		    <div ui-view="addgoodsunit"></div>
		    
		    <div class="form-group">
				<label class="col-sm-1 control-label">
		            	市场价<span style="color: red">*</span>
		        </label>
		        <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
		              <input type="number" min="0" class="form-control"  ng-model="formData.marketprice" />
		         </div>
		        
		        <label class="col-sm-2 control-label">
		            	品牌
		        </label>
		         <div class="col-md-3 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		              <select  ng-model="formData.brandid" name="brandid" required  class="form-control" ng-options="o.brandid as o.brandname for o in brandOption">
			       			<option value="">--请选择--</option>
		   				</select>
		         </div>
		         <!-- <button ng-click="onClickShowGoodsUnitModel()" class="btn btn-default">
				           <span class="glyphicon glyphicon-plus"></span>
				       </button> -->
		    </div>
		    <!-- <div class="form-group">
				<label class="col-sm-1 control-label">
		            	市场价<span style="color: red">*</span>
		        </label>
		        <div class="col-md-3 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		              <input type="number" min="0" class="form-control"  ng-model="formData.marketprice" />
		         </div>
		    </div> -->
		</form>
    </div>
 
    <div class="col-md-12 column" >
     <form class="form-horizontal h_changewarehouseForm">
    <!--  <div ng-hide="edit"> -->
	     <input type="checkbox" ng-model="usesku" style="float:left; margin-right:10px;">
		    <div class="form-group">
		        <strong>设置商品多规格</strong>
		    </div>
		    
		    <div class="check-element animate-show-hide" ng-show="usesku" style="clear:both;">
			    <div class="row">
		        	<div ng-repeat="item in specOption">
		        		<div class="col-sm-1 col-md-1">
		        		<!-- <input type="checkbox" ng-model="specificationoptionname" style="float:left; margin-right:10px;"> -->
		        		<input type="checkbox" ng-model="item.checked" style="float:left; margin-right:10px;">
		        			{{item.specificationname}}
			        		<!-- <div class="row">
				                <div class="col-sm-1 col-md-1" ng-repeat="o in item.specificationoption">
				                <input type="checkbox" ng-model="o.checked" ng-change="addCheck(o)" style="float:left; margin-right:10px;">
				                	{{o.specificationoptionname}}
				                </div>
				            </div> -->
						 </div>
		        	</div>
		        </div>	
		        <div class="form-group">
	      		
		    	</div>
	        	<div class="col-md-12">
	        		<a href="javascript:void(0);" class="btn-link" ng-click="onClickShowAddGoodsSpecModel()" title="新增规格"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增规格</a>
	      		</div>
	      	</div>
      	<!-- </div> -->
      	
      	<!-- 商品规格模态框 -->
		<div  ui-view="addGoodsSpec"></div>
      	
      	<div class="form-group">
      		
	    </div>
	    
	    <!-- <div class="form-group" ng-if="!usesku">
        	<div class="col-md-9">
        	
		        <div class="table-responsive">
			        <table class="table table-bordered table-hover table-striped table-condensed">
			            <thead>
			            <tr class="info">
			                <th style="width: 40px;">操作</th>
			                <th>缩略图</th>
			                
			                <th ng-if="!usesku">规格</th>
			                <th ng-if="usesku" ng-repeat="item in specOption | filter: true">
			                {{item.specificationname}}
			                </th>
			                
			                <th style="color: red">商品编码</th>
			                <th>条形码</th>
			                <th style="color: red">商品金额(￥)</th>
			            </tr>
			            </thead>
			            <tbody>
			            
			            
			            <tr ng-repeat= "item in goods">
			                <td >
			                    <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除">
			                        <span class="glyphicon glyphicon glyphicon-trash red"></span>
			                    </a>
			                </td>
			                <td>
			                	<ul id="goodsAdd-imgUl">
									<li class="goodsAdd-imgLi" ng-show="file">
										<div class="goodsAdd-img">
											<img ng-src="{{item.thumb}}" >
											<div class="goodsAdd-imgaction">
												<a class="imgaction-item h-img-del" href="#" ng-click="deletePic(item.thumb)" style="margin-left:25px;">删除</a>
											</div>
										</div>
									</li>
									<li class="button goodsAdd-imgLi" ngf-select ng-model="$parent.thumbfiles" ngf-change="fileChange();" ngf-accept="'image/*'"  ng-hide="file">
										<span class="glyphicon glyphicon-plus"></span>
										<em>单击上传图片</em>
									</li>
								</ul>
			                </td>
			                <td ng-if="!usesku">
			                   <input type="text" class="form-control"  ng-model="item.goodsspec" />
			                </td>
			                
			                
			                <td ng-if="usesku" ng-repeat="item in specOption | filter: true">
			                   <span ng-repeat="o in item.specificationoption | filter: true">
			                   		{{o.specificationoptionname}}
			                   </span>
			                   <select  ng-model="formData.specificationoptionid" name="specificationoptionid" required  class="form-control" ng-options="o.specificationoptionid as o.specificationoptionname for o in item.specificationoption">
					       			<option value="">--请选择--</option>
				   				</select>
			                </td>
			                
			                
			                <td><input type="text" class="form-control"  ng-model="item.goodssn" ng-disabled="formData.productid != undefined && formData.productid != '' " /></td>
			                
			                <td><input type="text" class="form-control"  ng-model="item.barcode"/></td>
			                <td>
			               		<input type="number" min="0" class="form-control"  ng-model="item.shopprice"/>
			                </td>
			                <a href="javascript:void(0);" class="btn-link" ng-click="addNewRow()" title="添加记录">
		                        <span class="glyphicon glyphicon-plus"></span>&nbsp;添加记录
		                    </a>
			            </tr>
			            </tbody>
			        </table>
		    	</div>
        	
        	</div>
        </div> -->
        
         <div class="form-group">
        	<div class="col-md-9">
        	
		        <div class="table-responsive">
			        <table class="table table-bordered table-hover table-striped table-condensed">
			            <thead>
			            <tr class="info">
			                <!-- <th style="width: 40px;">序号</th> -->
			                <th>缩略图</th>
			                
			                <th ng-if="!usesku">规格</th>
			                <th ng-if="usesku" ng-repeat="item in specOption | filter: true">
			                {{item.specificationname}}
			                </th>
			                
			                <th>商品编码<span style="color: red">*</span></th>
			                <th>条形码</th>
			                <th>商品金额(￥)<span style="color: red">*</span></th>
			            </tr>
			            </thead>
			            <tbody>
			            
			            
			            <!-- <tr ng-repeat="item in specOption[0].specificationoption | filter: true"> -->
			            <tr ng-repeat= "item in goods">
			                <!-- <td >
			                    <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除">
			                        <span class="glyphicon glyphicon glyphicon-trash red"></span>
			                    </a>
			                </td> -->
			                <td>
			                	<ul id="goodsAdd-imgUl">
									<li class="goodsAdd-imgLi" ng-show="file">
										<div class="goodsAdd-img">
											<img ng-src="{{item.thumb}}" >
											<div class="goodsAdd-imgaction">
												<a class="imgaction-item h-img-del" href="#" ng-click="deleteThumb()" style="margin-left:25px;">删除</a>
											</div>
										</div>
									</li>
									<li class="button goodsAdd-imgLi" ngf-select ng-model="$parent.thumbfiles" ngf-change="fileChange();" ngf-accept="'image/*'"  ng-hide="file">
										<span class="glyphicon glyphicon-plus"></span>
										<em>单击上传图片</em>
									</li>
								</ul>
			                </td>
			                <td ng-if="!usesku">
			                   <input type="text" class="form-control"  ng-model="item.goodsspec" />
			                </td>
			                
			                
			                <!-- <td ng-if="usesku" ng-repeat="o in specOption | filter: true">
			                   <span>
			                   		{{item.specificationoptionname}}
			                   </span>
			                </td> -->
			                
			                <td ng-if="usesku" ng-repeat="o in specOption | filter: true">
			                   <!-- <span ng-repeat="o in item.specificationoption | filter: true">
			                   		{{o.specificationoptionname}}
			                   </span> -->
			                   <select  ng-model="o.specificationoption.specificationoptionid" ng-change="specification_select(o.specificationid,o.specificationoption.specificationoptionid)" name="specificationoptionid" required  class="form-control" ng-options="item.specificationoptionid as item.specificationoptionname for item in o.specificationoption">
					       			<option value="">--请选择--</option>
				   				</select>
			                </td> 
			                
			                
			                
			                <td><input type="text" class="form-control"  ng-model="item.goodssn" ng-disabled="formData.productid != undefined && formData.productid != '' " /></td>
			                
			                <td><input type="text" class="form-control"  ng-model="item.barcode"/></td>
			                <td>
			               		<input type="number" min="0" class="form-control"  ng-model="item.shopprice"/>
			                </td>
			               <!--  <a href="javascript:void(0);" class="btn-link" ng-click="addNewRow()" title="添加记录">
		                        <span class="glyphicon glyphicon-plus"></span>&nbsp;添加记录
		                    </a> -->
			            </tr>
			            </tbody>
			            
			        </table>
		    	</div>
        	</div>
        </div>
        
      </form>
    </div>
    
     <div class="col-md-12 column" >
     <form class="form-horizontal h_changewarehouseForm">
	    <div class="form-group">
	   		<label class="col-md-2 column">
	         	   库存信息
	        </label>
	    </div>
	    <!-- <div class="form-group">
		        <label class="col-sm-2 control-label " style="text-align: left;">
		           库存预警
		        </label>
		        <label class="col-sm-2 control-label ">
		           最小库存
		        </label>
		        <div class="col-md-1 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		              <input type="number" min="0" class="form-control"  ng-model="formData.mininventory" />
		         </div>
		        <label class="col-sm-2 control-label ">
		           最大库存
		        </label>
		        <div class="col-md-1 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
		              <input type="number" min="0" class="form-control"  ng-model="formData.maxinventory" />
		         </div>
		</div> -->
		<!-- <div class="form-group">
		
		        <label class="col-sm-2 control-label" style="text-align: left;"> 
		        <input type="checkbox" ng-model="formData.issernum">
		           启用序列号
		        </label>
		</div> -->
		<div class="form-group">
				
		        <label class="col-sm-2 control-label" style="text-align: left;"> 
		        <input type="checkbox" ng-disabled="formData.productid != undefined && formData.productid != '' " ng-model="formData.isbatchcode">
		           启用批次保质期管理
		        </label>
		        <!-- <div ng-if="formData.isbatchcode"> 
			         <label class="col-sm-2 control-label ">
			           保质期天数
			        </label>
			        <div class="col-md-1 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
			              <input type="number" min="0" class="form-control"  ng-model="formData.safeday" />
			         </div>
			        <label class="col-sm-2 control-label ">
			           报警天数
			        </label>
			        <div class="col-md-1 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
			              <input type="number" min="0" class="form-control"  ng-model="formData.advanceday" />
			         </div>
		         </div> -->
		</div>
      </form>
      
    </div>
    
    
    <div class="col-md-12 column" >
     <form class="form-horizontal h_changewarehouseForm">
	    <div class="form-group">
	   		<label class="col-md-2 column">
	         	   商品信息
	        </label>
	    </div>
	    <div class="form-group">
			<div class="col-md-9 column">
				<textarea type="text" style="height: 100px" class="form-control" ng-model="formData.description">
				</textarea>
			</div>
		</div>
		<!-- add -->
		<div class="form-group">
		    <div class="col-sm-10">
				<ul id="goodsAdd-imgUl">
						<li class="goodsAdd-imgLi" ng-repeat="item in formData.goodspicture"  render-finished="picture">
							<div class="goodsAdd-img">
								<img src="{{item.pictureurl}}" >
									<div class="goodsAdd-imgaction">
										<a class="imgaction-item h-img-del" style="margin-left:25px;" href="#" title="删除" ng-click="deletePic(item.pictureIndex)">删除</a>
									</div>
							</div>
						</li>
						<li class="button goodsAdd-imgLi" ngf-select ng-model="files" accept="image/*">
							<span class="glyphicon glyphicon-plus"></span>
							<em>单击上传图片</em>
						</li>
					</ul>
		    </div>
		</div>
		<!--end  -->
		
      </form>
    </div>
    
    <div class="col-md-8 column">
    	<button type="button" class="btn btn-primary btn-lg" ng-click="addFormDataSumbit()">
		 	<span class="glyphicon glyphicon-saved"></span>   
		    保存</button>
		    
		 <button type="button" class="btn btn-primary btn-lg" ui-sref="entry">
		 	<span class="glyphicon glyphicon-share-alt"></span>   
		    取消</button>
	</div> 
    
</div>