    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr class="info">
                <th style="width: 40px;">操作</th>
                <th>缩略图</th>
                <th>规格</th>
                <th style="color: red">商品编码</th>
                <th>条形码</th>
                <th style="color: red">商品金额(￥)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat= "item in goods">
                <td >
                    <a href="javascript:void(0);" class="btn_del" ng-click="delrecord($index)" title="删除">
                        <span class="glyphicon glyphicon glyphicon-trash red"></span>
                    </a>
                </td>
                <td>
                	<ul id="goodsAdd-imgUl">
						<li class="goodsAdd-imgLi" ng-show="file">
							<div class="goodsAdd-img">
								<img ng-src="{{formData.logo}}" >
								<div class="goodsAdd-imgaction">
									<a class="imgaction-item h-img-del" href="#" ng-click="deletePic(formData.logo)" style="margin-left:25px;">删除</a>
								</div>
							</div>
						</li>
						<li class="button goodsAdd-imgLi" ngf-select ng-model="files" ngf-accept="'image/*'"  ng-hide="file">
							<span class="glyphicon glyphicon-plus"></span>
							<em>单击上传图片</em>
						</li>
					</ul>
                </td>
                <td>
                   <input type="text" class="form-control"  ng-model="item.specificationname" />
                </td>
                <td><input type="text" class="form-control"  ng-model="item.goodssn" /></td>
                
                <td><input type="text" class="form-control"  ng-model="item.barcode"/></td>
                <td>
               		<input type="number" min="0" class="form-control"  ng-model="item.shopprice"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>