<div class="col-md-12 column" ng-controller="productCheckController" style="padding: 0px;margin: 0px">
		<div class="col-md-12 column">
				<ul class="breadcrumb">
					<li>
						 <a href="#" ui-sref="entry">商品管理</a>
					</li>
					<li class="active">
						商品详情
					</li>
				</ul>
		</div>
	
		<div class="row clearfix">
			<div class="col-md-4 column">
				<div class="carousel slide" id="check" data-ride="carousel">
					<div class="carousel-inner" role="listbox" style="height: 408px">
						<div class="item active">
							<!-- <img alt="" src="http://192.168.87.141:8080/masgetfile/1441803628484.jpg"/> -->
							<img alt="" src= {{formData.thumb}} />
						</div>
						<div class="item" ng-repeat="item in formData.goodspicture">
							<img alt="" src={{item.pictureurl}} />
						</div>
						
					</div>
						<a class="left carousel-control" data-target="#check"  data-slide="prev">
					 		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					 	</a> 
					
						<a class="right carousel-control" data-target="#check"  data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</a>
				</div>
			</div>
			
			<div class="col-md-8 column">
				<dt>
					<h3>
						{{formData.productname}}
					</h3>
				</dt>
				<p>
					<small>分类：{{formData.categoryname}}</small>
				</p>
				
				<div class="form-group">
					<div class="table-responsive">
				        <table class="table table-bordered table-hover table-striped table-condensed">
				            <thead>
				            <tr class="info">
				                <th>缩略图</th>
				                <th ng-if= "formData.usesku==1">规格</th>
				                
				                <th ng-if= "formData.usesku==2" ng-repeat="o in goods[0].goodsspecification">
				                	{{o.specificationname}}
				                </th>
				                
				                <th style="color: red">商品编码</th>
				                <th>条形码</th>
				                <th style="color: red">商品金额(￥)</th>
				            </tr>
				            </thead>
				            <tbody>
				            <tr ng-repeat= "item in goods">
				                <td style="text-align: center;">
				                	<img style="height: 30px" ng-src="{{formData.thumb}}" >
				                </td>
				                <td ng-if= "formData.usesku==1">
				                   {{item.goodsspec}}
				                </td>
				                
				                <td ng-if= "formData.usesku==2" ng-repeat="o in goods[0].goodsspecification">
				                   {{o.specificationoptionname}}
				                </td>
				                
				                <td>
				                	{{item.goodssn}}
				                </td>
				                <td>
				                	{{item.barcode}}
				                </td>
				                <td>
				               		{{item.shopprice}}
				                </td>
				            </tr>
				            </tbody>
				        </table>
				    </div>
		        </div>
		        
		         <div class="col-md-8 column">
			    	<button type="button" class="btn btn-primary btn-lg" ui-sref="add">
					 	<span class="glyphicon glyphicon-plus"></span>   
					    新增</button>
					    
					 <button type="button" class="btn btn-primary btn-lg" ui-sref="updata({goodssn:formData.goodssn,pagesize:'20',pagenum:'1'})">
					 	<span class="glyphicon glyphicon-edit"></span>   
					    修改</button>
					    
					 <!-- <button type="button" class="btn btn-primary btn-lg">
					 <span class="glyphicon glyphicon-trash"></span>   
					    删除</button> -->
				</div>
		        
			</div>	
			
		</div>
		
		<div class="col-md-12 column">
			<h3>
				商品介绍
			</h3>
			<dd>
				{{formData.description}}
			</dd>
		</div>
		
	   
</div>