<div ng-controller="productEntryController"  class="col-md-12 column" style="padding: 0px;margin: 0px">

	<div class="col-md-12 column" style="padding-left: 0px;"> 
	    <div class="col-md-2">
	    	<select ng-model="formData.categoryid" name="categoryid" required class="form-control"  ng-options="item.categoryid as item.categoryname for item in categorynames">
      			<option value="">--请选择分类--</option>
 			</select>
	    </div>
	    
	    <div class="col-md-3">
	        <input type="text" class="form-control" placeholder="请输入商品名称 或者编码"  ng-model="formData.keywords" style="width: 100%">
	    </div>
	    <div  class="pull-left" style="margin-left: 12px;">
	         <button id="btn_search" type="button" class="btn btn-primary btn-block btn-sm" ng-click="onClickToQuery()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
	    </div>
	    <div class="pull-left" style="margin-left: 10px;">
	        <button id="btn_add" type="button" class="btn btn-primary btn-block btn-sm" ui-sref="add"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增</button>
	    </div>
	    
    	<div class="form-group">   
	        <div class="col-sm-offset-6 col-sm-6" style="text-align: right;">
                <a style="cursor:pointer; title="导入" data-target="#goodsstockcheck-save" data-toggle="modal"><span class="glyphicon glyphicon-log-in green"></span>导入</a>
                <a style="cursor:pointer; title="导出" ng-click="onBtnClickexportGoods()"><span class="glyphicon glyphicon-share green"></span>导出</a>
	        </div>
   		</div>
	</div>
	
	<div class="col-md-12 column" style="margin-top: 20px;" on-finish-render-filters="list">
		<div id="entrygridOptionsid" ui-grid="entrygridOptions" ui-grid-pagination ui-grid-move-columns ui-grid-auto-resize class="grid" style="height: 550px;"></div>
	</div>
	
	<div class="col-md-12 column padding0px margin0px">
	    <div class="modal fade" id="modal-container-728099" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div style="text-align: center;">
					<img style="text-align: center;" class="img-thumbnail" src="{{formData.thumb}}" />
				</div>
			</div>			
		</div>
	 </div>
	 
	 <div class="col-md-12 column padding0px margin0px" >
        <div ui-view="selectFile"></div>
    </div>
    
    <div class="col-md-12 column padding0px margin0px" >
        <div ui-view="import"></div>
    </div>
    
</div>