<div class="modal fade" id="select_imports" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                   		选择导入的商品
                </h4>
            </div>
            <form name="modelSelectGoodsForm"  novalidate>
            <div class="modal-body" >
                <div class="container-fluid" style=" border: 0px;border-radius: 0px;margin: -15px;margin-top: 0px;margin-bottom: 0px;">
                	<form class="form-horizontal" role="form">
						<div class="form-group">
							<!-- <label class="col-md-2 control-label" > 关键词: </label>
							<div class="col-md-4  col-sm-4">
								<input ng-model="formData.keywords" class="form-control"
									type="text" style="border: solid 1px #D7D7D7;height: 30px"  placeholder="搜索关键词"/>
							</div>
							<button type="submit" class="btn btn-primary"  ng-click="onClickToQueryGoods()">搜索</button> -->
						</div>
					</form>
                
                	<!--start-->
					<div id="grid" ui-grid="gridImportOptions" ui-grid-cellNav ui-grid-selection ui-grid-resize-columns 
					 ui-grid-auto-resize ui-grid-pagination class="grid" style="margin-top:15px;height:380px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  ng-click="onClickToAddimports()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>