@CHARSET "UTF-8";


/*图片上传*/
#goodsAdd-imgUl{margin: 0 auto; padding: 0;list-style-type: none;}
#goodsAdd-imgUl .goodsAdd-imgLi{width: 100px; height: 100px; border:1px solid #ddd;float: left; position:relative; }
.goodsAdd-imgLi img{width:100px;height: 100px;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi{cursor:pointer; border-style:dashed;position:relative;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi:hover{border-color:red;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi span.glyphicon.glyphicon-plus{color:#E6E6EA; font-size:70px; position:absolute; left:15px; top:0;}
#goodsAdd-imgUl li.button.goodsAdd-imgLi em{font-size:12px; color:#999; position:absolute; left:15px; bottom:0; font-style:normal;}
#goodsAdd-imgUl .goodsAdd-imgaction{position:absolute; left:0;  bottom:0; height:24px; line-height:24px; width:99px; background-color:rgba(128, 128, 128, 0.8);}
.goodsAdd-imgaction a.imgaction-item{padding-left:10px; font-size:14px; color:#fff;}
.h-img-update{background:url(../img/icon_update.png) no-repeat 0 0; background-size:18px;}
.h-img-del{background:url(../img/icon_del2.png) no-repeat 0 0; background-size:25px;}
.goodsAdd-imgaction a.imgaction-item.h-img-del{margin-left:10px;}
.goodsAdd-iconAdd {position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;color: #be0c0c;background:#eee; opacity:0.8; font-size: 14px;line-height: 24px; height:24px;}

/* UI-SELECT2 */
#directives-select2 select {
	width: 200px;
}

/* lin he 2015 7.1 */
.isnoquery{height:400px; background:#fff url(../img/no_query.png) no-repeat 200px 100px;}
.innoquery{background-image:none;}
.container-fluid.well{height:100%;}
.goodsstockcheck-upload,.h_formBox{height:auto; position:relative; clear:both; overflow:hidden;}
.goodsstockcheck-upload h3,.goodsstockcheck-upload input[type="text"],.goodsstockcheck-upload button[type="button"]{float:left; display:inline-block;}
.goodsstockcheck-upload h3{font-size:14px; margin-top:0; font-weight:bold;  color:#555; line-height:30px;}
.goodsstockcheck-upload h3{margin:0;}
#dialog button.btn.h-btn{width:100%;margin:0 auto;}
h3.goodsstockcheck-tips{color:#DD5A43; font-size:14px; margin-top:0;}
.goodsstockcheck-upload input.form-control{float:left;width:250px;}
.goodsstockcheck-upload button.button{margin-left:5px;}