<div ng-controller="ordersAddSalesOrderOrdersController"  class="col-md-12 column"  style="padding: 0px;margin: 0px">
    <form class="form-inline ordersForm" name="ordersForm" novalidate >
        <div class="col-md-12" style="border: 0px solid #DDDDDD;padding: 10px 10px 10px 0px">
            <div class="col-md-1" style="font-size: 17px;height:auto;display: table;padding: 0px;">
                <div  class="orders_left_title" ><label>客户<br>信息</label></div>
            </div>
            <div class="col-md-11" style="border: 1px #DDDDDD solid;padding: 10px;background-color: gray1">
                <div class="col-md-12" style="padding: 0px">
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>客户：</label>
                    </div>
                    <div class="col-md-4 text-left " id="h_comboxtable-input" style="padding: 0px;white-space: nowrap; position:relative;">
                        <comboxtable ng-model="selectedAcontact" column-names="['客户','联系人','地址','联系电话']" column-fields="['companyname','staffname','addressEx','mobilephone']"
                                     text-field="staffname" datas="contacts" on-change="getContact()" key-word="contactkeyword" is-required="false" is-show-index="true"  input-placeholder="请选择客户"
                                     content-style="width:83.33%;" input-style="font-size:13px" input-class="form-control" input-height="34px" style="width: 100%;"
                                     is-show-pagination="true" recordcount="{{contactData.total}}" pagenum="contactFormData.pagenum" pagesize="contactFormData.pagesize">
                        </comboxtable>
                        <span class="input-group-btn" style="position:absolute;left:83.33%;top:0;">
                          <button class="btn btn-default" style="height:34px;" ng-click="" title="添加客户" data-toggle="modal" data-target="#modal-container-184101" data-backdrop="static">
                              <span class="glyphicon glyphicon-plus" style="color: deepskyblue;"></span>
                          </button>
                        </span>
                    </div>
                     <div class="form-group col-md-1" style="padding-right: 0;  line-height: 34px;padding-left: 0px;">
                        <label>联系电话：</label>
                    </div>
                    <div class="col-md-2 text-left" >
                        <input type="text"  ng-model="orders.buyerphone" required placeholder="请输入联系电话" class="form-control  ">
                    </div>
                </div>
                 <div class="col-md-12 marginTop13px" style="padding: 0px;">
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>送货地址：</label>
                    </div>
                    <div class="col-md-5 text-left"  style="padding: 0px;">
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control" style="width: 100%;" ng-model="orders.buyerprovinceid" ng-change="onChangeProvince(orders.buyerprovinceid)">
                                <option value="">(空)</option>
                                <option ng-repeat="v in baseData.provinces" value="{{v.provinceid}}">{{v.provincename}}</option>
                            </select>
                        </div>
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control"  style="width: 100%;" ng-model="orders.buyercityid"  ng-change="onChangeCity(orders.buyercityid)">
                                <option value="">(空)</option>
                                <option ng-repeat="v in baseData.citys" value="{{v.cityid}}">{{v.cityname}}</option>
                            </select>
                        </div>
                        <div  class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                            <select class="form-control"  style="width: 100%;" ng-model="orders.buyerareaid">
                                <option value="">(空)</option>
                                <option ng-repeat="v in baseData.areas" value="{{v.areaid}}">{{v.areaname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3  text-left">
                        <input  ng-model="orders.buyeraddress"  placeholder="请输入详细地址"  class="form-control  " type="text" />
                    </div>
                </div>
                 <!--<div class="col-md-12 marginTop13px" style="padding: 0px;">-->
                    <!--<div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">-->
                        <!--<label>联系方式：</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-11 text-left"  style="padding: 0px; position:relative;">-->
                        <!--<input type="text" ng-model="buyer_contact_information" style="border:none; border-bottom:1px solid #ddd; outline:none; background-color:#f5f5f5; width:90%;" disabled="disabled" readonly="true"/>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-12" style="border: 0px solid #DDDDDD;padding: 0px 10px 10px 0px;">
            <div class="col-md-1" style="font-size: 17px;height: auto;display: table;padding: 0px;">
                <div class="orders_left_title">
                    <label>订单<br>信息</label>
                </div>
            </div>
            <div class="col-md-11" style="border: 1px #DDDDDD solid;padding: 10px;background-color: gray1">
                <div class="col-md-12 " style="padding: 0px">
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>仓库：
                        </label>
                    </div>
                    <div class="col-md-3 text-left" style="padding: 0px;vertical-align:middle;">
                        <comboxtable  ng-model="warehouse" column-names="['仓库','地址']" column-fields="['stationname','address']"
                                     text-field="stationname" datas="storehouses" on-change="queryStorehouse()" key-word="storehouseKeyword" is-required="true" is-show-index="true"
                                     content-style="width: 90%;" input-style="font-size:13px" input-class="form-control" input-placeholder="请选择仓库(必填)">
                        </comboxtable>
                        <!--<select ng-model="orders.warehouseid" required class="form-control" style="width: 90%;height: 31px">-->
                            <!--<option ng-repeat="item in warehouses" value="{{item.stationid}}">{{item.stationname}}</option>-->
                        <!--</select>-->
                    </div>
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>发票类型：</label>
                    </div>
                    <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
                        <select  ng-model="orders.invoicetype" required class="form-control" style="width: 90%;height: 31px">
                            <option value="">(空)</option>
                            <option ng-repeat="item in invoiceType" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>发票编号：</label>
                    </div>
                    <div class="col-md-3 text-left" style="padding: 0px;vertical-align:middle;">
                        <input type="text" name="remark" ng-model="orders.invoicenumber" class="form-control  " placeholder="请输入发票编号" style="width: 90%">
                    </div>
                </div>
                <div class="col-md-12 marginTop13px" style="padding: 0px">
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>结算方式：</label>
                    </div>
                    <div class="col-md-3 text-left" style="padding: 0px;vertical-align:middle;">
                          <div>
                            <label data-ng-repeat="item in settlementtype" style=" font-weight: normal;">
                                <input type="radio" name="settlementtype" data-ng-model="orders.settlementtypeid" value="{{item.id}}" />
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>交货方式：</label>
                    </div>
                    <div class="col-md-3 text-left"  style="padding: 0px;vertical-align:middle;">
                        <div>
                            <label data-ng-repeat="item in deliverytype" style=" font-weight: normal;">
                                <input type="radio" name="deliverytype" data-ng-model="orders.deliveryflag" value="{{item.id}}" />
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 marginTop13px marginBottom12px" style="padding: 0px" ng-if="orders.settlementtypeid == 4">
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>收款期限：</label>
                    </div>
                    <div class="col-md-2 text-left" style="padding: 0px;">
                        <input type="text" ng-model="orders.perioddays" class="form-control  " placeholder="" style="width: 90%">
                    </div>
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>收款日期：</label>
                    </div>
                    <div class="col-md-2 text-left" style="padding: 0px;">
                        <input type="date" ng-model="orders.perioddate" class="form-control  " placeholder="" style="width: 90%">
                    </div>
                </div>
                <div class="col-md-12 marginTop13px marginBottom12px" style="padding: 0px">
                    <div class="form-group col-md-1" style="padding: 3px 0px 0px 0px;">
                        <label>备注：</label>
                    </div>
                    <div class="col-md-3 text-left" style="padding: 0px;">
                        <input type="text" ng-model="orders.remark" class="form-control  " placeholder="" style="width: 90%">
                    </div>
                    <div class="col-md-5 ">
                        <button type="button" class="btn btn-default" ng-if="orders.settlementtypeid == 1 && false">收款</button>
                        <div class="form-group" ng-if="orders.settlementtypeid != 1">
                            <span>定金:</span>
                            <input type="text" ng-model="orders.goodsdeposit" class="form-control  " placeholder="定金" style="width: 100px;">
                            <button type="button" class="btn btn-default" ng-if="false" >收定金</button>
                        </div>

                        <!-- <button type="button" class="btn btn-primary btn-lg" ng-click="submit()">开单</button> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>