<div class="table-responsive" ng-controller="ordersSalesOrderListGridController">
    <table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
        <tr class="info">
            <th>操作</th>
            <th>序号</th>
            <th>售货单号</th>
            <th>状态</th>
            <th>出货仓库</th>
            <th>客户</th>
            <th>总数量</th>
            <th>总金额</th>
            <th>折扣金额</th>
            <th>定金</th>
            <th>结算方式</th>
            <th>交货方式</th>
            <th>客户地址</th>
            <th>联系电话</th>
            <th>自动出库</th>
            <th>发票类型</th>
            <th>发票编号</th>
            <th>备注</th>
            <th>开单时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in orders.rows">
            <td>
                <a href="javascript::void(0);" class="btn_view" title="查看" ng-click="view(item)" data-toggle="modal" data-target="#viewModal"><span class="glyphicon glyphicon-eye-open blue"></span></a>
                <!--<a href="#warehousein" class="btn_audit" title="审核成功" ng-click="audit(warehousein)" ng-show="{{warehousein.isaudit}}"><span class="glyphicon glyphicon-saved green"></span></a>-->
                <!--<a href="#warehousein" class="btn_auditfail" title="审核失败" ng-click="auditfail(warehousein)" ng-show="{{warehousein.isauditfail}}"><span class="glyphicon glyphicon-ban-circle green"></span></a>-->
                <!--<a href="#warehousein" class="btn_del" title="删除" ng-click="delete(warehousein)" ng-show="{{warehousein.isdelete}}"><span class="glyphicon glyphicon glyphicon-trash red"></span></a>-->
            </td>
            <td ng-bind="$index+1">1</td>
            <td>{{item.ordernum}}</td>
            <td>{{convertOrderStateToName(item.orderstate)}}</td>
            <td>{{item.warehousename}}</td>
            <td>{{item.buyername}}</td>
            <td>{{item.totgoodsqty}}</td>
            <td>{{item.totgoodsmoney | currency:"￥"}}</td>
            <td>{{item.totdiscountmoney | currency:"￥"}}</td>
            <td>{{item.goodsdeposit | currency:"￥"}}</td>
            <td>{{convertSettlementToName(item.settlementtypeid)}}</td>
            <td>{{convertDeliveryFlagToName(item.deliveryflag)}}</td>
            <td>{{item.buyeraddress}}</td>
            <td>{{item.buyerphone}}</td>
            <td>{{convertAutoWarehouseoutToName(item.autowarehouseout)}}</td>
            <td>{{convertInvoiceTypwToName(item.invoicetype)}}</td>
            <td>{{item.invoicenumber}}</td>
            <td>{{item.remark}}</td>
            <td>{{convertOCreatedTime(item.createdtime)}}</td>
        </tr>
        </tbody>
    </table>
</div>