<div class="col-md-12 column" ng-controller="ordersAddSalesOrderController" style="padding: 0px;margin: 0px">
    <div class="col-md-12 text-center" style="font-size: 20px;padding: 0px">
        <label>售货开单</label>
    </div>
    <div class="col-md-12 text-right" style="font-size: 10px;padding: 0px;position: absolute;font-weight: normal;color: #666;">
        <label style="margin-right: 5px;">日期:</label><label >{{orders.createdtime}}</label>
        <label style="margin-left: 10px;margin-right: 5px;">单号:</label><label style="margin-right: 100px;">{{orders.ordernum}}</label>
    </div>
    <div class="col-md-12 column">
        <div ui-view="orders"></div>
    </div>
    <div class="col-md-12 column" >
        <div ui-view="orderlist"></div>
    </div>

	<div class="col-md-12 column" style="text-align:center;">
	    <button type="button" class="btn btn-primary btn-lg" ng-click="submit()">开单</button>
    	<!-- <div class="btn-group dropup">
			<button type="button"  ng-disabled="isPrintDisabled" class="btn  btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="选择打印模板">
				<span class="glyphicon glyphicon-print" aria-hidden="true"></span> 打印
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="template in templates" ><a href="javascript:void(0);" ng-click="createPrint(template)">{{template.tempname}}</a></li>
			</ul>
		</div> -->
		<a class="btn btn-primary btn-lg" ng-click="printHtml()">
			<span class="glyphicon glyphicon-print" aria-hidden="true"></span> 打印
		</a>
	</div>


	
    <!--<div class="col-md-12 column">-->
        <!--<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height: 40px;border:0px">-->
            <!--<pagination recordcount="{{deliverys.deliverygoods.total}}" pagenum="formData.pageNum" pagesize="formData.pageSize" onselect="queryForm()" is-hide-pagenum-input="true"></pagination>-->
        <!--</nav>-->
    <!--</div>-->


    <!--新增的窗口开始  -->
    <div class="col-md-12 column padding0px margin0px" >
        <div  ui-view="addContact"></div>
        <div  ui-view="addAddressgroup"></div>
    </div>


    <div style="position: absolute;right:0px;top:1%">
        <div class="list-group">
            <!--<a ui-sref="add" class="list-group-item active">开单</a>-->
            <a ui-sref="gridlist"class="list-group-item active">查询</a>
        </div>
    </div>
</div>