<!-- <div ng-controller="printHtmlController"> -->
	<div style="margin-top:45px;" class="modal fade" id="modal-container-print" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:100%;">
			<div class="modal-content">
				
				<style id="style1">
				body {
				    color: #333;
				    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				    font-size: 14px;
				    line-height: 1.42857;
				}
				.text-center {
				    text-align: center;
				}
				.table-bordered {
				    border: 2px solid #ddd;
				}
				.table-bordered tbody tr td, .table-bordered  tbody tr th,.table-bordered thead tr td, .table-bordered thead tr th {
				    border: 1px solid #ddd;
				    text-align: center;
				}
				.table {
				    margin-bottom: 20px;
				    max-width: 100%;
				    width: 100%;
				}
				table {
				    background-color: transparent;
				    border-collapse: collapse;
				    border-spacing: 0;
				}
				table tbody tr td{
				    text-align: center;
				}
				b, strong {
				    font-weight: 700;
				}
				.col-md-12 {
				    width: 100%;
				}
				.col-md-12, .col-md-3, .col-md-4{
				    float: left;
				}
				.col-md-4 {
				    width: 33.3333%;
				}
				.col-md-3 {
				    width: 23%;
				}
				
				</style>
					<div class="col-md-12 column"  style="padding: 0px;margin: 0px">
						<div id="form1">
							<div class="text-center">
							    <strong><span style="font-size:26px;">{{divOrdersPrintData.suppliername}}</span></strong>
							</div>
							<div class="text-center">
							    <strong><span  style="font-size:24px;">（{{divOrdersPrintData.stationname}}）出货单</span></strong>
							</div>
							<div class="col-md-12 column" style="padding:0px;">
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>收货单位：{{divOrdersPrintData.buyername}}</srtong></div>
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>负责人：{{divOrdersPrintData.staffname}}</strong></div>
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>日期：{{divOrdersPrintData.createdtime|limitTo:10}}</strong></div>
							    <div class="col-md-3 column" style="padding:0px;font-size:15px;"><strong>单号：{{divOrdersPrintData.ordernum}}</strong></div>
							</div>
							<div class="col-md-12 column" style="padding:0px;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>区域</th>
											<th>加盟类型</th>
											<th>系列</th>
											<th>货号</th>
											<th>品名</th>
											<th>规格</th>
											<th>单价(元)</th>
											<th>数量</th>
											<th>金额</th>
											<th>备注</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in divOrdersPrintData.list[0]">
											<td></td>
											<td></td>
											<td>{{item.selected.companygoodsclassifyname}}</td>
											<td>{{item.goodssn}}</td>
											<td>{{item.goodsname}}</td>
											<td>{{item.goodsspec}}</td>
											<td>{{item.dealingprice}}</td>
											<td>{{item.goodsqty}}</td>
											<td>{{item.goodsmoney}}</td>
											<td></td>
										</tr>
										<tr>
										    <td colspan="7">合计:</td>
										    <td colspan="1">{{divOrdersPrintData.totgoodsqty}}</td>
										    <td colspan="1">{{divOrdersPrintData.totgoodsmoney}}</td>
										    <td colspan="1"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-12 column" style="padding-left:30px;">
							    <div class="col-md-12 column">
							    <strong><span style="font-size:15px;">地址：{{divOrdersPrintData.buyerprovincename}}{{divOrdersPrintData.buyercityname}}{{divOrdersPrintData.buyerareaname}}{{divOrdersPrintData.buyeraddress}}
							    &nbsp;&nbsp;{{divOrdersPrintData.staffname}}收&nbsp;&nbsp;{{divOrdersPrintData.buyerphone}}</span></strong>
							    </div>
							</div>
							<div class="col-md-12 column" style="padding-left:30px;">
							    <div class="col-md-3 column" style="font-size:15px;">发货方式：{{divOrdersPrintData.deliveryName}}</div>
							    <div class="col-md-3 column" style="font-size:15px;">制单：{{divOrdersPrintData.createdbyname}}</div>
							    <div class="col-md-3 column" style="font-size:15px;">审核：</div>
							    <div class="col-md-3 column" style="font-size:15px;">仓管：</div>
							</div>
							<div class="remark">
							    <strong>
							        <span style="font-size:15px;">
							                                    备注：{{divOrdersPrintData.remark}}<br/>
							           	第一联：查存联；第二联：财务联；第三联：客户联；第四联：仓库联<br/>
							           	地址：{{divOrdersPrintData.supplyCompanyProvincename}}{{divOrdersPrintData.supplyCompanyCityname}}{{divOrdersPrintData.supplyCompanyAreaname}}{{divOrdersPrintData.supplyCompanyAddress}}<br/>
							           	客服热线：{{divOrdersPrintData.supplyCompanyPhone}}<br/>
							           	温馨提示：如收货时发现货物损坏或产品质量问题请于24小时内与客服联系处理。
							        </span>
							    </strong>
							</div>
						</div>
					</div>
				
				<div class="modal-footer">
				     <a class="btn btn-primary" href="javascript:void(0);" ng-click="myPreview()">打印</a>
					 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->