<div class="column col-md-2" style="margin-top: 20px;padding-right: 0px;">
    <div  class="col-md-12 column form-goods-list"  style="padding: 0px;margin: 0px;">
	    <div class="goodsclassifyheader" style="padding: 0px;height: 45px;">
	    	<span style="display: inline-block;color:#6a6a6a;margin-top: 8px;padding-left: 5px;font-size:24px;" >站点选择</span>
	    </div>
        <abn-tree tree-data="station_adbtree" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level = "2" class="goodsclassifytree"></abn-tree>
    </div>
</div> 