<div class="col-md-12 column"  >
    <h1>POS刷卡充值</h1>
    <h3>
        <span>流水号: {{detail.rechargenum}} </span>
        <span class="marginleft10">摘要: POS充值</span>
    </h3>
    <h3>
        <span>
            日期: {{detail.paytime}}
        </span>
        <span class="marginleft10">
             金额: {{detail.amount}}元
        </span>
        <span class="marginleft10">
            资金账户: 预付款账户
        </span>
    </h3>
    <h3>
        <span>备注:{{detail.rechargedesc}}</span>
    </h3>
    <h1>请在POS机上输入流水号，获取充值订单数据，完成充值。</h1>
    <div  class="marginleft10">
        <button type="button"  class="btn btn-warning btn-sm" style="width: 100px" ng-click="checkIncome()">已支付</button>
    </div>
</div>