<!-- 模态窗口start -->
<div class="modal fade" id="viewGoodsStockCheckDetailId" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" >
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">仓库盘点明细</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid h_billingContent" style="background-color: white;">
                         <div>
                              <span style="font-weight:normal;font-size:12px;">单号：{{checkDetailLists.goodsstockchecknum}} &nbsp;&nbsp;入库日期：{{checkDetailLists.createdtime|limitTo:10}}&nbsp;&nbsp;制单人：{{checkDetailLists.createdbyname}}</span>
                         </div>
		            <table class="table table-striped table-bordered" >
	                    <thead>
	                        <tr style="border:1px solid #ccc;" >
	                            <th></th>
	                            <th style="text-align:center;">商品编码</th>
	                            <th style="text-align:center;">商品名称</th>
	                            <th style="text-align:center;">条形码</th>
	                            <th style="text-align:center;">商品规格</th>
	                            <th style="text-align:center;">系统库存</th>
	                            <th style="text-align:center;">盘点库存</th>
	                            <th style="text-align:center;">盘盈盘亏</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="items in checkDetailLists.goodsstockchecklist  track by $index"  style="border:1px solid #ccc;">
	                            <td>{{$index + 1}}</td>
	                            <td style="color:#888;">{{items.goodssn}}</div></td>
	                            <td style="color:#888;">{{items.goodsname}}</td>
	                            <td style="color:#888;">{{items.barcode}}</td>
	                            <td style="color:#888;">{{items.goodsspec}}</td>
	                            <td style="color:#888;">{{items.goodsqty}}</div></td>
	                            <td style="color:#888;">{{items.checkqty}}</td>
	                            <td style="color:#888;">{{items.differqty}}</td>
	                        </tr>
	                    </tbody>
                    </table>
				</div>
			</div>	
			<div class="modal-footer">
				 <button type="button" class="btn btn-default" ng-click="printContent()" data-dismiss="modal">打印</button>
				<button type="button" class="btn btn-default" ng-click="closeModal()" data-dismiss="modal">关闭</button>
				<!-- <button type="button" class="btn btn-primary">保存</button> -->
			</div>
		</div>
	</div>
</div>
<!-- 模态窗口end -->