<div class="container well well-lg">
	<div class="row clearfix">
		<div class="column col-md-12" style="margin-top:10px">
			<form class="form-inline" role="form">
				<div class="column col-md-12 col-sm-12">
					<label class="col-md-1 control-label"> 时段选 </label>
					<div class="col-md-2">
						<input ng-model="formData.begincreatedtime"
							data-date-format="yyyy-MM-dd" data-date-type="string"
							data-autoclose="1" bs-datepicker placeholder="日期格式为：yyyy-MM-dd"
							class="form-control" type="text"
							style="border: solid 1px #D7D7D7;height: 30px" />
					</div>
					<label class="col-md-1 control-label"> 到 </label>
					<div class="col-md-2" style="padding-left: 0px;">
						<input ng-model="formData.endcreatedtime"
							data-date-format="yyyy-MM-dd" data-date-type="string"
							data-autoclose="1" bs-datepicker placeholder="日期格式为：yyyy-MM-dd"
							class="form-control" type="text"
							style="border: solid 1px #D7D7D7;height: 30px" />
					</div>
					<div class="input-group column col-md-4 col-sm-4">
						<Button class="btn btn-primary"
							ng-click="queryGoodsStockCheckList();" style="margin-left:10px;">查询</Button>
					</div>
					<div class="input-group column col-md-1 col-sm-4">
						<Button class="btn btn-primary" ng-click="addGoodsStockCheck();"
							style="margin-left:10px;">新增</Button>
					</div>
				</div>
			</form>
			<!-- ui-grid of Tree View  -->
			<div id="grid" ui-grid="gridOption" ui-grid-cellNav
				ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
				ui-grid-auto-resize class="grid" style="margin-top:100px;"></div>
			<!-- 查看盘点明细详情  模态窗口 -->
			<div ui-view="viewGoodsStockCheckDetail"></div>
		</div>
	</div>
</div>