<div class="clearfix well-lg" style="height:100%;overflow: auto;position: relative;padding-right:0px;padding-top: 0px;background-color: #f7f7f7;" on-finish-render-filters="groupPanel" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{autoResize:true,show:true}">
    <div class="row" align="center" ng-repeat="item in items" style="margin-bottom:20px;">
	    <div style="padding:3px 50px;" >
	        <div class="caption text-left">
	              <!-- 模块标题 -->
	              <div class="col-md-12" style="padding-right: 100px;">
	                  <b><span class="pull-left" ng-bind="item.o_resourcename"></span></b>
	                  <span class="masget-upArrow" ng-class="{true:'',false:'masget-downArrow'}[item.isfold]" ng-click="toggle(item.o_osresourceid)"></span>
	                  <div class="masget-divider" style="border-top: 1px solid #fff;"></div>
	              </div><br/>
	              <!-- 模块功能 -->
	              <div class="col-md-12" style="text-align: center;">
                      <div class="col-md-2 col-xs-4 masget-caption" ng-repeat="itemChild in item.children" ng-hide="item.isfold">
                              <a role="button" class="btn btn-default" ng-click="packageClick(itemChild);">
                                  <b class="hidden"></b>
                                  <img class="img-thumbnail" style="background-color: transparent;border: 0px;width: 48px;height:48px;" ng-src="upload/images/resources/{{itemChild.o_icon}}" err-src="static/img/base/ui/company1.png" /><br/>
                                  <span style="position: relative;left:-3px;">{{itemChild.o_resourcename}}</span>
                              </a>
                      </div>
	              </div>
	        </div>
	    </div>
	</div>
</div>
