<div class="row" ng-controller="inSearchTunnelController" style="padding: 0px;margin: 0px; padding-top: 10px;">
	<!--start form  -->
		<form class="form-horizontal h_tunnelmanagerForm" role="form">
     <div class="form-group">
     	<label class=" col-md-1 col-sm-2 h_mb5 control-label">
        内部终端号
        </label>
        <div class=" col-md-2 col-sm-4 h_mb5">
            <input type="text" class="form-control input-sm"  placeholder="内部终端号" ng-model="getexternalDataForm.internalterminalcode" />
        </div>
        <label class=" col-md-1 col-sm-2 h_mb5 control-label">
       内部商户名称
        </label>
		<div class=" col-md-3 col-sm-4 h_mb5">
			 <input type="text" class="form-control input-sm"  placeholder="内部商户名称" ng-model="getexternalDataForm.internalmernamename" />
		</div>
		<label class=" col-md-1 col-sm-2 h_mb5 control-label">
       内部组
        </label>
		<div class=" col-md-2 col-sm-4 h_mb5">
			<select class="form-control input-sm" ng-model="getexternalDataForm.interterminalgroupsname">
                <option value="">--请选择--</option>
                            <option ng-repeat="item in interterminalgroupsnameData">{{item.interterminalgroupsname}}</option>
            </select>
		</div>
        <div class=" col-md-1 col-sm-2 h_mb5 col-md-offset-0 col-sm-offset-2">
            <button id="btn_search" type="button" style="width:70px;" class="btn btn-primary btn-block btn-sm" ng-click="getInterData()"><span class="glyphicon glyphicon-search"></span>&nbsp;查询</button>
        </div>

     </div>
    </form>
    <!--end form  -->
	<!--start-->
		<div ui-grid="gridOptions" ui-grid-pagination  ui-grid-tree-view class="grid"></div>
	<!--start-->
</div>

