<div class="row" ng-controller="externalterminalController" style="padding: 0px;margin: 0px">
	<h3 style="margin:0 auto 15px; text-align:center;">外部终端号管理</h3>
	<!--start form  -->
		<form class="form-horizontal h_tunnelmanagerForm" role="form">
     <div class="form-group">
     	<label class=" col-md-1 col-sm-2 control-label h_mb5">
        外部终端号
        </label>
        <div class=" col-md-3 col-sm-4 h_mb5">
            <input type="text" class="form-control input-sm"  placeholder="外部终端号" ng-model="getexternalDataForm.externalterminalcode" />
        </div>
        <label class=" col-md-1 col-sm-2 control-label h_mb5">
       状态
        </label>
        <div class=" col-md-2 col-sm-4 h_mb5">
            <select class="form-control input-sm" ng-model="getexternalDataForm.externalterminalcodestatus">
                <option value="">--请选择--</option>
                <option ng-repeat="o in externalterminalcodestatus" value="{{o.value}}">{{o.name}}</option>
            </select>
        </div>
        <label class=" col-md-1 col-sm-2 control-label h_mb5">
       是否绑定
        </label>
		<div class=" col-md-2 col-sm-4 h_mb5">
			<select class="form-control input-sm" ng-model="getexternalDataForm.flag">
                <option value="0">--请选择--</option>
                <option ng-repeat="o in flag" value="{{o.value}}">{{o.name}}</option>
            </select>
		</div>
            <div class=" col-md-1 col-sm-2 h_mb5 col-md-offset-0 col-sm-offset-2">
                <button id="btn_search" type="button" style="min-width:70px;" class="btn btn-primary btn-block btn-sm" ng-click="getexternalData()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
            </div>

     </div>
    </form>
    <!--end form  -->
    <div class="h_uigrid_actionBar" style="border:1px solid #ddd; padding:5px; background: #f5f5f5; clear: both; overflow: hidden;">
        <button type="button" style="width:70px; float: left; margin-right:10px;" class="btn btn-block btn-info btn-xs" ng-click="setInterState_E()"><span class="glyphicon glyphicon-saved"></span>&nbsp;启用</button>
        <button type="button" style="width:70px; float: left; margin-top:0;" class="btn btn-block btn-info btn-xs" ng-click="setInterState_D()"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;停用</button>
    </div>
    <!--start table-responsive-->
    	<div class="table-responsive">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns class="grid" ></div>
        </div>
    <!--end table-responsive-->

</div>

