<div class="container well well-lg">
	<div class="row clearfix">
		<div class="column col-md-12" style="margin-top:10px">
			<form class="form-inline" role="form">
				    <div class="column col-md-12">
 						<div class=" col-md-1 col-sm-1 " style="margin-top: 1px;  "  ng-show="formData.notHasGoodsId">
							 <select   class="form-control input-sm"  ng-change="queryTypeChange()"  ng-model="formData.queryType" ng-options="item.displayid as item.displayname for item  in formData.queryTypes">
							</select>
						</div>
						<div class="form-group column col-md-2 col-sm-2"  ng-show="formData.queryTypeSelected" style=" margin-left: 35px;">		
							 <input  name="orderstate" class="form-control width100per"	ng-model="formData.keywords" placeholder="商品名称/编码/条形码/关键字" ></input>
						</div>
						<div class="form-group column col-md-2 col-sm-2"  ng-show="formData.queryTypeSelected1"  style=" margin-left: 35px;">
							<nested-combo-box  control-disabled="false" change-event="changeItem"  collection="classifycombotree" current-member="activeCategoryItem"  />
						</div>
                        <span  class="col-md-1 col-sm-1"   ng-show="formData.notHasGoodsId"></span>
         				 <span class="col-md-1 col-sm-2 " style="text-align: center; margin-top: 4px;"> 时段选</span>
						 <div class="col-md-2 col-sm-2">
							<input ng-model="formData.begincreatedtime"
								data-date-format="yyyy-MM-dd" data-date-type="string"
								data-autoclose="1" bs-datepicker placeholder="yyyy-MM-dd"  data-container="body"
								class="form-control" type="text"
								style="border: solid 1px #D7D7D7;height: 30px;width: 150px;" />
						</div>
						<label class=" " style="text-align: center; margin-top: 4px;float:left;margin-right:25px;"> 到 </label>
						<div class="col-md-2 col-sm-2" style="padding-left: 0px;">
							<input ng-model="formData.endcreatedtime"
								data-date-format="yyyy-MM-dd" data-date-type="string" data-container="body"
								data-autoclose="1" bs-datepicker placeholder="yyyy-MM-dd"
								class="form-control" type="text"
								style="border: solid 1px #D7D7D7;height: 30px;width: 150px;" />
						</div>	
						<span  class="col-md-1 col-sm-1" ></span>
						<div class="input-group column col-md-1 col-sm-2">
						    <Button class="btn btn-primary" ng-click="queryGoodsStockInOutList()"
							    style="margin-left:10px;">查询</Button>
					    </div>	
				    	<div class="input-group column col-md-1 col-sm-2">
							   <Button class="btn btn-primary" ng-click="backGoodsStockList()"
							    style="margin-left:10px;">返回</Button>
						    </div>
                    </div>
			</form>
			<!-- ui-grid of Tree View  -->
			<div id="grid" ui-grid="gridOption" ui-grid-cellNav   ui-grid-move-columns
				ui-grid-resize-columns  ui-grid-pagination
				ui-grid-auto-resize  class="grid" style="margin-top:50px;"></div>
			<!-- 查看盘点明细详情  模态窗口 -->
			<div ui-view="viewGoodsStockOutDetail"></div> 
			<div ui-view="viewGoodsStockInDetail"></div> 
		</div>
	</div>
</div>