<div class="h-goodsAddClass" style="float:left;">
	<select class="form-control h_border-right-radius0" ng-model="formdata.companygoodsclassifyid" style="width:222px;">
		<option value="" style="color:#c2c2c2;">请选择商品组织</option>
		<option ng-repeat="item in goodsClass"
			value="{{item.companygoodsclassifyid}}">{{item.companygoodsclassifyname}}</option>
	</select>
</div>

<!--start 弹窗  -->

<span class="input-group-btn">
       <a  data-target="#hmodal-container" data-toggle="modal" class="btn btn-default h_border-left-radius0">
           <span class="glyphicon glyphicon-plus"></span>
       </a>
</span>
<div class="modal fade" id="hmodal-container" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<form >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">新增商品组织</h4>
				</div>
				<div class="modal-body">

					<ul id="h-goodsAddClassBox">
						<li>
							<span class="fl"><label>上级分类:</label></span>
							<div class="h-goodsAddClass fl">
								<select class="form-control"
									ng-model="add_companygoodsclassify_parentid"
									style="width:220px; float:left;">
									<option value="0">顶级分类</option>
									<option ng-repeat="item in goodsClass"
										value="{{item.companygoodsclassifyid}}">{{item.companygoodsclassifyname}}</option>
								</select>
							</div>
						</li>
						<li><span class="fl"><label>分类名称:</label></span>
							<div class="h-goodsAddClass fl">
								<input type="text" class="form-control"
									ng-model="add_companygoodsclassify_companygoodsclassifyname"
									placeholder="输入商品分类名称" />
							</div>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" ng-click="goodsClassAddSubmit()">确定</button>
				</div>
			</div>

		</div>
	</form>
</div>

<!--end 弹窗  -->

