<div class="input-group" id="h_goodsunit-select" style="width:270px;">
     <ui-select allow-clear ng-model="formdata.goodsunit"  theme="bootstrap">
         <ui-select-match placeholder="请选择商品计量单位">{{$select.selected.goodsunitname}}</ui-select-match>
         <ui-select-choices repeat="item in goodsunit">
             <span ng-bind-html="item.goodsunitname"></span>
         </ui-select-choices>
     </ui-select>
     <span class="input-group-btn">
       <button ng-click="onClickShowGoodsUnitModel()" class="btn btn-default">
           <span class="glyphicon glyphicon-plus"></span>
       </button>
     </span>
</div>

<!--start 模态框  -->
<div class="modal fade" id="goodsUnit-viewModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:300px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                   新增商品计量单位
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid well" style=" border: 0px;border-radius: 0px;margin: -15px;">
                    <div class="row row-add-goods">
                        <label  class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-9 control-edit">
                            <input type="text" class="form-control"  ng-model="modelGoodsUnitData.goodsunitname" placeholder="请输入计量单位名称"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  ng-click="addGoodsUnit()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--end 模态框  -->