<!--start 类目属性 -->
<div class="form-group">
	<label class="col-sm-2 control-label">商品类目</label>
  <div class="col-sm-3" >
  		<input type="text" class="form-control" ng-model="formdata.categoryname" readonly="true" disabled="disabled"  />
  </div>
</div>
<!--end 类目属性-->


<!--start 商品属性 -->
<div ng-if="formdata.categoryid ==3"   class="form-group">
 	<label  class="col-sm-2 control-label">商品属性</label>
  <div class="col-sm-10">
	<ul id="h-goodsAddSx">
		<li ng-repeat="x in categoryAttrib">
			<span class="fl"><label>{{x.attribname}}:</label></span>
			<div class="h-goodsAddClass fl" ng-if="x.inputtype==1">
				<input type="text" class="form-control" placeholder="请输入" ng-model="x.attribproperties"/>
			</div>
			<div class="h-goodsAddClass fl"  ng-if="x.inputtype!=1">
				<select class="form-control" ng-model="x.attribproperties">
				<option value="" style="color:#c2c2c2;">---请选择---</option>
				<option ng-repeat="item in x.properties" value="{{item}}">{{item}}</option>
				</select>
				<span class="h-ng-inputSelect">
				<input type="text"  ng-model="x.attribproperties" placeholder="可以输入或下拉选择">
				</span>
			</div>
		</li>
	</ul>	
  </div>
</div>
<!--end 商品属性 -->

<!--start 销售属性 -->
<div ng-if="formdata.categoryid ==3" class="form-group">
 	<label  class="col-sm-2 control-label">销售属性</label>
  <div class="col-sm-10">
  <!-- start h-categorySKUAttrib -->
  <div id="h-categorySKUAttrib">
  	<!-- start h-categorySKUAttrib-box -->
  		<div class="h-categorySKUAttrib-box">
  			<h3 class="h-categorySKUAttrib-title">请选择商品规格:</h3>
  			<ul class="h-categorySKUAttrib-ul">
			<li ng-repeat="x in formdata.goodsskuattrib">
				<label><input type="checkbox" ng-model="x.ddchecked" ng-init="x.ddchecked=true" disabled /><span>{{x.attribname}}</span></label>
			</li>
			</ul>	
  		</div>
<!-- end h-categorySKUAttrib-box --> 
<!-- start h-categorySKUAttrib-btn -->
<div class="h-categorySKUAttrib-btn">
	<button type="btn btn-default" ng-click="h_addRow()">添加规格商品</button>
</div>
<!-- end h-categorySKUAttrib-btn -->

<!-- start h-categorySKUAttrib-table -->
<table class="table">
  <thead style="background:#f1f8ff;">
      <tr>
        <th ng-repeat="x in skuattribs">{{x.attribname}}</th>
		<th width="80">价格</th>
        <th width="80">货号</th>
        <th width="80">SKU编码</th>
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="tr in oldsku">
        <td ng-repeat="x in tr.tempproperties">
			<input  type="text" ng-model="x.attribproperties" class="form-control" disabled/>
        </td>
        <td width="80"><input type="number" ng-model="tr.price"  min="0"  class="form-control h-formInput"/></td>
        <td width="150"><input type="text" ng-model="tr.barcode" class="form-control h-formInput"/></td>
        <td width="150"><input type="text" ng-model="tr.skuname" class="form-control h-formInput"/></td>
        <td width="80">
        	<!-- <a href="#"  class="btn btn-default disabled h_btn_disabled" title="不可删"><span class="glyphicon  glyphicon-trash"></span></a> -->
        </td>
      </tr>	
    	
      <tr ng-repeat="tr in goodssku">
        <td ng-repeat="x in tr.tempproperties">
        	<div class="h-goodsAddClass" style="width:auto;">
				<select class="form-control" ng-model="tr.selected_properties[x.attribproperties]">
					<option value="" style="color:#c2c2c2;">---请选择---</option>
					<option ng-repeat="item in x.properties" value="{{item}}">{{item}}</option>
				</select>
				<span class="h-ng-inputSelect">
					<input type="text"  ng-model="tr.selected_properties[x.attribproperties]" placeholder="可输入或下拉选择">
				</span>
			</div>
        </td>
        <td width="80"><input type="number" ng-model="tr.price"  min="0"  class="form-control h-formInput"/></td>
        <td width="150"><input type="text" ng-model="tr.barcode" class="form-control h-formInput"/></td>
        <td width="150"><input type="text" ng-model="tr.skuname" class="form-control h-formInput"/></td>
        <td width="80">
        	<a href="#" class="red-txt" title="删除" ng-click="h_delRow(tr.id)"><span class="glyphicon  glyphicon-trash red"></span></a>
        </td>
      </tr>
    </tbody>
</table>
<!-- end h-categorySKUAttrib-table -->

</div>
 <!-- start h-categorySKUAttrib -->		
  </div>
</div>
<!--end 销售属性 -->



