@CHARSET "UTF-8";

.ui-grid-tree-header-row{
  font: 15px/1.5 arial, \5b8b\4f53;
  color: #555;
  font-weight: 100 !important;
}
.well {
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
}
form label {
	font-weight: normal;
}
.masget-top{
    overflow:hidden;
    position: fixed;
    top:60%;
    left:43%;
    z-index:1151;
}
.grid{
  width: 100%;
  height: 580px;
}
.ordersForm div.form-group label {
    font-weight: normal;
    color: #666;
    width: 120px;
    text-align: right;
}
.ng-messages-error{
	margin-left: 100px;
	margin-top:-12px;
	color:red;
}
.haserror .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.haserror .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.panelDecorate:HOVER{
	border-color:red ;
}
.panelDecorate span{
	cursor:default;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
}
.dc{
	background-color: #efefef;
}
.modal-backdrop.in {
    opacity: 0.0;
}

.green{
	color:green;
}
.red{
	color:red;
}
.borderBottom1px{
	border-bottom:1px solid #6E6E6E;
}
.margin0px{
	margin: 0px;
}
.padding0px{
	padding: 0px;
}
.borderBottom10px{
	border-bottom:1px solid #6E6E6E;
}
.marginBottom10px{
	margin-bottom: 10px;
}
.marginTop{
	margin-top: 18px;
}
.marginTop10px{
	margin-top: 10px;
}
.textCenter{
	text-align: center;
}

/*ui-grid*/
.ui-grid-header-cell-wrapper {
    position: relative;
    display: table;
    box-sizing: border-box;
    height: 100%
}

.ui-grid-header-cell-row {
    display: table-row;
    position: relative
}

.ui-grid-header-cell {
    background-color: #F3F3F3;
    font-size:12px;
    color:#555;
    padding:5px;
    border-right: 1px solid #D6DEE3;
    text-align:center;
}

/*table-striped*/
.ui-grid-row:nth-child(odd) .ui-grid-cell{background-color:#f9f9f9; border-bottom:1px solid #D6DEE3!important;}
.ui-grid-row:nth-child(even) .ui-grid-cell{background-color:#fff; border-bottom:1px solid #D6DEE3!important;}
.ui-grid-canvas{padding-top:0;}
.ui-grid-cell-contents{font-size:12px; color:#555;}
.ui-grid-canvas div.ui-grid-row.ng-scope{height:30px!important;}
.ui-grid-canvas div.ui-grid-row.ng-scope:hover{ background-color:#e6f3f8!important;}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell{
  /* background-color: #c9dde1; */
  background-color:#e6f3f8;
}
.ui-grid-canvas .ng-scope{height:30px;}
.ui-grid-cell-focus{height:100%; width:100%; background-color:#e6f3f8;}
