<div class="container well well-lg"	>
   	<div class="row clearfix">
		<div class="column col-md-12"  style="margin-top:10px;">
		    <div class="column col-md-12">
		        <div class="column col-md-2">
					<span class="nullable">
						<select name="addressgroupid" class="form-control" ng-model="ctformData.addressgroupid" ng-options="item.addressgroupid as item.addressgroupname for item in ctformData.addressgroupList">
						    
						</select>
				    </span>
		        </div>
		        <!-- <div class="column col-md-2">
					<span class="nullable">
						<select name="enableflag" class="form-control" ng-model="ctformData.enableflag" ng-options="item.enableflag as item.name for item in ctformData.enableflagList">
						    
						</select>
				    </span>
		        </div> -->
		        <div class="column col-md-2">
		            <input class="form-control" ng-model="ctformData.subcompanyname" placeholder="请输入经销商名称"/>
		        </div>
		        <div class="column col-md-1">
		            <Button class="btn btn-primary" style="width:100%;background-color:#1596ad !important;border-color:#1596ad;border-radius:0px;" ng-click="contactorinfoSearch()">
		                查询
		            </Button>
		        </div>
		        <div class="column col-md-4">
		        </div>
		        <div class="column col-md-1">
		            <Button class="btn btn-default btn-primary" style="width:100%;background-color:#1596ad !important;border-color:#1596ad;border-radius:0px;" ng-click="add_state()">
		                <span class="glyphicon glyphicon-plus"></span>新增
		            </Button>
		        </div>
		    </div> 
		    <!-- ui-grid of Tree View  -->
			<div id="grid" ui-grid="gridOption" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination ui-grid-auto-resize class="grid" style="margin-top:70px;padding-left:0px;height:600px;"></div>
		</div>
	</div>
</div>
<style type="text/css">
.well{
    padding-left:20px;
    padding-right:20px;
}
</style>