<div class="col-md-12 column" ng-controller="CategoryController" style="padding: 0px;margin: 0px" >
   	<div class="col-md-12 column" style="padding-left: 0px;"> 
	    <div class="col-md-3">
	        <input type="text" class="form-control" placeholder="请输入分类名称"  ng-model="queryCategorys.categoryname" style="width: 100%">
	    </div>
	    <div  class="pull-left" style="margin-left: 12px;">
	         <button id="btn_search" type="button" class="btn btn-primary btn-block btn-sm" ng-click="onClickToQuery()"><span class="glyphicon glyphicon-search"></span>&nbsp;查 询</button>
	    </div>
	    
	    <div class="pull-left" style="margin-left: 10px;">
	        <button id="btn_add" type="button" href="#" data-toggle="modal" data-target="#category-container" class="btn btn-primary btn-block btn-sm" ng-click="onBtnClickAdd()"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增</button>
	    </div>    
	</div>

	<div class="col-md-12" style="margin-top: 20px;">
	    <div id="grid1" ui-grid="CategorygridOptions" ui-grid-tree-view ui-grid-pagination class="grid" style="height: 550px;"></div>
	</div>
	
	<div class="col-md-12 column" >
        <div ui-view="add"></div>
    </div>
</div>	

