<div class="masget-contentPanel-inner" on-finish-render-filters="notice" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{autoResize:true,show:true}">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="background-color: #F7F7F7;">
        <li role="presentation" class="active"><a role="tab" data-toggle="tab" style="background-color: inherit;">系统通知</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" style="background-color: inherit;">部门公告</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top:10px;">
        <div role="tabpanel" class="tab-pane active">
            <div class="list-group" style="padding: 5px 20px;">
                <a ng-show="SysMessages.length == 0" class="list-group-item" style="cursor:pointer;">暂无消息</a>
                <a ng-repeat="msg in SysMessages" ng-click="toDetailView(msg);" class="list-group-item" style="cursor:pointer;">{{msg.message.ordername}}<span class="badge">{{msg.message.systemtime}}</span></a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane">
            <div class="list-group"  style="padding: 5px 20px;">
                <a ng-show="Announcements.length == 0" class="list-group-item">暂无消息</a>
                <a ng-repeat="msg in Announcements" class="list-group-item">Alan<span class="badge">1</span></a>
            </div>
        </div>
    </div>

</div>