@media all and (min-width: 501px) and (max-width:900px) {
    #find .col-sm-12{
        width: 100%;
    }
    #main .Mulye .muall .liaue_1{
        width: 49%;
    }

    #leagueapplyListForm .col-sm-3{
        width: 50%;
        float: left;
    }

    #leagueapplyListForm .form-control,#routinginfoForm .form-control{
        display: inline-block;
    }

    #leagueapplyListForm .form-group{
        margin-bottom: 10px;
    }
    #routinginfoForm .col-sm-6{
        width: 50%;
        float: left;
    }

}

@media all  and (max-width:500px) {
    #find .col-sm-12{
        width: 100%;
    }
    #main .Mulye .muall .liaue_1{
        width: 99%;
    }

    #leagueapplyListForm .col-sm-5,#leagueapplyListForm .col-sm-2,#leagueapplyListForm .col-sm-3{
        width: 100%;
    }

    #leagueapplyListForm .form-control,#routinginfoForm .form-control{
        display: inline-block;
    }
    #leagueapplyListForm .form-group{
        margin-bottom: 10px;
    }
    #routinginfoForm .col-sm-6{
        width: 100%;
    }
    #routinginfoForm {
        height: 160px !important;
    }
}