

/* 顶部操作栏 */
/*lgn*/
.category{padding:0 18px;margin:18px 0;color:#555}
.category .subject{line-height:34px;font-size:14px;font-weight:bold;float:left;display:inline;margin-right:10px}
.category .ui-tab{border-left:1px solid #cfcfcf;margin:0;padding:0;list-style-type:none}
.category .ui-tab li.cur{background-color:#eaeaea;font-weight:700;box-shadow:inset 0 0 3px rgba(0,0,0,.15)}
.category .ui-tab li{float:left;padding:0 16px;height:34px;line-height:34px;border:1px solid #cfcfcf;border-left:none;background-color:#fff;text-align:center;font-size:14px;color:#555;cursor:pointer}


/*新增模板*/
/*lgn*/
.add_subject{height:100%;overflow:auto;position:relative;margin:auto}
.add_subject .main{width:450px;padding:0 30px;}
.add_subject .main .form-control{display: inline-block;width: 240px;}
.add_subject .main .spanMargin{display: inline-block;margin-right: 8px;}
.add_subject .main .radioMargin{margin: 4px;}

/*表格*/
/*lgn*/
.subtable{
    float: left;
    width: 100%;
    margin: 12px auto;
}
.subtable table>thead>tr>th,td{
    text-align: center;
}

.subtable .operating{
    width: 90%;
    display: inline-block;
}
.subtable .operating a{
    cursor: pointer;
    margin: 0 5px;
}
.subtable .operating a:hover >i{
    text-decoration: none;
    color:#509DF4;
}
.subtable .operating a>i{
    color: #808080;
}